[2022-04-12 23:08] unsoo20 commented on #776
I am contacting you because I have some hopeful news for you.

I played 'fun-bots-2.5.0' on 'SERVER 18476' for more than 3 hours, but there was no server down.
The setting was in the 'Use air vehicles' 'No'.

However, after three hours, I changed it to 'Use air vehicles' 'Yes'.
Then, it was confirmed that Bot had a problem after getting on an attack helicopter, especially a transport helicopter.

[2022-04-13 06:07] shuparupa commented on #776
@unsoo20 on infantry maps without vehicles (Close Quarters, Aftermath) the same problem.

[2022-04-13 06:15] unsoo20 commented on #776
If you ever played a map with vehicles first, crashes occurred on any map after that.

[2022-04-13 06:16] unsoo20 commented on #776
If you ever played a map with vehicles first, crashes occurred on any map after that.

[2022-04-13 06:37] shuparupa commented on #776
@unsoo20 i put it in rotation only infantry maps master gun mod, and straight in the first round crash.

upd: no difference. Put a fun-bots-2.5.0-rc2, launched the server and played only infantry maps. On 4th round crash.
 VEXT: [string "BotSpawner.lua"]:1148: _SpawnBot

[2022-04-13 19:34] unsoo20 commented on #776
Isn't the server timeout the cause of the automatic shutdown after about 2-3 hours?
Maybe it has something to do with the origin account?

[2022-04-13 20:20] Joe91 commented on #776
Thanks for this new information.
@unsoo20 : the error with the missing data you saw in the console should be fixed in the latest dev-commit:

https://github.com/Joe91/fun-bots/tree/dev

@OrfeasZ : If the trace is correct it always leads to the "soldier:ApplyCustomization()". I'm really having a hard time here to identify what could cause the issue there. If I don't call this function at all or wit

[2022-04-13 21:11] OrfeasZ commented on #776
@Joe91 I'm not entirely sure. Right now the only odd thing about `ApplyCustomization` is that it leaks the datacontainer you pass to it (ie. those datacontainers stay in memory forever), but I don't see how this could cause issues. I've looked at the crash dumps and it does indeed crash in `ApplyCustomization` and it is related to the datacontainer being passed in. Here's a wild shot but you can t

[2022-04-14 06:27] shuparupa commented on #776
@Joe91
In CQ / RUSH 16x16 or 12x12, in GunMaster by default - does not affect the error rate.
I tried "use_load_bundle_bugfix true", - did not help
[STRING "BOTSPAWNER.LUA"]: 1181: _Spawnbot

[2022-04-14 19:54] Joe91 commented on #776
Okay, I added a list to keep the references. Here is the new version:
https://github.com/Joe91/fun-bots/releases/tag/v2.5.1-dev2
@shuparupa and @unsoo20 : can you updtate to this version and give it another try?

[2022-04-14 20:13] shuparupa commented on #776
@Joe91 I'm sorry, but fun-bots-2.5.1-dev2
---------------------------
[string "BotSpawner.lua"]:1192: _SpawnBot

[2022-04-14 20:17] Joe91 commented on #776
wow, that was fast ^^.
Then I'm really out of ideas for the moment. Are there some errors in the server before it crashes?
How many bots are you using?

[2022-04-14 20:29] shuparupa commented on #776
The error manifested immediately after 2 minutes of the game (Ziba, GunMaster, 12x12 by default)
First appears error window, bots freeze in their places, then transfers in the VU menu with the inscription "server disconnect, =close="

[2022-04-15 00:09] OrfeasZ commented on #776
Does it consistently happen within the first few minutes of gameplay on the map / gamemode? If so, could you share your Startup.txt (you can remove any passwords), your Maplist.txt and any other mods you're running?

[2022-04-15 01:41] unsoo20 commented on #776
In my case('fun-bots-2.5.1-dev2'),
the server went down about 30 minutes after playing.

Crash ID: 1fac850d-bfd2-4872-87b0-a423eeeb5617
Build Number: 18476
Release Branch: prod

I was able to play well without server down for about 2 hours when it was 'fun-bots-2.5.0' in 'SERVER 18476.
But since the first server down two hours later, I've seen the second, third, and fourth down cycles get shorter

[2022-04-15 04:59] unsoo20 commented on #776
If you want, I will give you an account that can access my server remotely. I usually run a server between PM5 and AM1 in Seoul time in Korea.

[2022-04-15 05:26] Joe91 commented on #776
When there are more Players the load and amount of NetEvents increases. Maybe the Garage-Collection is not able to keep up at some point?
Maybe I can search for memory-leaks.

[2022-04-15 08:00] Joe91 commented on #776
When these datacontainer stay in memory forever it might be only a thing of time before there is too much. Maybe something else also fills the memory and this is the thing that is too much.

[2022-04-15 09:20] Joe91 commented on #776
@unsoo20 and @shuparupa : I made another change and tried to reduce the netevents between server and Client. This might result in other issues since I was not able to test this yet, but maybe this increases the stability.
Would you mind to test this version?
I hope I find some time soon with some friends for closer debugging in case of multible players...
https://github.com/Joe91/fun-bots/releases

[2022-04-15 09:22] unsoo20 commented on #776
Yes, of course. I'll test it with a happy heart!

[2022-04-15 09:52] unsoo20 commented on #776
The server went down within 20 minutes of playing(v2.5.1-dev3). The bot was 20x20 and 2 people connected and played. So far, (v2.5.0) has been rather stable.

[2022-04-15 11:22] shuparupa commented on #776
@OrfeasZ don't often, approximately every in 6-10 rounds (depending on the game mod - more often in GunMaster)
[Startup.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8495612/Startup.zip)
@Joe91 this is how it happens: https://dai.ly/x8a0l4l

[2022-04-15 11:26] OrfeasZ commented on #776
This does indeed look like a memory exhaustion issue, though not sure why it would also happen on the client. Will need to investigate further.

[2022-04-15 12:24] Joe91 commented on #776
Are there good ways to trace the memory-usage and to identify possible leaks? Then I can add them for debugging...

[2022-04-15 12:29] OrfeasZ commented on #776
Not really. Only thing you can do is just verify that it's a memory issue. The easiest way I've found of doing that is by using Process Hacker and looking at the Virtual memory usage of the main VU process. If it gets dangerously close to around 3.8GB then it's most likely a memory issue, and around that point you should start seeing artifacts like the ones in the video above.

[2022-04-15 14:51] unsoo20 commented on #776
Server down seems to appear quickly even if there is more than one player other than me, and it seems to appear relatively late when playing alone.

[2022-04-15 15:10] Joe91 commented on #776
@shuparupa does it also crash without GunMaster for you at the same line? Maybe there are different issues since GunMaster is kind of special in some ways...

[2022-04-15 15:35] shuparupa commented on #776
@Joe91 the same problem, in other modes too. The round in GunMaster is shorter than three times and intensity, maybe that's why it seems often.

upd: now i played non-stop > 2.5 hours before crashes.
Oman-Rush/Scrapmetal-GM/Caspian-CQ/Ziba-GM/Scrapmetal-TDM/Firestorm-CQ/ - Ok, Monolith-GM ~7 min - crash.
CQ/Rush 16x16, GM 12x12, TDM 8x8.

[2022-04-16 07:31] Joe91 commented on #776
Haven't seen anything strange with the memory-usage at all. It now happened on my system as well and there was no other error in the console in this moment.
It still leads to the ApplyCutomization line...

If there is any other thing that I can do to help please let me know.

It really happens faster with GunMaster. Not using this method at all crashes the server on the first respawn.

[2022-04-16 08:00] Joe91 commented on #776
@OrfeasZ would it be possible to print some errors/information when there is something strange in this function in a dev-version of VU?
Then we could read those out of the console with an attached denugger and maybe find the reason for this...

[2022-04-16 10:49] Joe91 commented on #776
@OrfeasZ I noticed something: everytime i spawn a new bot, I create a local CustomizeSoldierData. These get placed in the storage in always higher addresses. So maybe they will exceed the limit at one point and get corrupted?
I tried to use a list these CustomizeSoldierData, but this just crashes directly about when using the old CustomizeSoldierData again...
Does this make sense or is this someth

[2022-04-16 19:24] Joe91 commented on #776
after some more investigation: It seems that the CustomizeSoldierData won't leave the memory anymore, after the weapons are added to it. So if I print every CustomizeSoldierData I can clearly see, that not a single addresss is used twice.
When trying to create a new DataContainer out of the last one this works two or three times, but then it crashes without useful traces at all.
Here is the log sh

[2022-04-18 06:24] Joe91 commented on #776
@kiwidoggie @OrfeasZ , is there anything you can do about this? This problem is reproducable and everyone who hosts a server and uses the bots has this problem.
Some decided to take the server down now.

Is there anything I can do to help with that?
I really tried everything I could think of for now...

[2022-04-18 09:17] OrfeasZ commented on #776
What's the easiest / fastest way to reproduce this?

[2022-04-18 09:27] Joe91 commented on #776
If you play GunMaster there are lots of respawns, so it's the fastest way to use about 12 Bots per Team and just play 1 to 3 rounds.

If you want I can try to modify the bots to just spawn and kill bots until it crashes.
Would that help?
It also crashes directly when you try to use the old Customization again or when you try to create many Customizations at once or in some other cases as well.

[2022-04-18 10:16] OrfeasZ commented on #776
Any way to reproduce this quickly without having to play several rounds would be very helpful.

[2022-04-18 11:39] Joe91 commented on #776
[fun-bots_crash.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8505368/fun-bots_crash.zip)
in this version I just constantly spawn new bots. This crashes the server very fast with the normal mechanic (maximum about 60 s ingame).
I always print the customization-data. If you disable this print it might happen even faster.

[2022-04-18 11:49] Joe91 commented on #776
I tried something else that is much more stable. When keeping all the weapon-unlocks that get applied to the CutomizeSoldierData in tables it is much more stable. Still the memory is not used again anymore, but it does not crash that imidiatly...
Here is the no-crash-version:
[fun-bots_no-crash.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8505415/fun-bots_no-crash.zip)

[2022-04-18 12:05] Joe91 commented on #776
@unsoo20 and @shuparupa
Can you try the normal server with this version:
https://github.com/Joe91/fun-bots/releases/tag/v2.5.1-dev4
It contains the changes I mentioned above. Let's see if this is more stable for you as well...

[2022-04-18 12:08] unsoo20 commented on #776
Yes, of course. I'll tell you the results after the test.

[2022-04-18 19:40] shuparupa commented on #776
@Joe91 played three parts:
1. GM 3 rounds 		~ 42 min
2. GM 6 rounds		~ 90 min
3. TDM/GM 4 rounds	~ 70 min
Crashes were not :)

[2022-04-18 19:52] Joe91 commented on #776
Nice! This is really good news! Were there some errors in the log? If so, can you share them?
I really don't understand why this changed, but maybe the devs can help me understand the reason and avoid such things in future...

[2022-04-18 20:12] shuparupa commented on #776
There were no errors. A couple times I just had this feeling CPU loaded more than usual, but maybe this is due to  -vexttrace -vextdebug arguments. I will keep you updated.

[2022-04-18 20:16] unsoo20 commented on #776
I was able to play comfortably for over 5 hours without a server down. :)
However, when VEHICLE > Use air vehicles 'NO', there was no server down, and when 'Yes', the lag was severe when the bots got on the helicopter.

*The numbers below are in the order played

1. [Good]Operation Metro - Conquest Large
    Bot 24X27, 4 players, keep server FPS 65+
    [error] did not appear at all in the VU Serv

[2022-04-18 20:35] OrfeasZ commented on #776
@shuparupa  `-vexttrace` does have a performance impact, so you can remove it and see if performance is slightly improved.

[2022-04-19 05:47] Joe91 commented on #776
@OrfeasZ : after going through most of the errors there are now some really strange ones:
`for _, l_Attachment in pairs(p_Attachments) do
		local s_Asset = ResourceManager:SearchForDataContainer(l_Attachment)

		if s_Asset == nil then
			m_Logger:Warning('Attachment invalid [' .. tostring(p_UnlockWeapon.weapon.name) .. ']: ' .. tostring(l_Attachment))
		else
			p_UnlockWeapon.unlockAssets:add(Unlo

[2022-04-19 10:37] Joe91 commented on #776
@unsoo20 : Thanks a lot for your Testing-Information!!
I created a new version to maybe improve on some of those errors and to get more detailed information about what's wrong and how to fix them.
Can you update to this version and let me know of further warnings or errors in the log?
https://github.com/Joe91/fun-bots/releases/tag/v2.5.3-dev1

[2022-04-19 10:54] unsoo20 commented on #776
Yes, of course. I'll test it with a happy heart :)

[2022-04-19 20:11] unsoo20 commented on #776
- This time I ran the server for a total of 7 hours and played almost all the maps including Conquest Large, Deathmatch, Gunmaster, and RUSH, and there was no Crash at all.
-'v2.5.3-dev1' has a lower frame than 'v2.5.1-dev4', so I had to reduce the number of bots. Also, the frame of 'v2.5.1-dev4' was less variable and more stable, while 'v2.5.3-dev1' had a slightly larger frame deviation. However,

[2022-04-20 07:43] Joe91 commented on #776
@unsoo20 thanks a lot for your Testing!
The Warning with the SOFLAM will be gone in the next version.

The error that came that often is really strange and I will try to reproduce this in some way. Maybe then @OrfeasZ can find out more about that. Since it is for sure not "nil" I really don't know what to do about destroyed instances and how to detect them...

The issue with the performance of air

[2022-04-20 07:46] unsoo20 commented on #776
I look forward to seeing good results :)

[2022-04-20 07:46] unsoo20 commented on #776
I look forward to seeing good results :)

[2022-04-20 08:36] Joe91 commented on #776
in the meantime you can try if 30 Hz instead of 60 Hz is enough for your server. If so this should be a noticable performance difference... Or are you already running it at 30 Hz?

[2022-04-20 08:45] unsoo20 commented on #776
I always played at 60Hz. This is because the FPS value was higher at 60Hz than at 30Hz.
I'm going to play at 30Hz today. :)

[2022-04-20 14:26] unsoo20 commented on #776
As you can see from the attachment, you can see that '(60 Hz)fun-bots-2.5.1-dev4' has a slightly better frame than '(60 Hz)fun-bots-2.5.3-dev1.  At 30 Hz, the screen was not smooth, so it was a little uncomfortable to play, and other users besides me had similar reactions.

Server CPU share : 17%
Server Memory share : 19%

And when I played the 'Gulf of Oman' map with 'fun-bots-2.5.3-dev1' today,

[2022-04-20 16:31] Joe91 commented on #776
Okay. Thanks for the feedback. Then the only way to improve performance atm is to reduce the amount of bots :-/...

[2022-04-21 21:03] shuparupa commented on #776
Today during the game I got a mistake, with disconnect:
"Login Failed. This account is in use from another location" & "Your server key is already in use"
![login_failed](https://user-images.githubusercontent.com/103362794/164551858-5fdd6fa2-721f-4466-9ae4-9264b534760c.png)

It happened twice, with a difference in a couple of hours. In the middle of the rounds.
Is it slight?

[2022-04-22 16:33] OrfeasZ commented on #776
@shuparupa This can happen when getting disconnected from the backend. We don't have any presence in Asia (which is where I assume you are) so connection to the backend (which is in Germany) can be flaky some times. We'll look into adding relay nodes in Asia, Oceania, and NA at some point, but not sure how much those will help.

@Joe91 that's interesting. I think I may have an idea of what's going

[2022-04-22 19:45] Joe91 commented on #776
Hi @OrfeasZ .
Thanks for that information! I'm not sure if this is the same issue as in #770. It does not happen every time. It happens only in very rare cases and works again after a while or directly after.

For example this function here:
https://github.com/Joe91/fun-bots/blob/master/ext/Server/BotSpawner.lua#L1614
the paths are passed and valid. The DataContainer comes out of the ResourceManag

[2022-04-23 14:43] OrfeasZ commented on #770
My previous assumption seems to be correct. Looking loaded data of this instance, it does indeed look that the `LensFlareEntityData` instance has an internal reference count of `2` when it should have `3`. When both references from the `eventConnections` are removed, it ends up getting destroyed. Currently trying to see if this is standard engine behavior (ie. arrays of instances dont modify refer

[2022-04-23 15:33] OrfeasZ commented on #770
Something very fucky is going on here. It looks like the engine doesn't set reference counts correctly. Mostly everything ends up with a default reference count of `2` but then some instances like [9BDCD16D-7178-44E5-98B1-8E3CA492FE67](https://github.com/EmulatorNexus/Venice-EBX/blob/1b48533a42f9fce794b52b72e9e8bd33541e6b35/Persistence/StatCategories/KitCategories.txt#L61) end up with `9`. This lo

[2022-04-23 16:47] OrfeasZ commented on #779
I am unable to repro this. Could you try again with `18489`?

[2022-04-23 16:48] OrfeasZ commented on #770
Am pushing an experimental fix for this in `18489`. Give it a try and let me know.

[2022-04-23 19:34] FoolHen commented on #779
Seems like it works on `XP2_Skybar TeamDeathMatchC0 2` (not sure if it worked before on this map), but it crashes on `XP5_002 ConquestLarge0 2` which is the map I was testing this on before. Crash info:

Crash ID: fa7d2af2-7dd1-4876-8f4f-100abd8e4996
Build Number: 18489
Release Branch: dev

[2022-04-23 19:49] FoolHen commented on #779
Seems like it doesn't crash every time now, sometimes it works.

[2022-04-29 14:54] JihanLoong opened #780 "VU(18476) has stop working"
Crash ID: 73bb0d21-10ea-4888-ae54-74476ef47337
Build Number: 18476
Release Branch: prod

[2022-05-03 19:46] Joe91 opened #781 "[bug] gamemode scavenger crashes VU with bots"
when playing scavenger with bots, VU crashes directly

how to reproduce:
Just use a normal version of fun-bots and start a scavenger map:
`XP4_FD Scavenger0 2`
a fun-bots-version is attached. Just add this to the Modlist and start the map above.

[fun-bots.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8613763/fun-bots.zip)

As soon as you spawn or after a few bots have spawned the ga

[2022-05-03 20:03] OrfeasZ commented on #781
Does this also happen in prod?

[2022-05-03 20:05] Joe91 commented on #781
Yeah:

[code]

[code]

I think it worked before the big update, but I really didn't play this gamemode at all for quite a while... So could also happend a while ago in the past in either VU or fun-bots... But without a usable trace I can't identify if there is a fun-bots issue...

[2022-05-03 20:10] Joe91 commented on #781
If you can provide me an older version of VU I can try to find out when it stopped working if that would help you...

[2022-05-03 20:37] Joe91 commented on #781
Some old version also crash.

V18330:
[code]

[code]

V18029:
[code]
[code]

It really seems to be like that for a very long time.
I also tried an old verion of fun-bots (a year ago) with the latest prod-version but it still crashes in the same way.

[2022-05-03 20:41] OrfeasZ commented on #781
Seems to be crashing in mesh rendering code in all cases, but can't tell much more correctly. Maybe that gives you a hint.

[2022-05-03 23:56] Dumpy250 commented on #777
No server crash after about 10minutes.
![image](https://user-images.githubusercontent.com/83517134/166604475-e960e2ed-5664-49e0-ac98-fc75da82f372.png)

No client crash:
![image](https://user-images.githubusercontent.com/83517134/166614922-0c7ceae4-2480-456a-9447-9564ab6c8c20.png)

[2022-05-04 02:08] Dumpy250 commented on #770
After being in the server for 6 minutes no crash.

Client:
![image](https://user-images.githubusercontent.com/83517134/166614416-fe0aff30-0884-44bc-9e46-6210fd4c67a0.png)

Server:
![image](https://user-images.githubusercontent.com/83517134/166614442-806eb836-94b7-450a-b8aa-a6edce1f492a.png)

Seems to be fixed now?

[2022-05-04 02:11] #770 closed, assigned to nobody

[2022-05-04 02:11] FlashHit commented on #770
Yep, seems to be fixed.

[2022-05-04 02:17] FlashHit commented on #777
Fixed in 18675.

[2022-05-04 02:17] #777 closed, assigned to nobody

[2022-05-04 02:34] Dumpy250 commented on #598
No crash seems to be fixed now.
![image](https://user-images.githubusercontent.com/83517134/166616176-2e70ffdc-365e-4f7a-8f22-59596a56a815.png)

[2022-05-04 02:35] FlashHit commented on #598
Yep, fixed in 18675.

[2022-05-04 02:35] #598 closed, assigned to nobody

[2022-05-04 03:47] Dumpy250 commented on #771
![image](https://user-images.githubusercontent.com/83517134/166620645-38358cf6-2b04-4671-a638-56c9e13a4ca8.png)

![image](https://user-images.githubusercontent.com/83517134/166620655-07f0e611-7dfb-4fca-8279-a9e932657506.png)

[2022-05-04 14:55] FlashHit commented on #776
@Joe91 this might have been fixed in the latest dev build. Please let us know if that’s the case. Then I will close this issue.

[2022-05-04 15:08] FlashHit commented on #775
@Joe91 this is funbots related. Is this sth that you can fix without VUs help? Or do you think this has to be done with a VU fix?
And can you narrow down the issue? To me it sounds to be an issue with EntryInputs.

[2022-05-04 15:09] FlashHit opened #782 "Collection of crash reports"
- #766
Crash ID: e47c8827-6560-4de8-9b97-7110e8cd1bad
Build Number: 17487
Release Branch: prod
- #772
Crash ID: 9cb719b4-dbf1-47a9-b14f-7debf262b52d
Build Number: 17487
Release Branch: prod
- #774
Crash ID: 796278f0-a5f5-4e6b-a8ea-b3cfb75eb7ee
Build Number: 17487
Release Branch: prod
- #780
Crash ID: 73bb0d21-10ea-4888-ae54-74476ef47337
Build Number: 18476
Release Branch: prod

[2022-05-04 15:09] #766 closed, assigned to nobody

[2022-05-04 15:09] #772 closed, assigned to nobody

[2022-05-04 15:10] #774 closed, assigned to nobody

[2022-05-04 15:10] #780 closed, assigned to nobody

[2022-05-04 15:11] FlashHit commented on #782
@OrfeasZ is there something interesting in these? Otherwise, I guess, we can close this.

[2022-05-04 18:54] Joe91 commented on #656
was fixed in the past. At least it works atm :-)

[2022-05-04 18:54] #656 closed, assigned to nobody

[2022-05-04 19:01] Joe91 opened #783 "[feature-request] method to make a player/soldier switch weapons in vehicles"
there are different "stances" in some Entries of a vehicle, but I cannot make a bot-player select them. A method to do so would be really nice. If there are other suggestions on how to achieve this that would help a lot as well :-) ...

[2022-05-04 19:23] Joe91 commented on #781
That is a good hint.
Seems to be related to some weapons, gadgets and/or attachments I think... When I make the bots only use the knife it works. Also the pistols seem to be okay. But everything else just crashes...

[2022-05-04 21:01] Joe91 commented on #781
Problem caused by usage of wrong weapons. Thanks for the help!!

[2022-05-04 21:01] #781 closed, assigned to nobody

[2022-05-04 22:08] FlashHit commented on #781
@Joe91 do you know what exactly caused the crash? Because maybe it could still be improved in vu to throw an error instead of crashing.

[2022-05-04 22:35] Dumpy250 commented on #779
My client crashes silently. But only sometimes. Server stays up for me.

[2022-05-04 22:38] FlashHit commented on #768
Repro mod was sent. (For corruption repro). (Repro Mod was the BR mod with integrated custom maploader)
Mostly it Leads to a crash.

[2022-05-04 22:40] FlashHit commented on #633
Tracked in #768. Will close this one.

[2022-05-04 22:41] #633 closed, assigned to nobody

[2022-05-04 22:53] FlashHit commented on #612
No info. Will close it.

[2022-05-04 22:53] #612 closed, assigned to nobody

[2022-05-04 22:55] FlashHit commented on #592
This is mostly happening with multiple clients on the same machine.

[2022-05-04 23:02] FlashHit commented on #734
@keku645 can you check if this is still happening?

[2022-05-05 10:36] FlashHit commented on #776
Seems to be fixed in 18675

[2022-05-05 10:36] #776 closed, assigned to nobody

[2022-05-05 10:43] JihanLoong commented on #775
Sorry, I'm a newbie in github, don't know how this thread go on. Would you need my opinion or just talk to Joe91? 😂

[2022-05-05 10:46] FlashHit commented on #775
Am talking to joe.

[2022-05-05 10:52] JihanLoong commented on #775
OK, glad to see solving is on the go.

[2022-05-05 10:54] Joe91 commented on #775
Sorry, totally missed that. I really think this has to do with VU since if this happens I can still command the bot to leave the chopper and enter myself. But this doesn't change anything with the chopper.
Was not able to narrow it down further yet.

[2022-05-05 10:58] FlashHit commented on #775
@joe91 Did you check the EntryInput of the vehicle? I would assume that there is something wrong, when a bot leaves it (at least in attack helicopters).

like try to use this on Vehicle:Exit: [SetExternalInput](https://docs.veniceunleashed.net/vext/ref/server/type/controllableentity/#setexternalinput)(entryId: int, input: [EntryInput](https://docs.veniceunleashed.net/vext/ref/shared/type/entryinpu

[2022-05-05 11:08] FlashHit commented on #769
Still need to find a good repro for this.

[2022-05-05 18:55] Joe91 opened #784 "[Bug] Entity == Entity broken"
Works on prod. Does not work on dev.
Example: `XP1_002 ConquestLarge0 1`

How to reproduce:
Just use any version of fun-bots like this one: https://github.com/Joe91/fun-bots/archive/refs/tags/V2.5.3.zip and play the map above.
All Bots spawn in one point and die there.
Affected are XP_1 and XP_3 Maps in Conquest / Assault.

No Crash on latest dev-Version (but error as described above).
Works fine

[2022-05-05 21:28] Joe91 commented on #784
Reason:
the same entity does not evaluate to true with the following code:

[code]

Console:

[code]

[2022-05-05 21:41] FlashHit commented on #784
@OrfeasZ what factors are relevant for this operation? I thought it `==` would also just compare instanceId or/and uniqueId.

[2022-05-05 21:58] FlashHit commented on #784
Untested repro mod:
[code]

[2022-05-06 02:32] Dumpy250 commented on #784
Here is the repro mod:
[ReproEntityEq.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8637171/ReproEntityEq.zip)

![image](https://user-images.githubusercontent.com/83517134/167057287-a0003bf4-acb3-4911-9dd4-5402676b423f.png)

[2022-05-06 03:13] FlashHit commented on #445
Will open a new issue for that, since the actual reported issue got fixed already

[2022-05-06 03:13] #445 closed, assigned to nobody

[2022-05-06 03:14] FlashHit opened #785 "[Bug] Error with no traceback"
The silent crash seems to be fixed. It throws an error instead of a silent crash. **BUT the error doesn't show where it is in the code**:
[code]

For that I made a simpler repro mod:
[ReproRegisterCallbacksWrongCrash.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/6927822/ReproRegisterCallbacksWrongCrash.zip)

[code]

https://github.com/EmulatorNexus/VeniceUnleashed/issues/445#issuecom

[2022-05-06 03:22] #648 closed, assigned to nobody

[2022-05-06 03:24] FlashHit commented on #785
Similar errors happened when I had some corruption.

[2022-05-06 03:30] FlashHit commented on #474
On the server this can be achieved by using the event `Player:SetSquad`. While the parameter `squad` gives the new squadId, the `player.squadId` gives you the previous squadId.

Maybe you could expose the same event on the client to solve this issue/request.

[2022-05-06 11:23] OrfeasZ commented on #724
Does this still happen in latest?

[2022-05-06 11:25] FlashHit commented on #724
Not sure. Will recheck it.

[2022-05-06 16:37] OrfeasZ commented on #784
Fixed in build `18748`.

[2022-05-06 16:37] #784 closed, assigned to nobody

[2022-05-06 16:38] OrfeasZ commented on #765
Could you retry this with `18748`?

[2022-05-07 02:42] FlashHit commented on #724
Seems fixed. Will recheck myself when I got Net again.
Edit: yep this is fixed.

[2022-05-07 02:42] #724 closed, assigned to nobody

[2022-05-07 02:42] Dumpy250 commented on #724
I was able to stay in the server and change the map several times with no issues with dev build 18752.
![image](https://user-images.githubusercontent.com/83517134/167234816-fd1dd5df-15f7-497f-afae-d6843d49f50a.png)

[2022-05-07 02:56] Dumpy250 commented on #784
18752
![image](https://user-images.githubusercontent.com/83517134/167235307-022ee189-df3d-4cf8-a91c-a97d577067bc.png)

[2022-05-07 03:19] FlashHit commented on #761
Crash ID: 72cb186b-7046-4eb0-84a9-8747f7829b87
Build Number: 18752
Release Branch: dev

[2022-05-16 21:00] 3ti65 opened #786 "[Lua - Server - Crash] Server crash midround on Riverside and Valley..."
...most likely due to specific map modifications to make certain objects indestructible.

[2022-05-16 21:00] 3ti65 commented on #786
wrong repo lol sry

[2022-05-16 21:00] #786 closed, assigned to nobody

[2022-05-16 22:36] 3ti65 opened #787 "[Bug] RegisterLoadHandlerOnce doesn't work anymore for LazyLoaded instances on Dev branch"
`function M320:ModifyFiringFunctionData(p_FiringFunctionData)
	local s_FireLogicData = p_FiringFunctionData.fireLogic

	if s_FireLogicData ~= nil then
		s_FireLogicData.alwaysAutoReload = false
		s_FireLogicData.reloadTime = RM_WEAPON_CONFIG.M320_HE.RELOAD_TIME
		s_FireLogicData.reloadTimeBulletsLeft = RM_WEAPON_CONFIG.M320_HE.RELOAD_TIME_BULLETS_LEFT
		m_Logger:Write("Changed M320 FireLogicData")

[2022-05-17 13:09] joecons97 commented on #787
See attached repro mod:
[GLTrailRepro.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8708496/GLTrailRepro.zip)

To repro:
Run mod on dev server/client

[2022-05-19 22:09] shuparupa commented on #775
@Joe91 this is exactly what I wrote about in your topic on the VU forum.
The same thing happens with another vehicles.
You can drive drive away  the bot the menu, or kill in the PRoCon, but the vehicle will still remain become unusable.
Not until is destroyed.

[2022-05-20 01:08] shuparupa opened #788 "server crashes = connection to the server timed out"
Crashes the active server window & message in the client: Disconnected. The connection to the server timed out [close]
VU Build 18476, fun-bots-2.6.0-dev1
First about how to reproduce, and then why. So:

Turn off for the convenience of bots (\fun-bots\ext\Shared - Config.lua InitNumberOfBots = 0)
Come in for example on Firestorm CQ, and taking helicopter or tank to destroy the vehicles at your bas

[2022-05-20 12:32] FlashHit commented on #788
This seems more like an issue for https://github.com/Joe91/fun-bots/issues

@Joe91 you might wanna take a look into this

[2022-05-20 12:32] #788 closed, assigned to nobody

[2022-05-20 12:33] #782 closed, assigned to nobody

[2022-05-20 16:09] FlashHit commented on #765
still the same on `18752`.
Repro mod:
[GeometryTriggerBlueprint (3).zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8741774/GeometryTriggerBlueprint.3.zip)

- Spawn
- write `!geo` to create a new entitybus (do this a couple times)
- write `!all` to print all areas

[code]
Here you see that the entity with instanceId `4101866528` has a parent DC `0xF9D6A8A0`. First it has the guid `A349

[2022-05-20 16:32] FlashHit opened #789 "[Bug] Missing `TypeInfo.fields` for some VEXT types"
[ReproMissingTypeInfo.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8741949/ReproMissingTypeInfo.zip)

[code]

Output is `0` for each of them.

Might be related to  #533

[2022-05-21 12:34] Joe91 commented on #775
The last time I wanted to investigate this there were some other VU-Bugs that made it impossible to investigate this further.
But since those seem fixed atm I can give it anouther try. What is currently the fastetst way to reproduce this?
This would help me a lot...

[2022-05-21 13:23] JihanLoong commented on #775
@Joe91 This thing seems to happen quite randomly. Most of the situation I met ocurring as soon as the battles start, but I also have found it once that it occured when I was killed as the transport helicopter pilot and respawn at base. So far, I've met it in Kharg Island, Gulf of Oman, Noshahr Canals, Caspian Border and Wake Island.

[2022-05-25 01:22] 3ti65 opened #790 "[Crash] Client (sometimes silently) crash when switching map"
This is top priority for RM. Recent VU Update seems to have broken map switching for RM.

Repro will follow ASAP.

[2022-05-25 01:43] 3ti65 opened #791 "[Crash] Client disconnect when trying to load in Oman, Kiasar, Parl (and maybe Shield)"
Top Priority for RM, we currently can't play (almost) half of our maps. 80% of people crash when loading into one of the mentioned maps. I think most people only crash after some people are already on the server. Most likely not related to the OnPartitionLoaded crash that we also have.

Modlist:

BlueprintManager
CustomLevelLoader
RealityMod
VEManager

Maplist:

XP1_002 ConquestLarge0 1
XP5_003 Co

[2022-05-25 02:07] 3ti65 commented on #791
Repro is not reliable enough i think. Will try to get a better one.

[2022-05-25 04:47] OrfeasZ commented on #787
I can't repro this. On dev branch this calls `ModifyProjectileData` because `s_ShotConfigData.projectileData.isLazyLoaded` is `false` on both client and server? What map / mode are you running this in?

[2022-05-25 05:33] OrfeasZ commented on #785
This was an issue with `nil` passing as a correct value for functions for some reason. I've added checks that will make this throw a hard error in build `18788` for most places that accept callbacks and will patch up the remaining few in a subsequent build.

[2022-05-25 05:33] #785 closed, assigned to nobody

[2022-05-25 06:09] #669 closed, assigned to kiwidoggie

[2022-05-25 06:15] OrfeasZ commented on #791
- `XP1_002` and `XP4_Parl` don't seem to crash server or client.
- `XP5_003` seems to crash my server when trying to spawn `Levels/XP3_Valley/objects/Prefabs/StoreRoom_01_Prefab_Lit_XP5`.
- Switching in-between `XP1_002` and `XP4_Parl` yielded one crash inside `Client:UpdateInput` and one in `Input:PreUpdate` after about 20 tries. Not entirely sure why,

[2022-05-25 06:28] OrfeasZ commented on #760
This should be fixed in `18801`.

[2022-05-25 06:29] OrfeasZ commented on #759
This may be fixed in build `18801`. Could you give it a try?

[2022-05-25 06:30] OrfeasZ commented on #756
Same as #759, may be fixed. Give it a try.

[2022-05-25 06:32] OrfeasZ commented on #686
This doesn't appear to crash in latest.

[2022-05-25 06:57] OrfeasZ commented on #692
`GetTransformFromYPR` and `MathUtils:GetYPRFromULF` have been re-implemented based on the RM RotationHelper in build `18802`.

[2022-05-25 06:57] #692 closed, assigned to nobody

[2022-05-25 07:05] FoolHen commented on #791
This might be related to custom levels, @OrfeasZ are you running customlevelloader in `realitymod-dev` branch? It's easier to update RM and its deps via vumm, let us know if you need help setting it up, will save you some time.

[2022-05-25 07:11] OrfeasZ commented on #741
Fixed in build `18804`.

[2022-05-25 07:11] #741 closed, assigned to nobody

[2022-05-25 07:13] FoolHen commented on #787
`XP1_001 ConquestAssaultLarge0 2 # Strike at Karkand` acoding to Joe

[2022-05-25 07:39] OrfeasZ commented on #791
Yes, 3ti gave me a copy of the exact version causing this issue.

[2022-05-25 08:06] FlashHit commented on #741
![image](https://user-images.githubusercontent.com/56718716/170213186-416a10d0-252b-466c-ac7e-b442e7d4b315.png)

[2022-05-25 08:17] FlashHit commented on #686
It didn't crash because I commented out the line that made it crash.
Here it crashes:
[ReproClassPrint.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8769230/ReproClassPrint.zip)

[code]

[2022-05-25 08:21] FlashHit commented on #760
Why did you reopen it?
Because I just tested it and it seems to work fine now.

[2022-05-25 08:22] FlashHit commented on #756
Still the same.
This is a server only issue btw. On client it works fine.

[2022-05-25 08:39] FlashHit commented on #759
Okay ye I see what you did. I think it's fine but then it should work the same way on the server.
Because now the client sends 2 events: for the player that **was** sq leader AND for the new sq leader.
On the server we only get 1 event. If there is a new sq leader we get him, otherwise we get the old sq leader.
Imo this should be the same on both, but not sure what of these 2 options is the best.

[2022-05-25 09:06] FlashHit commented on #787
Here another one:
[ReproRegisterLoadHandler.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8769581/ReproRegisterLoadHandler.zip)

[2022-05-25 09:13] FlashHit commented on #669
@OrfeasZ wouldn't it still make sense to implement these as well?

[2022-05-25 10:45] FlashHit opened #792 "[Crash] Creating custom instances too early (Server)"
[ReproInstanceCrash.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8770353/ReproInstanceCrash.zip)

[code]
Running this too early causes a crash. I think it only works after the `Engine:Init` event.

[code]

I think it would be nice if this could get avoided by throwing an error when creating an instance too early.

Note: This is a server only issue.

[2022-05-25 11:17] FlashHit commented on #708
[code]

hmm.. doesn't crash for me

[2022-05-25 11:17] FlashHit commented on #715
[code]

[2022-05-25 11:59] FlashHit opened #793 "[Crash] RaycastManager in WebUI events"
Repro:
[ReproRaycastCrash.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8770834/ReproRaycastCrash.zip)
- join server
- press red button
-> Crash
[code]
[code]

This gets called in a WebUI event and I guess this is in a wrong UpdatePass(?). Shouldn't crash tho.
Can we prevent it from crashing and instead throw an error or something?

[2022-05-25 12:28] FlashHit opened #794 "[Crash] Incompatible Bundles (Entity creation crash)"
When loading some bundles the server might crash because of some Entity related stuff.
I would like to figure out what exactly the problem is.

When loading `MP_001` and adding the bundle `MP_018` then the server crashes when creating: [Architecture/ME_House01/ME_House01_Garage_Destruction](https://github.com/EmulatorNexus/Venice-EBX/blob/master/Architecture/ME_House01/ME_House01_Garage_Destructio

[2022-05-25 13:08] Joe91 commented on #708
Okay. Will retry this. Maybe it was fixed  some day.

[2022-05-25 17:30] OrfeasZ commented on #760
Cause I wasn't sure if ith's fixed cause I didn't test. Closing now.

[2022-05-25 17:30] #760 closed, assigned to kiwidoggie

[2022-05-25 17:31] OrfeasZ commented on #669
They are being implemented so I'm closing this for now since base Component support is here.

[2022-05-25 17:33] FlashHit commented on #669
Idk renaming the title would make more sense, if we would want the ComponentCollection stuff in the future 🤷‍♂️

[2022-05-25 20:20] Joe91 commented on #775
wasn't able to reproduce it this evening. Will try again tomorrow...

[2022-05-25 20:51] shuparupa commented on #775
Also, sometimes (flying) can be seen as a working helicopter cannot take off on the basis of the enemy. And so is this.
Have to "help" a rocket from afar :)

[2022-05-26 00:20] 3ti65 commented on #708
use updatepass presim

[2022-05-26 01:14] 3ti65 commented on #791
We could with a 100% certainty replicate this on the Dedi:

1. VU 18808
2. Only Reality Mod latest Dev branch, compile UI (the version you have will work too)
3. Kiasar -> XP5_003 ConquestLarge0 1
4. Connect to the server
5. After loading, you don't even have to spawn
6. Disconnect from server
7. Reconnect
8. -> During loading you get disconnected

Additional findings:

Doesn't matter how long the

[2022-05-26 02:00] 3ti65 commented on #791
this is related to something we made for Fob Blueprints. happens on Prod too. not related to Entity stuff update.

[2022-05-26 14:02] kiwidoggie commented on #689
Implemented and pending build number and review.

[2022-05-27 00:55] FlashHit opened #795 "`Component.componentData` is redundant"
https://docs.veniceunleashed.net/vext/ref/shared/type/component/#componentdata

`Component.componentData` is the same as `Component.data`
I don't think it makes sense to have 2 properties that do the same thing.
So I would say it should get removed. Right?

[2022-05-27 01:55] OrfeasZ commented on #787
Fixed in `18837`.

[2022-05-27 01:55] #787 closed, assigned to nobody

[2022-05-27 01:56] OrfeasZ commented on #795
Is it the same 100% of the time, for all different component types?

[2022-05-27 02:07] FlashHit commented on #795
I only checked the SoldierEntity.bus.components. They were all equal. I can check again later if there is anywhere a component where it is not equal.

[2022-05-27 02:57] FlashHit commented on #791
Was related to wrong use of RegistryContainer

[2022-05-27 02:57] #791 closed, assigned to nobody

[2022-05-27 05:26] OrfeasZ commented on #793
Tried a couple of things, but I don't think there's anything I can do about that currently since I dont track the current thread / update pass. Will keep open as low-prio.

[2022-05-27 10:23] FlashHit commented on #686
All I do is:
[code]

[2022-05-27 11:05] paulhobbel commented on #686
would `tostring(Test())` work?

[2022-05-27 11:23] FlashHit commented on #686
It would but that’s not the point

[2022-05-27 12:41] J4nssent opened #796 "Cannot modify custom bundle while VU client is running"
You can't modify the custom bundles in the sb folder while the VU client is still running.
This is only an inconvenience but it does slow down development a bit.

[2022-05-27 14:56] FlashHit opened #797 "Memory leak (bundle related?)"
So I performed some tests regards memory using Process Hacker 2.

### without mods:
| private bytes | gpu dedicated bytes | gpu shared bytes | virtual size | comment |
| ------ | ------ | ------ | ------ | ------ |
| 691 | 238 | 72 | 1.40 | start client |
| 1.15 | 695 | 250 | 1.85 | join server after level:loaded client |
| 770 | 252 | 63 | 1.58 | leave server client |
| 1.15 | 691 | 212 | 1.87 |

[2022-05-27 15:15] FlashHit commented on #795
Okay checked it now. It is 100% equal in all cases.

I ran this code in shared to verify it:
[code]

[2022-05-28 19:01] KraquotteSauvage commented on #722
Caspian border - broad conquest - 99 bots, same problem. Only happens in conquest mode and capture the flag (from what I played)

[2022-05-29 11:30] IllustrisJack opened #798 "[Feature-Request] Property Events"
Would be neat to have component property changed events.

e.g. needed for my custom RM recoil system:

Possibility of grabbing: https://github.com/EmulatorNexus/Venice-EBX/blob/1b48533a42f9fce794b52b72e9e8bd33541e6b35/Characters/Soldiers/MpSoldier.txt#L2898

[2022-05-29 13:36] OrfeasZ commented on #798
Build `18848` (vext `1.8.1`) adds a `RegisterPropertyChangedCallback` method to `EntityBusPeer`. Callback is in the form of `function(peer: Entity | Component, propertyName: int)`.

[2022-05-29 13:36] #798 closed, assigned to nobody

[2022-05-29 13:48] FlashHit commented on #798
awesome!

[2022-05-29 13:50] IllustrisJack commented on #798
dayyuum that was fast <3 thx a lot we´ll test it!

[2022-05-29 14:16] FlashHit opened #799 "[Bug] `EntityBus.peers` return destroyed error"
[code]

[code]

[2022-05-29 14:17] FlashHit commented on #799
Repro:
[ReproPeersError.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8793496/ReproPeersError.zip)
- Join and spawn -> check client console

[2022-05-29 14:38] FlashHit opened #800 "[Req] Make Crash report Id's and .dmp file names the same"
If you miss to copy the crash report id you could only upload the .dmp file. But if it had the same name as the crash report id you could still just copy the file name instead.

[2022-05-30 00:22] FlashHit opened #801 "[Crash] Investigate RM crashes"
Would be nice if you could look into these and add a possible reason (just edit this text).
We need to figure out why people keep crashing.
I would like to leave this issue open and add all incoming RM crashes in here.

| Link | Crash ID | Possible reason |
| ---- |  --------- |---------------- |
| https://github.com/BF3RM/RM-Crash-Reports/issues/1 | `15aa120e-43eb-4d58-9aa7-41962771b8f4` |  |
| h

[2022-05-30 02:04] J4nssent opened #802 "Link between client and server entities"
This is an older problem. I'm creating an issue for it because I don't know if there was a final conclusion already or if it is still open.

There is currently no way to associate a client entity with it's server entity or vice versa. Only entities created in VEXT can be linked, by storing the entities along with a unique shared reference on creation.

The engine has a connection between the two s

[2022-05-31 10:52] IllustrisJack opened #803 "[Req] way to identify deployed bipod"
Since the property event approach didn´t seem to work (for new RM recoil system). Would it be possible to expose the SupportedShooting property altogether to VEXT? So we can maybe call it from Soldier.isSupportedShooting as a boolean.
(generally i don´t know what you have access to in the back and if this is even possible)

![grafik](https://user-images.githubusercontent.com/76592751/171156967-383

[2022-05-31 13:05] FlashHit commented on #803
Well I believe that is a property for the component. So we would need support for that component and can’t just have it for the SoldierEntity.
i would change the request to be more general: provide a way to identify deployed bipods. Maybe there is something in SoldierWeapon for bipod and taclight/laser pointer.

Another solution that would fit for RM is: GunSway.modifierData returning the GunSwayM

[2022-06-01 21:18] J4nssent opened #804 "Crash when firing "TakeControl" on PlayerCameraEntity from WebUI thread"
[WebUIPlayerCameraCrashRepro.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8818834/WebUIPlayerCameraCrashRepro.zip)

Firing a "TakeControl" or "ReleaseControl" ClientPlayerEvent at the spawn or killer ClientPlayerCameraEntities in a callback called from the WebUI thread results in a crash.

Wasn't expecting the crash to be for such an extremely specific use case. This probably doesnt

[2022-06-01 21:25] FlashHit opened #805 "[Crash] RealityMod server crash repro"
[code]

Repro:
- Run this mod with the given MapList and it will crash pretty soon.
- Sometimes it crashes immediately but if it doesn't just give it a couple minutes.

https://github.com/BF3RM/RealityMod/tree/crash/reproForCrash

MapList:
[code]
Or here as a file:
[MapList.txt](https://github.com/EmulatorNexus/VeniceUnleashed/files/8818873/MapList.txt)

[2022-06-02 04:40] Dumpy250 commented on #805
Crash ID: 2c58e590-0b8b-4001-ab17-a23ae176cb59
Build Number: 18848
Release Branch: dev
Attached debugger to Server: Exception thrown at 0xF9860008 in vu.exe: 0xC0000005: Access violation executing location 0xF9860008.
https://cdn.discordapp.com/attachments/566299084143591439/981779066401222707/744cdda3-0161-4347-95cc-d837b1775192.dmp

[2022-06-02 12:17] FlashHit commented on #804
Repro:
- Spawn
- Press the red button (enable mouse by pressing ESC)
- or open the console and type `webuiplayercameracrashrepro.test` (this one will silent crash)
- or write `webui` in the chat

[code]
![Unbenannt](https://user-images.githubusercontent.com/56718716/171626878-f79448a9-134e-42f3-a0a5-44bd47a1376f.png)

[2022-06-02 12:19] FlashHit commented on #804
-@J4nssent

I wouldn't say so. This can cause many issues when trying to interact with the game via WebUI.

[2022-06-02 13:23] FlashHit commented on #793
@OrfeasZ the update affected MapEditor which did the client raycasts on `Engine:Update` instead of in `UpdateManager:Update` in updatepass `UpdatePass_PreSim`. It resulted in a crash. I fixed the crash by doing the Raycast only in `UpdatePass_PreSim`, so now it works again.

Anyways here the crash report:
[code]

Repro:
https://github.com/BF3RM/MapEditor/tree/f725e92dac29d0a0c7f4d0d73fdd9746fe0db5

[2022-06-02 13:26] FlashHit commented on #805
Btw this crashes on prod branch `18474` as well.

[2022-06-02 22:44] FlashHit opened #806 "[Bug] RealityMod weird errors repro"
- blank errors:
[code]
- errors with missing trace:
[code]
- errors in error handling:
[code]

Repro:
https://github.com/BF3RM/RealityMod/tree/error/reproForErrors

- Just join with client and wait
- you might crash btw, but in most cases you get some weird errors first

[2022-06-03 02:32] FlashHit commented on #806
[code]

[2022-06-04 00:09] FlashHit opened #807 "Missing MessageType"
https://docs.veniceunleashed.net/vext/ref/shared/type/messagetype/

`271761068` for some reason it's not listed there.

This happens when leaving a capture point. Category is `UI`.

Not sure if bug or enhancement

[2022-06-04 00:20] FlashHit commented on #708
@Joe91 any update on this?

[2022-06-04 00:43] FlashHit commented on #708
[code]

Found a repro:
[BugTestVuRaycast.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/8836421/BugTestVuRaycast.zip)

- Map has to be `XP1_002 ConquestLarge0 1`
- Start server
->Crash

Note: It only crashes when hitting a `GroupPhysicsEntity`. Well I didn't test all different entity types, but at this one it crashes when it's async. And on some others it didn't crash.

Code:
[code]

[2022-06-04 00:48] FlashHit commented on #708
Seems to happen with `DynamicPhysicsEntities` as well. So probably all type of `PhysicsEntity`.

[2022-06-04 07:57] IllustrisJack opened #808 "[Req] Modifiable Voip Attenuation"
Seems like volume falloff is quite harsh and non linear.
(100% -> ~90% in ~95% of maxDistance, then in last ~5% of maxDistance --> ~90% --> 0% falloff)

Would be nice if we would have the option to modify the used falloff behind the scenes instead of writing our own falloff (because that would be double the trouble right?)

[2022-06-04 08:54] OrfeasZ commented on #808
Attenuation should be linear based on distance from the source unless there's an implementation bug. I'll take a look.

[2022-06-04 10:44] IllustrisJack commented on #808
thx :)

[2022-06-05 19:05] seifelbakry101 opened #809 "chars limit"
hey there,
I was trying recently to add a clan tag to my soldier's name but there was a limit for the chars which is 16. I suggest you add another option so the players can add their clan tag without the need to add it in the player name or make the player name a bit larger for the chars limit. thanks for understanding!

[2022-06-05 19:06] OrfeasZ commented on #809
The 16 character limit is enforced by the game engine and cannot be easily changed.

[2022-06-05 19:06] #809 closed, assigned to nobody

[2022-06-05 19:13] FlashHit opened #810 "[Req] Clan Tags"
Expose it as `player.clanTag` or whatever you wanna call it.

[2022-06-05 19:14] seifelbakry101 commented on #809
could you add an option so the players can add their clan tag without putting it in their name then?

[2022-06-07 10:49] FlashHit opened #811 "[Bug] Missing field `instanceEnabled`"
Talking about `StaticModelGroupMemberData.instanceEnabled`
Here we have it:
https://github.com/EmulatorNexus/Venice-EBX/blob/master/Levels/XP5_001/XP5_001.txt#L12809

But it's missing in Vext.
and in here as well: https://docs.veniceunleashed.net/vext/ref/fb/staticmodelgroupmemberdata/

How could this happen? :eyes:

[2022-06-07 17:22] FlashHit commented on #803
we need `GunSway.getUnlockData` with the `GetUnlockData` class exposed.

[2022-06-07 17:25] #811 closed, assigned to nobody

[2022-06-07 17:40] FlashHit commented on #810
`VeniceServerPlayerExtent` has a `setPlayerTag` method. Maybe that could work?

[2022-06-07 17:42] FlashHit commented on #676
In `VeniceServerPlayerExtent`

[2022-06-07 17:45] FlashHit commented on #546
I see there are 2 different things `isSquadPrivate` as property and `isSquadPrivate()` as function. Maybe that would make a difference?

[2022-06-07 17:46] FlashHit opened #812 "[Req] DogTags support"
Something like `Player.basicDogTagId` and `Player.advancedDogTagId`.
Should be in `VeniceServerPlayerExtent`

[2022-06-07 18:24] FlashHit commented on #622
`ServerWeapon:setZoomLevel(int)` something like this maybe?
or `EntryInput.zoomLevel int` / `EntryInputState.zoomLevel int`?

[2022-06-14 14:19] FlashHit commented on #586
Seems like there are even more.
[code]

[2022-06-15 20:24] FlashHit commented on #767
Now there is `5.4.5`.

[2022-06-22 02:23] FlashHit opened #813 "[Req] Bundle unload event"
Similar to the hook: `ResourceManager:LoadBundles` I want an event when a bundle gets unloaded. That way it is easier to identify a map change.
`Level:Destroy` would get triggered even if we just restart the level and the map doesn’t change. This might be useful in some cases but an event like `ResourceManager:UnloadedBundle` would be better in my case.

[2022-06-24 22:04] FlashHit opened #814 "[Bug] `Player:TeamChange` issue"
The _issue_ is that the `Player:TeamChange` event gets triggered before the `Player:Connected` event. And the teamId isn't even changing. So in this case here it shouldn't get triggered as the TeamId didn't change and the `Player:Connected` event should be the first event when a player gets added to the PlayerManager.

Repro Mod:
[ReproPlayerConnected.zip](https://github.com/EmulatorNexus/VeniceUn

[2022-06-27 00:50] FlashHit opened #815 "[Bug] `Vehicle:Exit` parameter is nil"
We had a case in RM where vehicle would be nil instead of an entity. Don’t think this should be possible.
https://docs.veniceunleashed.net/vext/ref/server/event/vehicle_exit/

[2022-06-27 23:35] OrfeasZ opened #816 "Add missing mod settings management functionality"
- [ ] Store in `settings.json` and also expose to UI the `defaultValue` of settings.
- [ ] Notify UI of what mods are currently active.
- [ ] Provide mod.json `name` to the UI for display purposes.
- [ ] Add a mod icon url field to `mod.json` and send it to the UI for display purposes (through proxy).
- [ ] Add support for mouse binds.

[2022-06-27 23:53] paulhobbel commented on #816
Something that just came up; an event that gets sent to mods when a mod setting changes

[2022-06-29 18:18] FlashHit opened #817 "[Bug] closing console will reset the mouse and keyboard"
Vext should store the actual mouse and keyboard state.
So if I do
[code]
vext should know that and then instead of resetting it when I close the console, just leave it enabled, otherwise I would either have to enable it repetitive on update events, or deal with weird bugs.

[2022-06-29 20:59] IllustrisJack opened #818 "[Req] Allow SettingsManager to declare other InputDevice Types"
Would be nice if [DeclareKeybind](https://docs.veniceunleashed.net/vext/ref/client/library/settingsmanager/#declarekeybind) would also properly support:

- InputDeviceMouseButtons https://docs.veniceunleashed.net/vext/ref/fb/inputdevicemousebuttons/
- InputDevicePadButtons https://docs.veniceunleashed.net/vext/ref/fb/inputdevicepadbuttons/

[2022-07-04 16:11] IllustrisJack commented on #808
^ a few other people from RM Early Access have also reported this issue. - Low prio tho

[2022-07-12 10:59] NEVERTryh4rd opened #819 "every match crashes the game"
Crash ID: 882e1ac4-95f8-40f6-ba62-5d809d087283
Build Number: 18848
Release Branch: prod

[2022-07-12 23:24] OrfeasZ commented on #819
Are you getting this crash on your own server or a third party server? If your own, check the mods you're running and try disabling them one by one until you find the one causing the issue. If you're playing on a third party server, you should instead ask the admin to look into their mods, since one of them is causing this.

[2022-07-14 14:23] angelroom commented on #819
Crash ID: 0cc5da35-34d0-492a-b989-23c6c977b321
Build Number: 18848
Release Branch: prod

[2022-07-14 19:41] paulhobbel opened #820 "[Crash] Crash when calling `RCON:GetServerGuid()` in the `OnLoadResources` event"
There seems to be a silent crash when trying to receive the server GUID using RCON. 1/10 times it will return nil, all the other times the server will just silently crash.

[CrashTest.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/9114835/CrashTest.zip)

[2022-07-16 20:58] kiwidoggie opened #821 "Random Freeze"
A handful of players when playtesting RealityMod would have a random freeze where the process CPU usage would drop to 0-1% and stop responding. A restart of the VU client would fix this. Holding this issue open for a little bit while I try and reproduce the issue locally.

Will update if more users are reporting the same issue.

[2022-07-18 05:20] thom855j commented on #821
I have experienced that the VU-server, on a heavy load with more that 64 players, would suddenly freeze the server and require a forced shutdown to stop. Maybe the same happens for clients?

[2022-07-18 05:34] thom855j commented on #819
This happens after every match no matter the map, gamemode or mods. I would put this on high priority.

[2022-07-18 07:58] iTzFalcoNN opened #822 "[Crash] Overlay crashes (Asus Strix)"
Crash ID: b67275a1-ccb8-4b9d-b34b-f00e91099720
Build Number: 18848
Release Branch: prod

[2022-07-18 09:44] OrfeasZ opened #823 "Crash in Zeus Game Manager"
2e7ae5d5-5804-4e3b-959f-2cb740d41556

[2022-07-18 09:45] OrfeasZ commented on #822
Can you provide some additional information on what you were doing at the time the crash happened?

[2022-07-18 09:46] OrfeasZ commented on #821
I'm thinking this happens for people on fullscreen, where the game crashes with the "Out of memory" error so it freezes itself until you dismiss.

[2022-07-18 11:37] FoolHen commented on #819
@thom855j try hosting a server locally without mods, connect to it and see if it still crashes. Also make sure vanilla doesnt crash.

[2022-07-18 14:07] FlashHit commented on #823
I just assumed this is probably high priority

[2022-07-18 14:11] OrfeasZ opened #824 "HTTP Requests fail when VU is in a path with special characters"
`HTTP Request failed with error 'Path not found: C:\Users\L¾pez\AppData\Local\VeniceUnleashed\client\cacert.pem'`

Username is `López`.

[2022-07-18 14:12] FlashHit commented on #824
These might be related:
https://github.com/EmulatorNexus/VeniceUnleashed/issues/678
https://github.com/EmulatorNexus/VeniceUnleashed/issues/527

[2022-07-18 15:58] andersonloko08 commented on #822
I had this problem and a few more:

1 - When I try to start the VU it appears the screen and then closes without any message.
2 - When I try to join a server, while on the loading screen everything closes without a message.
3 - This error occurs from time to time between attempts, it's not something easy to reproduce because I don't know what I do to cause it.

I can't attach the generated DUMPs,

[2022-07-18 16:00] OrfeasZ commented on #822
@andersonloko08 please don't upload dumps here as they can contain personal information. Copy details from the crash window, and post those instead.

[2022-07-18 20:16] andersonloko08 commented on #822
Crash ID: 42e06cd2-5244-4a2e-9f5e-2e200d58442e
Build Number: 18848
Release Branch: prod

[2022-07-19 06:32] Befence-w opened #825 "VU Crash"
When i launch VU launcher the window of game appears and then crashes.
Crash ID: b2b407cc-a3f9-4ba5-b01f-45c65b592fcc
Build Number: 18848
Release Branch: prod
![image](https://user-images.githubusercontent.com/58823527/179681706-5078c030-44d1-4426-acef-da58e97687af.png)

[2022-07-19 15:42] MaxKruse commented on #825
same

Crash ID: 09936316-259f-4dea-a1b6-c63b87661d91
Build Number: 18848
Release Branch: prod

[2022-07-19 15:45] OrfeasZ commented on #825
@Befence-w are you playing on a mobile GPU?

@MaxKruse this crash is not readable unfortunately. Can you send another one once you crash again?

[2022-07-19 15:46] MaxKruse commented on #825
sure thing

Crash ID: bb2d3ec0-b9c1-4f0f-aafc-d5db8ee1941e
Build Number: 18848
Release Branch: prod

a little more info on my end:

R5 5600x
RX 6700XT with 22.5.1 drivers
win10 latest updates

BF3 itself runs normally

[2022-07-19 15:55] Befence-w commented on #825
@OrfeasZ Yes. I just launched VU and problem fixed himself somehow. LOL. Maybe problem was because of low resolution (I use 800x600),

[2022-07-19 15:57] OrfeasZ opened #826 "[Crash] RTAudio errors cause hard crashes"

[2022-07-19 15:57] OrfeasZ commented on #826
Possibly related to #705

[2022-07-19 15:58] OrfeasZ commented on #826
And #737

[2022-07-19 15:59] OrfeasZ commented on #825
@MaxKruse don't upload crash dumps directly here, since they can contain personal information. I have identified the issue and I'm tracking it separately here #826.

@Befence-w Not sure. I'll close this issue for now. If you experience more crashes just reply here.

[2022-07-19 15:59] #825 closed, assigned to nobody

[2022-07-19 16:00] OrfeasZ commented on #822
@andersonloko08 looks like your crashes are caused by some ASUS Strix software you're running on your computer. Try disabling it and trying again.

[2022-07-19 20:02] FlashHit commented on #826
https://github.com/thestk/rtaudio/issues/194#issuecomment-1172772157
Edit: nvm seems to be just for macos

[2022-07-20 04:33] andersonloko08 commented on #822
I apologize for the delay in responding.

On my computer I use the ASUS STRIX RAID PRO audio card and to control its functions I use the SONIC STUDIO software.

After your analysis and response I closed it and managed to play normally without errors but I would like to be able to use it together with the mod because I like to control the volume.

But tell me, is this error solely their software's

[2022-07-20 11:36] OrfeasZ commented on #822
It seems to be some conflict with their overlay. I'm not sure if there's something we can do about it from our side other than block it from loading entirely (though that would kinda defeat the purpose). We'll be looking into it.

[2022-07-20 14:25] andersonloko08 commented on #822
So, this software SONIC STUDIO has a plugin that works this way its name is SONIC RADAR PRO.

The function of SONIC RADAR PRO is to visually display the sound direction in games overlay, it is a kind of radar that shows the direction and intensity of the received sound.

I leave it disabled, but I believe that the fault of this error you mentioned may be because it is active in some way, because j

[2022-07-20 14:26] FlashHit commented on #822
You little cheater! xd (just a joke)

[2022-07-20 14:38] andersonloko08 commented on #822
I think I found a solution to my problem.

Let's go to the steps:

1 - I open the software of the audio card, the SONIC STUDIO and I checked to activate the SONIC RADAR PRO.

2 - After marking it, a new window was opened, displaying its settings and in it the software itself tracked the games on my machine that would support the software.

3 - On the left side there was a checklist with the games

[2022-07-20 22:33] Turchet commented on #826
Crashes happening all the time when i try to enter the game, and this is the folder with the problem
![image](https://user-images.githubusercontent.com/109702263/180093765-27686031-6407-4b2a-b33a-44df1e4380eb.png)

[2022-07-21 16:37] veuda31 opened #827 "VU has stopped working"
Crash during map change

Crash ID: f480ce92-eb1a-4f71-ab4f-948ea217d7b4
Build Number: 18896
Release Branch: pro

[2022-07-22 09:54] fiberboard opened #828 "VU client always stop working after black screen since i installed build 18896."
Crash ID: b2d6005a-8de7-48a7-ae2e-8e712b149c96
Build Number: 18896
Release Branch: prod

[2022-07-22 11:11] FlashHit commented on #828
We are on it

[2022-07-22 15:34] WarHorse70 opened #829 "When engaging the VOIP, crash"
Crash ID: 8177002c-40fa-4301-872b-fb721a73bab0
Build Number: 18991
Release Branch: prod

[2022-07-22 20:26] WarHorse70 commented on #829
New build solved the issue. Thank you.

[2022-07-22 20:26] #829 closed, assigned to nobody

[2022-07-23 03:30] EP1CN3SS2 opened #830 "Vanilla BF3 Blue Filter Toggle Option"
Please let players who choose so, toggle on the classic bf3 blue filter. Some of us like it and would like a client side option of enable it.

[2022-07-23 03:53] FlashHit opened #831 "[Req] Hook to block assets"
To load bundles without losing to much free memory, it would be nice to be able to block certain assets from loading.

[2022-07-23 03:55] FlashHit commented on #828
Got fixed. Please retry with latest version @fiberboard

[2022-07-23 03:55] #828 closed, assigned to nobody

[2022-07-23 03:57] #827 closed, assigned to nobody

[2022-07-23 03:58] FlashHit commented on #827
If this is fixed #805. this will be as well

[2022-07-23 08:08] fiberboard commented on #828
it works.

[2022-07-24 10:59] kiwidoggie opened #832 "VU no longer starts, no crash message either."
From discord haco#9376:

[code]

Other users are also having the same issue

[2022-07-24 13:35] OrfeasZ commented on #832
This is probably related to unicode paths. Current workaround is this: Go to “Control Panel” --> “Clock and Region” --> “Region” --> “Administrative” Tab --> “Change system regional configuration…” --> and check the “Beta version: Use UTF-8 for language compatibility” checkbox.

Working on improving this but testing it is a bit tricky cause visual studio really doesn't like Unicode.

[2022-07-24 16:35] kiwidoggie commented on #820
Fixed in 19008

[2022-07-24 16:35] #820 closed, assigned to kiwidoggie

[2022-07-24 16:41] kiwidoggie commented on #815
Could it have been that the vehicle was destroyed as the player was exiting? It returns the entity that is at the current players controlled controllable

[2022-07-25 08:53] Miller94111 commented on #832
ye i have the same problem!

@OrfeasZ: I have changed the settings for unicode paths... but the problem still exists...

Crash ID: ce6011ec-803f-4e01-a1d8-4d2694f6643d
Build Number: 18896
Release Branch: prod

do you have another idea for fixing?

[2022-07-28 00:27] FlashHit opened #833 "[Req] `EntityBus:RegisterEventCallback(targetData: DataContainer callback: callable)`"
We already have:
`EntityBusPeer:FireEvent(eventId: int)` -> fires incoming event
`EntityBusPeer:RegisterEventCallback(callback: callable)` -> subscribes to incoming event
`EntityBus:FireEvent(targetData: DataContainer, eventId: int)` -> fires outgoing event

So this would be:
`EntityBus:RegisterEventCallback(targetData: DataContainer callback: callable)` -> subscribes to outgoing event

[2022-08-03 17:50] Julien00859 opened #834 "Client console history"
Hello there,

First of all, sorry if I'm suggesting this on the wrong channel, I'm new to VU.

We are running an unlisted server with my friends and we connect to the server via the `connect` command in the console. We would like to press the up-arrow to type the last command we ran so that it is easy to quickly join back our server. Note that we tried using a `vu://` kind of link, it does start V

[2022-08-03 17:56] FlashHit commented on #834
That’s already a thing

[2022-08-03 17:59] Julien00859 commented on #834
Oh indeed, can the history be persisted across client startups ?

[2022-08-03 18:01] FlashHit commented on #834
I don’t think that’s a good idea

[2022-08-05 23:32] #834 closed, assigned to nobody

[2022-08-08 14:44] paulhobbel opened #835 "[Req] Allow custom message in `Player:RequestJoin` hook"
As discussed before it would be nice if one could provide a custom message in the `Player:RequestJoin` hook.

[code]

[2022-08-14 08:50] emilrueh opened #836 "After joining in for the first time I get an immediate crash"
All described procedures had been followed precisely.
This is my copy to clipboard:

Crash ID: caac4619-d94d-4275-bd30-6483f94aabfe
Build Number: 19006
Release Branch: prod

[2022-08-14 09:00] emilrueh commented on #836
After playing a round the game crashed on exiting it with:
Crash ID: 36f79ad7-275b-4f64-8fab-26bc192d8c98
Build Number: 19006
Release Branch: prod

[2022-08-18 21:35] FlashHit commented on #813
bundle names are not available, just the compartment. So I think sth like `ResourceManager:ClearCompartment` makes sense.

[2022-08-19 12:42] FlashHit opened #837 "[Req] Ragdoll- & SoldierWeaponsComponent inherit"
They should inherit from component now since we support components.

[2022-08-21 03:44] FlashHit opened #838 "Modifiable maxSpectators"
Currently hardcoded to 24

[2022-08-21 04:06] FlashHit opened #839 "[Bug] Spectator FOV and Zoom Transition"
The spectated player has no AimingSimulation that’s why the zoom transition is not working. It seems to be hardcoded to just snap over.

[2022-08-21 04:07] FlashHit commented on #839
Also the fov seems to be wrong

[2022-08-21 17:23] FlashHit opened #840 "[Bug] `EntityManager:GetIterator` breaks using components"
Doing this:
[code]

causes:
[code]

[2022-08-24 01:09] FlashHit opened #841 "[Req] Expose VisualEnvironmentEntity with state"
VisualEnvironmentEntity.state should be VisualEnvironmentState

[2022-08-24 03:48] FlashHit opened #842 "Investigate WorldRenderSettings datacontainer release"
I noticed that the WorldRenderSettings call the DataContainer release every tick.

[2022-08-24 04:17] FlashHit opened #843 "Support for UIComponents"
Add support for all types of UIComponents.

[2022-08-24 16:15] FlashHit opened #844 "[Crash] Spectating + esc menu"
Spectate a player, then press esc twice -> crash in UI

[2022-08-25 07:36] paulhobbel commented on #523
Would it make sense to also expose this information to a utils class so this info can be obtained by the mod itself?

[2022-08-25 07:37] paulhobbel commented on #523
Usecase where this would make sense is in Reality Mod where we want to send the mod version to our backend. Right now we do this in our pipeline by replacing a string in a lua file

[2022-08-25 11:55] FlashHit commented on #523
You can just use the RCON library for that.

[2022-08-25 23:33] IllustrisJack opened #845 "[Req] Allow Client NetEvents in Extension:Unloading if possible"
Useful for determination if a player has crashed or leaved gracefully.

[2022-08-25 23:44] IllustrisJack commented on #845
[Repro.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/9428800/Repro.zip)

[2022-08-30 07:57] FlashHit commented on #762
In tdm it’s also not working

[2022-08-31 18:55] FlashHit commented on #759
That's working fine.

[2022-08-31 18:55] #759 closed, assigned to nobody

[2022-08-31 18:58] FlashHit opened #846 "[Req] Make `Player:SetSquadLeader` work like on the client"
With that I mean:
- event for the old squad leader where `player.isSquadLeader` is `false`
- event for the new squad leader where `player.isSquadLeader` is `true`

[2022-09-01 18:12] FlashHit commented on #393
Already possible to access first person camera.

[2022-09-01 18:12] #393 closed, assigned to nobody

[2022-09-01 19:39] #622 closed, assigned to FlashHit

[2022-09-01 19:40] FlashHit commented on #622
Implemented in `19042`

[2022-09-01 19:41] FlashHit commented on #835
Implemented in `19041`

[2022-09-01 19:41] #835 closed, assigned to paulhobbel

[2022-09-08 04:47] FlashHit commented on #803
Implemented in `19072`.

[2022-09-08 04:47] #803 closed, assigned to paulhobbel

[2022-09-08 10:59] FlashHit commented on #76
So this issue is about spectating a corpse in 1st person. Which is disabled rn.

[2022-09-11 14:58] FlashHit commented on #702
Fixed in `19412`.

[2022-09-11 14:58] #702 closed, assigned to FlashHit

[2022-09-11 14:59] FlashHit commented on #474
Implemented in `19412`.

[2022-09-11 14:59] #474 closed, assigned to FlashHit

[2022-09-11 15:00] FlashHit commented on #620
Implemented in `19412`.

[2022-09-11 15:00] #620 closed, assigned to FlashHit

[2022-09-11 15:00] FlashHit commented on #783
Implemented in `19412`.

[2022-09-11 15:00] #783 closed, assigned to FlashHit

[2022-09-11 15:01] FlashHit commented on #464
Implemented in `19412`.

[2022-09-11 15:01] FlashHit commented on #554
Implemented in `19412`.
`Player:Score` and `ScoringSystem:StatEvent` events are now available on the server.

[2022-09-11 15:01] #554 closed, assigned to FlashHit

[2022-09-11 15:03] FlashHit commented on #838
Implemented in `19412`.
Use `vars.maxSpectators` in RCON.

[2022-09-11 15:03] #838 closed, assigned to FlashHit

[2022-09-11 15:03] FlashHit commented on #837
Fixed in `19412`.

[2022-09-11 15:03] #837 closed, assigned to FlashHit

[2022-09-11 15:04] FlashHit commented on #371
Implemented in `19412`.

[2022-09-11 15:04] #371 closed, assigned to FlashHit

[2022-09-11 15:04] FlashHit commented on #813
Implemented in `19412`.

[2022-09-11 15:04] #813 closed, assigned to FlashHit

[2022-09-11 15:04] FlashHit commented on #676
Implemented in `19412`.

[2022-09-11 15:04] #676 closed, assigned to FlashHit

[2022-09-12 03:01] FlashHit commented on #763
Will check if I can expose another vehicle event for this.

[2022-09-17 18:07] FlashHit commented on #804
Crashes in CameraCollision.

[2022-09-20 15:53] FlashHit commented on #670
Docs issue. It is `zoomTransitionTimer` not `zoomTransitionTime`.

[2022-09-20 15:53] #670 closed, assigned to nobody

[2022-09-20 15:59] FlashHit commented on #705
This was fixed in 18896.

[2022-09-20 15:59] #705 closed, assigned to nobody

[2022-09-20 16:08] FlashHit commented on #723
seems to work now.

[2022-09-20 16:08] #723 closed, assigned to OrfeasZ

[2022-09-21 02:11] FlashHit opened #847 "[Bug] Cursor gets disables even when window out of focus"
When the window isn’t in focus it shouldn’t hide the cursor. Instead it should just remember the state until the window gets into focus.

and not just that. also the cursor position.

[2022-09-21 02:14] FlashHit opened #848 "[Req] Guid:ToString()"
Let it work without arguments as well.

so you can do all these:
guid:ToString()
guid:ToString("D")
tostring(guid)

[2022-09-21 02:16] FlashHit opened #849 "[Req] Implement SpawnEntity"
For client and server.

[2022-09-21 02:18] FlashHit opened #850 "[Crash] Using invalid InputConcepts"
Using invalid InputConceptIdentifiers in InputManager Leads to crashes

[2022-09-21 02:30] FlashHit opened #851 "[Bug] Bugs with RegisterXCallbacks"
- PhysicsEntity:RegistImpulseCallback with context is broken (doesn’t get cleaned up correctly) (server and client)
- component:RegisterDeinitCallback is broken (and unregister as well)
- component:RegisterSpawnCallback is broken (and unregister as well)
- component:RegisterUnSpawnCallback is broken (and unregister as well)
- component:RegisterImpulseCallback is broken (and unregister as well)
- c

[2022-09-21 02:45] FlashHit opened #852 "[Req] Add ProfileOptionsManager"
To allow a fully custom options menu.

[2022-09-21 02:48] FlashHit opened #853 "[Req] Expose TicketCounterEntity server"
Similar to the client entity.

[2022-09-21 02:49] FlashHit opened #854 "[Req] Expose LifeCounterEntity server"
Similar to client entity.

[2022-09-21 02:54] FlashHit opened #855 "[Req] Support `AutoTeamEntityData.rotateTeamOnNewRound`"
Setting this to false should prevent the team swap on new rounds.

[2022-09-21 02:57] FlashHit opened #856 "[Req] Add Bool-, Float-, Int-, Transform- & Vec3Entity shared"
It’s about getting the value. For setting FireEvent works fine already.

[2022-09-21 03:01] FlashHit opened #857 "[Req] Add Client:AimTargetChanged event"
Basically an Event that gets called when the result of a specific raycast changes.
We can use this in RM for nametags.

[2022-09-21 17:55] FlashHit commented on #790
Duplicate of #805

[2022-09-21 17:55] #790 closed, assigned to nobody

[2022-09-21 17:58] #704 closed, assigned to nobody

[2022-09-21 18:05] FlashHit commented on #819
No proper information to this issue. We already have other issues that might fix these crashes. So I am closing this one.

[2022-09-21 18:05] #819 closed, assigned to nobody

[2022-09-21 18:05] FlashHit commented on #836
Missing information to this issue. We already have other issues that might fix these crashes. So I am closing this one.

[2022-09-21 18:05] #836 closed, assigned to nobody

[2022-09-23 22:01] FoolHen commented on #689
[01:40]kiwidog: It got scrapped because it had to be redone

[2022-09-25 15:26] TheFRPlayer opened #858 "Crash"
I'm playing since a week but since 3 day i have some crash when i spawn, im playing RealityMod

Crash ID: 601c4c62-322a-453c-9f3e-902f05cc88f5
Build Number: 19072
Release Branch: prod

[2022-09-25 21:01] paulhobbel commented on #844
Silent crash or do you have a crash id?

[2022-09-25 21:03] paulhobbel commented on #832
What's the status on this issue @Miller94111 and @OrfeasZ?

[2022-09-26 08:02] FlashHit opened #859 "[Req] `ResourceManager:RegisterPartitionLoadHandler`"
Similar to RegisterInstanceLoadHandler.

[2022-09-26 08:08] FlashHit opened #860 "[Req] Way to add lazy loaded references"
Would it be technically possible to add support for lazy loaded references?
For example: `ReferenceObjectData.blueprint = ResourceManager:LazyLoadedReference(Guid("whateverguid"))`
Because rn I would have to add a loadhandler and add the referenceobject as context to add it as soon as it loads

[2022-09-26 08:14] FlashHit commented on #731
This isn’t needed as vext 2.0 won’t need casting anymore

[2022-09-26 08:14] #731 closed, assigned to nobody

[2022-09-28 02:25] FlashHit opened #861 "[Req] Option to disable disconnecting"
When pausing the process for more then 5 seconds I get disconnected. It would make debugging a lot easier if this could be prevented somehow.

repro: set a breakpoint on the client. Wait 5 seconds after it reaches it. Then continue and you get disconnected

[2022-09-28 17:31] FlashHit opened #862 "[Req] Support Async Raycasts"
Should work like this:
[code]

[2022-09-28 17:36] FlashHit commented on #714
These might require a callback, which would work like this:
- https://github.com/EmulatorNexus/VeniceUnleashed/issues/862

[2022-09-28 18:50] FlashHit commented on #678
This was fixed in `19072` or `18991`

[2022-09-28 18:50] #678 closed, assigned to OrfeasZ

[2022-09-29 22:17] FlashHit commented on #807
another one: `UnlockComponentEnabledMessage = 979879060`

[2022-10-01 01:30] FlashHit opened #863 "[Req] Support `ServerDamageGiverEvent`"
Similar to `ServerDoublePlayerEvent` there exists a `ServerDamageGiverEvent`

[2022-10-01 15:21] FlashHit commented on #863
Also `ComponentParameterEvent`

[2022-10-02 16:36] FlashHit commented on #779
So thanks to txt I was able to work around this issue. So the issue has to do with arrays and lazyloaded instances.
Before modifying `LevelData.objects` all objects have to be loaded. Well, the objects are just ReferenceObjectDatas but I mean the blueprint that they refer to. Once these are loaded I can modify the LevelData to include the SubworldReferenceObjectData.
[nohavokbundle.zip](https://gi

[2022-10-02 17:44] FlashHit commented on #778
It doesn't crash when adding the bundle via `SubWorldReferenceObjectData`. So I lower the priority.

[2022-10-02 20:33] paulhobbel commented on #779
You guys are crazyyy! Nice work though

[2022-10-04 18:37] Joe91 opened #864 "[Req] Add aiming-component for slots without a visible weapon in vehicles"
For example the seats 3,4,5,6 (EntryId 2,3,4,5) in the LAV (LAV25 for example).
Any objet to extract the direction of a Bot / Player on the Server-Side would help for that.

[2022-10-08 22:54] #857 closed, assigned to FlashHit

[2022-10-08 22:54] #855 closed, assigned to FlashHit

[2022-10-08 22:55] #853 closed, assigned to FlashHit

[2022-10-08 22:55] #850 closed, assigned to FlashHit

[2022-10-08 22:55] #848 closed, assigned to FlashHit

[2022-10-08 22:55] #732 closed, assigned to FlashHit

[2022-10-08 22:55] #762 closed, assigned to FlashHit

[2022-10-08 22:56] #508 closed, assigned to FlashHit

[2022-10-08 22:56] #745 closed, assigned to FlashHit

[2022-10-08 22:56] #846 closed, assigned to FlashHit

[2022-10-08 22:56] #756 closed, assigned to FlashHit

[2022-10-08 22:56] #671 closed, assigned to FlashHit

[2022-10-08 22:56] #851 closed, assigned to FlashHit

[2022-10-08 22:57] #841 closed, assigned to FlashHit

[2022-10-08 23:04] #686 closed, assigned to FlashHit

[2022-10-10 18:15] Joe91 opened #865 "[Req] add option to spot soldier on server side"
this would be great to enable bots to spot other bots.

[2022-10-10 18:16] Joe91 opened #866 "[Req] add server-event/hook for the commo-rose commands of a player"
This would help a lot to get the information about these events on the server and filtered. Currently they trigger once for every player on the server. A seperated and simple event would help a lot.

[2022-10-12 17:04] FlashHit opened #867 "[Crash] Bot spawn causing crash on TDM & Domination"
The `ServerFriendZoneEntitity` (used in Domination and DeathMatch) gets initialized when it receives the `ServerPlayerEnteredLevelMessage`. If a bot spawns without this entity being initialized the server crashes.

[2022-10-12 23:16] FlashHit opened #868 "[Req] `DebugRenderer:DrawCapsule`"
Would be nice to have this.

[2022-10-13 17:31] FlashHit commented on #807
`VoiceSettingsMessageBase = -1767229304`
`VoiceChannelMessageBase = 132378510`
`VeniceServerMetricsStartRoundMessage = -529961204`
`VeniceServerMetricsRestartRoundMessage = 1062794619`
`StatEnableMessage = -1324917699`
`UIShowProgressObjectMessageBase = 271761068`
`ClientPeerNetworkRemovedMessageBase = 1764257468`

category:
`Voice = 225851571`
`Stat = 2089400759`
`VeniceClientMetrics = -339591303

[2022-10-14 17:45] FlashHit commented on #807
Missing category: `-192013061`
Missing type: `-1801097384`, `-27751823`, `1148405258`

[2022-10-14 21:10] #867 closed, assigned to FlashHit

[2022-10-15 19:15] qweasd-11 opened #869 "Crush Report for VU Reality Mod"
Crash ID: ccb8160d-572b-4eae-932c-e8fe4fe174b8
Build Number: 19412
Release Branch: prod

[2022-10-15 20:27] FlashHit opened #870 "[Crash] Spawning Entities without valid mesh results in a crash"
The entities that require a mesh should _maybe_ have a check if the DataContainer has a valid MeshAsset reference and maybe also check if that mesh is available.

[2022-10-16 23:36] paulhobbel opened #871 "Upgrade to newer version of CEF"
We are currently running on CEF 3729 (Chromium 74) which is ~3 years old. There are many known issues and also some known crashes in this version of CEF. The UI freezes and crashes are most likely related as well.

We should try to upgrade to a newer version and try to use the patches provided [here](https://bitbucket.org/chromiumembedded/cef/pull-requests/285)

[2022-10-18 05:34] Joe91 opened #872 "[Bug] Collision-raycasts always return after the first hit"
[BugTestVuRaycast.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/9806779/BugTestVuRaycast.zip)
Usually they return a list with all the hits they had. This worked in the past (tbh no idea when exactly it stopped working).
With this reprod-mod this can be tested on the server-side.
It also does not work on the client anymore but it might be the same reason.

To the mod:
Just load noshar

[2022-10-19 06:50] paulhobbel commented on #821
Could also be related to an issue in CEF, one of the patches I applied is known to fix freezes that are causes by recent changes in NVDIA drivers. Will be fixed in #871

[2022-10-19 06:53] paulhobbel commented on #590
We're in the process of upgrading CEF which potentially fixes this issue. Using #871 as reference

[2022-10-23 21:54] FlashHit opened #873 "[Req] Lua Preprocessor support"
http://lua-users.org/wiki/SimpleLuaPreprocessor

[2022-10-23 23:12] FlashHit commented on #794
It seems to be because of duplicated HavokDestructionPhysicsData resources. So similar to meshes we need block duplicated resources here.

[2022-10-26 20:49] FlashHit opened #874 "[Req] `Player:FindBestTeam` hook"
Gets called on PlayerEnter when the Teamid is TeamNeutral.

[2022-11-02 00:49] FlashHit opened #875 "[Req] Previous TeamId for `Player:TeamChange` events"

[2022-11-02 05:51] #795 closed, assigned to nobody

[2022-11-02 05:54] FlashHit commented on #771
If I understood it correctly it only lists entities that have isEventConnectionTarget set to 2 or less. (0 only client, 1 only server, 2 both)

[2022-11-02 05:56] FlashHit commented on #765
Todo: check if entity destruction decrements the reference count of the datacontainer.

[2022-11-03 00:09] paulhobbel commented on #465
Implemented in `19963` as event `Player:ChangingWeapon`

[2022-11-03 00:09] paulhobbel commented on #513
Implemented in `19963`

[2022-11-03 00:10] #465 closed, assigned to FlashHit

[2022-11-03 00:10] #513 closed, assigned to FlashHit

[2022-11-03 00:10] paulhobbel commented on #521
Implemented in `19963`

[2022-11-03 00:11] #521 closed, assigned to FlashHit

[2022-11-03 00:11] paulhobbel commented on #527
Implemented in `19963`, no more need to manually encode now

[2022-11-03 00:11] #527 closed, assigned to FlashHit

[2022-11-03 00:12] paulhobbel commented on #497
Implemented in `19963`

There are two events:
- [CombatArea:PlayerDeserting](https://docs.veniceunleashed.net/vext/ref/server/event/combatarea_playerdeserting)
- [CombatArea:PlayerReturning](https://docs.veniceunleashed.net/vext/ref/server/event/combatarea_playerreturning)

[2022-11-03 00:13] paulhobbel commented on #608
Fixed in `19963`

[2022-11-03 00:13] #497 closed, assigned to FlashHit

[2022-11-03 00:13] #608 closed, assigned to FlashHit

[2022-11-03 00:15] paulhobbel commented on #875
Implemented in `19963`

[2022-11-03 00:15] paulhobbel commented on #546
Implemented in `19963`

[2022-11-03 00:15] #875 closed, assigned to FlashHit

[2022-11-03 00:15] paulhobbel commented on #352
Implemented in `19963`

The [vu.DisablePreRound](https://docs.veniceunleashed.net/hosting/commands/#vudisablepreround) RCON variable can now be used for this

[2022-11-03 00:16] paulhobbel commented on #874
Implemented in `19963`

[2022-11-03 00:17] FlashHit commented on #679
Fixed in build `19968`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19968) for more information.

[2022-11-03 00:17] #679 closed, assigned to FlashHit

[2022-11-03 00:18] paulhobbel commented on #871
Implemented in `19963`. We now switched to CEF `4638`, which means we are running Chromium 95, which is from last year. Support for CEF `5060` is in the works, which is Chromium 103, this will follow in a later update.

[2022-11-03 00:18] FlashHit opened #876 "[Req] Add Client `PlayerManager:GetSquadLeader`"

[2022-11-03 00:18] FlashHit commented on #876
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:18] #876 closed, assigned to FlashHit

[2022-11-03 00:18] #546 closed, assigned to FlashHit

[2022-11-03 00:18] #352 closed, assigned to FlashHit

[2022-11-03 00:18] #874 closed, assigned to FlashHit

[2022-11-03 00:19] #871 closed, assigned to paulhobbel

[2022-11-03 00:19] FlashHit commented on #479
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:19] #479 closed, assigned to FlashHit

[2022-11-03 00:19] paulhobbel commented on #849
Implemented in `19963`

[2022-11-03 00:19] FlashHit commented on #833
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:19] #833 closed, assigned to FlashHit

[2022-11-03 00:19] #849 closed, assigned to FlashHit

[2022-11-03 00:20] FlashHit commented on #487
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

Use `CapturePointEntity:EnableSpawners` & `CapturePointEntity:DisableSpawners`. Or use `SpawnEntity.enabled`.

[2022-11-03 00:20] #487 closed, assigned to FlashHit

[2022-11-03 00:20] FlashHit commented on #530
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:20] #530 closed, assigned to FlashHit

[2022-11-03 00:20] FlashHit commented on #854
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:20] #854 closed, assigned to FlashHit

[2022-11-03 00:20] FlashHit commented on #859
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:20] #859 closed, assigned to FlashHit

[2022-11-03 00:21] FlashHit opened #877 "[Req] Add `LifeCounter:BaseDestroyed` event"
For Rush.

[2022-11-03 00:21] FlashHit commented on #877
Fixed in build `19968`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19968) for more information.

[2022-11-03 00:21] #877 closed, assigned to FlashHit

[2022-11-03 00:22] FlashHit commented on #799
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:22] #799 closed, assigned to FlashHit

[2022-11-03 00:22] FlashHit commented on #814
Not really much I could do about this but added the previous TeamId to this event. So that should help somehow.

Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:22] #814 closed, assigned to FlashHit

[2022-11-03 00:28] FlashHit opened #878 "[Req] Add WebUI warnings and error to the client console"

[2022-11-03 00:28] FlashHit commented on #878
Fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:28] #878 closed, assigned to paulhobbel

[2022-11-03 00:29] FlashHit commented on #590
Potentially fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:29] #590 closed, assigned to paulhobbel

[2022-11-03 00:30] FlashHit commented on #821
Potentially fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:30] #821 closed, assigned to paulhobbel

[2022-11-03 00:31] FlashHit commented on #764
Potentially fixed in build `19963`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19963) for more information.

[2022-11-03 00:31] #764 closed, assigned to paulhobbel

[2022-11-03 00:59] FlashHit commented on #734
PR:
- https://github.com/EmulatorNexus/Fusion-UI/pull/28

[2022-11-04 00:10] FlashHit commented on #708
Fixed in build `19968`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19968) for more information.

[2022-11-04 00:10] #708 closed, assigned to FlashHit

[2022-11-04 00:10] FlashHit commented on #715
Fixed in build `19968`. Go to [changelog](https://docs.veniceunleashed.net/general/changelog/#19968) for more information.

[2022-11-04 00:10] #715 closed, assigned to FlashHit

[2022-11-04 00:24] FlashHit opened #879 "[Req] VEXT 2.0 Runtime"
Refactor the way we handle DataContainers and its structure types as well the handling of fb arrays.
This should make things safer. Reduce crashes. Point out mis-usage of VEXT. And make casting DataContainers redundant.

[2022-11-04 00:25] FlashHit commented on #805
Will be fixed with:
- https://github.com/EmulatorNexus/VeniceUnleashed/issues/879

[2022-11-04 00:26] FlashHit commented on #801
Most of them will probably be fixed with:
- https://github.com/EmulatorNexus/VeniceUnleashed/issues/879

[2022-11-05 02:10] FlashHit opened #880 "[Req] `Player:FireWeapon`"
Use `ClientWeaponPlayerPrimaryWeaponFireMessage`

[2022-11-06 14:49] FlashHit opened #881 "[Crash] Unsubscribing Events while dispatching"
What happens is the vector with all events gets looped and dispatches every event. While that I am able to unsubscribe the event. Which will change the size of the vector and then when it goes to the next iterator in the for loop, it shits itself and crashes.

[2022-11-08 19:38] FlashHit opened #882 "[Req] `WebUI:ExecuteJS` multiple parameters"
atm I am forced to send it as a table.

[2022-11-09 21:11] FlashHit commented on #882
did it wrong, works already

[2022-11-09 21:11] #882 closed, assigned to nobody

[2022-11-10 04:21] FlashHit opened #883 "[Bug] Voip stops working after mod reload"
Not able to create voipchannels after executing modList.reloadExtensions.

[2022-11-10 04:35] FlashHit opened #884 "[Req] `EntityBus:RegisterDestroyCallback`"

[2022-11-10 08:36] paulhobbel commented on #881
This can be fixed by using a lock

[2022-11-12 07:22] FlashHit commented on #884
Seems like it never gets called.

[2022-11-12 07:23] FlashHit commented on #880
Or another event that gets called whenever the ammo changes would work as well.