[2014-10-11 07:49] zestybaby opened #1 "Can't run VU in Windows 8.1 with CJK languages enabled"
Because DICE ignores an old problem which would cause Windows 8.1 in CJK to break the game, it is confirmed that VU can't work in those languages too.

Due to some new changes to Windows 8.1, some unicode characters, like "™" in this case, would cause some frostbite engine's games failed at launch, DICE was aware for this issue and took actions for BF4 and NFS Rivals, but ignored BF3 while they di

[2014-10-11 18:16] ghost opened #2 "Can't quit the game properly"
I've encountered a bug, while I want to quit the game, it would freeze when exiting, and both press close button or press Alt + F4 won't work, it makes me have to use task manager to force close the game. Please take a look at this issue and release a patch to fix this problem.
FYI I'm using Windows 7 Ultimate 64 bit, I'll provide more information about my PC if you need it.

[2014-10-12 06:44] OrfeasZ opened #3 "WebUI Renderer is currently rendering using the software path"
This causes various issues, such as accelerated elements not being rendered correctly, and also has a minor performance impact on the client.

[2014-10-12 07:16] OrfeasZ opened #4 "Frostbite renderer incorrectly sets internal resolution on launch"
This appears to only occur when the game window is not in focus when the renderer initializes.
This causes it to set the internal resolution to maximum (instead of the window resolution), and also causes the WebUI renderer to not function properly.

Some known workarounds for this are:
1) If the game is in windowed mode, grab it from the title bar and move it.
2) If the game is in fullscreen mode,

[2014-10-12 07:35] OrfeasZ opened #5 "WebUI resource fetching causes freezes"
This is because we are currently performing resource fetching on the same thread as the renderer.
We should do it on a separate one.

[2014-10-12 13:30] OrfeasZ opened #6 "Main menu doesn't scale properly in sub-720p resolutions"

[2014-10-12 16:10] OrfeasZ commented on #4
This has been fixed in build 6500.

[2014-10-12 16:10] #4 closed, assigned to kiwidoggie

[2014-10-12 17:19] Powback opened #7 "Menu flickering in SLI configurations"
While running 2x GTX780 in SLI, I'm getting constant flickering.
http://i.gyazo.com/f3ffa10f90c79f5aa2e9fcfcde4189fd.gif
This happens 100 times faster than what's showed in this gif. It's also depending on the window resolution. I can at one point make the menu stand completely still, instead of it realigning itself.

Both the menu and the background are moving.

Lowering the refresh-rate from 120

[2014-10-12 18:15] Xulunix commented on #7
Confirmed on other PC
SLI -> flickering like mentioned above or blackscreen flickering etc.
disabeling SLI fixes it.

2 x GTX 560

[2014-10-13 12:38] OrfeasZ commented on #7
We are currently investigating this issue.

[2014-10-13 15:45] OrfeasZ opened #8 "Sending non-ASCII characters in the chat causes the server to crash"

[2014-10-13 18:31] kiwidoggie commented on #8
Fixed in build 6598.

[2014-10-13 18:31] #8 closed, assigned to kiwidoggie

[2014-10-13 18:54] OrfeasZ commented on #7
@powback Can you check if you're still experiencing UI resizing issues with the latest update?

[2014-10-13 19:21] Powback commented on #7
@OrfeasZ The resizing issue is fixed, I am still, however, experiencing flickering.
http://i.gyazo.com/b6d55c64282e9acc23aa1f396678dd5e.mp4
This happens every two frames or so.

The flickering lasts until I resize the window, but then the background keeps flickering between frame 1 and whatever frame that's next. Somewhat shown here,
http://i.gyazo.com/6d988801c7c255fe60c539f0eaf74edb.mp4

edit:
I

[2014-10-13 19:59] OrfeasZ commented on #7
From what it seems this appears to be an issue related to how frames are being pre-rendered (or alternatively rendered) when running in SLI mode.

We will be looking into optimizing our rendering pipeline to account for that, but until then you'll have to settle with not using SLI.

[2014-10-13 23:48] Xulunix commented on #7
https://nocloud.xulunix.de/public.php?service=files&t=462da8efee5d72972069e54867c1373b
https://nocloud.xulunix.de/public.php?service=files&t=63fddca0eedd28c6ccecda96d6e7f076

2x GTX 560 (Win 8.1)

Just to keep it complete, NoFaTe already knows the videos

[2014-10-14 21:38] derrod opened #9 "Spectator mode crosshair incorrectly placed on the expanded map"
In spectator mode the crosshair marking your position is incorrectly placed in the expanded map (by Default openend with "M").

Screenshots:
![small map](http://puu.sh/ccoWf/9f0c9cea9a.png)
![big map](http://puu.sh/ccoYf/6234637606.png)

[2014-10-14 21:48] derrod opened #10 "Spectator mode lighting issues"
I noticed some issues with lighting while testing the spectator mode.

I made a short [video demo](https://vid.me/yQ8).

[2014-10-15 11:42] ghost opened #11 "WebUI doesn't properly update on older GPUs or some Dual-GPU configurations"
When I start typing something in the Username/email box, I have to alt-tab and then alt-tab again to see the changes.

[2014-10-15 11:43] OrfeasZ commented on #11
Can you see the background moving before having to Alt-Tab?

[2014-10-15 11:44] ghost commented on #11
Yes. Note: I do not have access to the beta, but I guess I should be able to type in the input boxes.
Even login worked, but I had to alt-tab for the login error to show up.

[2014-10-15 11:52] OrfeasZ commented on #11
Can you please generate and attach an MSINFO32 report to this issue?
Make sure to generate it while Battlefield 3 is running.

Instructions on how to do so can be found here:
https://support.steampowered.com/kb_article.php?ref=1376-WTZN-9132

[2014-10-15 11:56] OrfeasZ commented on #11
If you do not wish to publish your report, feel free to send it to me via email (nofate -at- nofate -dot- me).

[2014-10-15 11:58] ghost commented on #11
Okay, I will do it now.

[2014-10-15 12:03] ghost commented on #11
@OrfeasZ Report sent :)

[2014-10-18 12:24] OrfeasZ opened #12 "Connecting to a dedicated server after a while gets you stuck in the loading screen"
It appears that joining a dedicated server after an unspecified amount of time will get you stuck in the black loading screen after the level has loaded.
This could be caused by invalid team allocation actions.

Investigating...

[2014-10-18 12:35] derrod commented on #12
I want to add to this that it's still possible to join as a spectator.

[2014-10-22 20:26] OrfeasZ commented on #3
Fixed in build 6684.

[2014-10-22 20:26] #3 closed, assigned to OrfeasZ

[2014-10-22 20:26] OrfeasZ commented on #1
Fixed in build 6684.

[2014-10-22 20:26] #1 closed, assigned to OrfeasZ

[2014-10-22 20:28] OrfeasZ commented on #11
@win32re Can you please check if you are still experiencing problems after updating to the latest build (6684)?

[2014-10-22 20:35] ghost commented on #11
I will test this in a moment but do note I reinstalled my PC to Windows 7 SP1 x64.

[2014-10-22 20:38] ghost commented on #11
@OrfeasZ Still same :(

[2014-10-22 20:39] OrfeasZ commented on #11
@win32re Since you re-installed, could you possibly send me another MSINFO32 report?

[2014-10-22 20:41] ghost commented on #11
@OrfeasZ Sent!

[2014-10-24 00:32] OrfeasZ opened #13 "Client crashes when a spectated player switches to an equipment slot"
This only happens when spectating a player in first-person view.

[2014-10-25 15:11] OrfeasZ commented on #12
Fixed in build 6692.

[2014-10-25 15:11] #12 closed, assigned to nobody

[2014-10-27 17:05] OrfeasZ commented on #2
@huangfengye Can you please confirm that this problem is still present?

[2014-11-01 08:18] OrfeasZ opened #14 "Scoreboard ping indicators do not work"

[2014-11-05 15:21] Xulunix opened #15 "Spectator: Freecam movement-lag while pressing Sprint"
Pressing Sprint(Shift) while spectating in freecam-mode, the camera movement starts to hang.
Only the camera movement is affected, the game is still rendered correctly

https://nocloud.xulunix.de/public.php?service=files&t=0534ca85209c3886a70a484146ffc9f1

[2014-11-05 15:23] OrfeasZ commented on #15
The Shift key is used for switching between spectating modes (freecam, third-person, first-person), which is the reason you're experiencing 'lag' while holding it down.

[2014-11-05 15:23] #15 closed, assigned to nobody

[2014-11-05 19:46] mirh commented on #2
I can confirm the game still doesn't close when you press the X button on the top-right of the window
Windows 7 64bit too

[2014-11-06 20:52] Xulunix opened #16 "Servers listed multiple times"
Pressing the "REFRESH" button in the serverbrowser multiple times before the list is loaded, causes the server to get listed multiple times.
Each click on the button (before the list is loaded) will cause the server to get listed one more time.

https://nocloud.xulunix.de/public.php?service=files&t=9aee277560787a88613864ffdbb477d1

[2014-11-08 20:41] derrod opened #17 "Shift + Tab doesn't work"
You can't cycle backwards through UI elements with shit + tab in the login screen.

[2014-11-08 21:01] OrfeasZ commented on #17
I'm not quite sure I understand what you're talking about.
Are you referring to the Steam Overlay when launching the game via Steam?

[2014-11-09 01:39] derrod commented on #17
No, I'm talking about the login form.

Pressing Tab will jump to the next element (i.e. password field) as expected, Shift + Tab will show the same behaviour while it is expected to cycle backwards i.e. from the "Login" button back to the password field.

[2014-11-09 09:07] spooker0 opened #18 "Using backspace to navigate buggy"
Expected behavior: Backspace is supposed to let you go back a screen when you're in the Venice menu.

Problem:
When you quit out of a server and repeatedly press backspace, you're put into a black screen with "loading" flashing on the bottom right corner. There is no way to get out of this screen unless you quit the client.

When you login, then press backspace repeatedly, you see the login screen

[2014-11-09 09:09] spooker0 opened #19 "Sound volume low when spectating"
When you enter a server as a spectator, sound volume is low (almost muted) until you switch perspective or hit the escape (to go to menu) and then go back in.

[2014-11-09 09:10] spooker0 commented on #14
Nor do they work in the server browser.

[2014-11-09 10:06] OrfeasZ commented on #18
This is unexpected behavior and will be disabled in the next release.

[2014-11-09 10:11] OrfeasZ commented on #19
This is a known issue that is caused by an invalid UI state not being popped by the client.

[2014-11-09 11:33] OrfeasZ commented on #18
Fixed in build 6758 (not live yet).

[2014-11-09 11:33] #18 closed, assigned to nobody

[2014-11-09 11:43] OrfeasZ commented on #17
It appears that most keys combinations do not work properly (like Ctrl+A).
Will be working on fixing that.

[2014-11-09 20:37] ghost opened #20 "Playing on low-end GPU's"
Is it possible to do some tweaks which will disable shadows and effects in order to play Venice Unleashed on low-end GPU's like ATI 5450?

[2014-11-09 21:29] Xulunix commented on #20
No, i don't think this is planed atm.
if you can't play vanilla BF3, you can't play VU.

[2014-11-19 18:50] hanjianlin opened #21 "Show this issue"
![image](https://cloud.githubusercontent.com/assets/883268/5112052/ef243c68-705f-11e4-93f5-a2878c7ef3bb.png)

[2014-12-02 07:15] OrfeasZ commented on #21
@zestybaby
I'm not sure if this is Chinese, but if so could you possibly translate what the dialog says?

[2014-12-02 12:30] zestybaby commented on #21
That means the account was used on too much PCs.

[2014-12-02 12:31] OrfeasZ commented on #21
@zestybaby Thank you.
@hanjianlin You should contact EA/Origin about licensing issues.
Closed.

[2014-12-02 12:31] #21 closed, assigned to nobody

[2014-12-02 12:33] hanjianlin commented on #21
@zestybaby
I removed the Core directory and repaired by roigin Battlefield 3 files
Has been resolved!
You get the beta qualifications that?

[2014-12-03 03:30] zestybaby commented on #21
@hanjianlin Yes, since I'm a member from mod team, I granted that from the beginning.

[2014-12-03 03:32] hanjianlin commented on #21
@zestybaby
I would like to get Niece qualifications! I do not know what way can I get one?

[2014-12-07 12:28] OrfeasZ opened #22 "Implement remember-me for the login sequence"

[2014-12-07 13:30] OrfeasZ opened #23 "Can't move when re-connecting after spectating"
There is currently an issue where the Input Schema isn't being properly reset when exiting Spectator mode, resulting in the player being unable to move when re-joining a server normally.

[2014-12-07 13:37] OrfeasZ commented on #20
It might be possible, but not something we want to consider right now.
We might revisit this at a later date.

[2014-12-07 13:37] #20 closed, assigned to nobody

[2014-12-07 13:51] OrfeasZ commented on #23
Fixed in build 6786.

[2014-12-07 20:35] OrfeasZ commented on #22
Fixed in build 6806.

[2014-12-07 20:35] #22 closed, assigned to OrfeasZ

[2014-12-07 20:35] OrfeasZ commented on #16
Fixed in build 6806.

[2014-12-07 20:35] #16 closed, assigned to nobody

[2014-12-07 20:36] #5 closed, assigned to OrfeasZ

[2014-12-07 22:30] derrod opened #24 ""Hint System" option name replaced by loading screen hint"
I noticed this in the options under the "gameplay" tab:
![Screenshot](http://puu.sh/dljIM/7a4465d7de.png)

I guess the method you use to replace the loading screen hints also replaced the name of this toggle.

[2014-12-08 10:11] OrfeasZ opened #25 "WebUI renders over the Ingame Console and the Performance Overlay"
The WebUI currently renders over everything, including the Ingame Console and the Performance Overlay. It also makes it impossible to use the console while active.

[2014-12-08 10:27] OrfeasZ commented on #25
Fixed in build 6860.

[2014-12-08 10:27] #25 closed, assigned to OrfeasZ

[2014-12-08 10:35] OrfeasZ commented on #24
Fixed in build 6862.

[2014-12-08 10:35] #24 closed, assigned to OrfeasZ

[2014-12-09 22:20] bigworld12 opened #26 "getting the unknown error"
i am still getting the unknown error

[2014-12-10 00:16] OrfeasZ commented on #26
@bigworld12
What do you mean you're getting the 'unknown error'?
Where are you getting that error and what circumstances?

[2014-12-10 08:00] OrfeasZ opened #27 "Connection to the backend times out on dedis"
After several hours, the backend connection on dedicated servers times out, causing all players to be dropped and the server to disappear from the server-list until it re-connects.

This could be caused by the clock drift on virtual machines.
Investigating...

[2014-12-10 09:15] OrfeasZ commented on #17
Fixed in build 6876.
All key combinations should now work (including pasting text in input elements).

[2014-12-10 09:15] #17 closed, assigned to OrfeasZ

[2014-12-10 11:19] bigworld12 commented on #26
yesterday when i was logging in i was getting "unknown error"
now i am getting "you are not authorized to access this product"

[2014-12-10 11:24] OrfeasZ commented on #26
@bigworld12
The unknown error occurs sometimes when the backend is restarted.
As for the other error, it means you don't have a valid Closed Beta license tied to your account.
If you have gotten an invitation make sure to redeem your key at http://veniceunleashed.net/downloads

[2014-12-10 11:24] #26 closed, assigned to nobody

[2014-12-10 11:30] derrod commented on #23
This bug still occurs in build 6865.

[2014-12-10 11:35] OrfeasZ commented on #23
Looks like some later changes in the way the spectator mode works have caused this bug to re-appear.

[2014-12-10 11:57] OrfeasZ commented on #23
Fixed again in build 6885.

[2014-12-10 11:57] #23 closed, assigned to nobody

[2014-12-10 12:07] OrfeasZ commented on #14
Fixed in build 6884.
Server-browser ping indicators still do not work.

[2014-12-10 12:07] #14 closed, assigned to OrfeasZ

[2014-12-10 16:22] kiwidoggie commented on #13
![tugs](https://cloud.githubusercontent.com/assets/9152262/5379401/dd0bde8c-805e-11e4-8983-ade0ede93f00.png)

[2014-12-10 16:23] kiwidoggie commented on #13
Fixed in build 6891.

[2014-12-10 16:23] #13 closed, assigned to kiwidoggie

[2014-12-11 16:22] OrfeasZ commented on #2
Several safeguards have been put in place to ensure the game quits.
It is perfectly normal for the game to freeze for a few seconds before completely shutting down.

[2014-12-11 16:22] #2 closed, assigned to nobody

[2014-12-11 19:31] calvin69777 opened #28 "Venice Unleashed -> BF3 Folder configuration"
hello everybody,

i have a problem, after the BF3 installation the BF3 directory is called "Battlefield 3™", but BF3 will not start because Windows can't handle the (TM).

If I remove the (TM) -> "Battlefield 3" the game will start properly.

But now I can't start BF3 by Venice Unleashed, because it will not find the BF3 installation.
Is there a way to configurige  Venice Unleashed to the "Battlef

[2014-12-11 19:36] OrfeasZ commented on #28
The Venice Unleashed launcher currently reads the Battlefield 3 directory from the registry, which means that you can't manually override it.
However, you should be able to fix the directory yourself in the registry.

To do so, open regedit by typing 'regedit' in your start menu and hitting enter, navigate to HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\EA Games\Battlefield 3, and change the values of

[2014-12-11 20:57] calvin69777 commented on #28
Thank you very much for your help :)

now Venice Unleashed find my BF3 installation,
but I get an other error when Venice Unleashed try to start the louncher, "Failed to start Battlefield 3 process. Do you have the required permissions?".

These permissions are set:
![unbenannt](https://cloud.githubusercontent.com/assets/10158541/5401954/8302ce64-8180-11e4-90ef-e98701f75f8f.JPG)

I'am able to star

[2014-12-11 21:21] OrfeasZ commented on #28
Try running Venice Unleashed as an administrator and make sure you're running the latest patch of the game and that your bf3.exe is not modified.

[2014-12-11 21:28] calvin69777 commented on #28
the bf3.exe is a cracked one that allows me to play without origin, but if Venice Unleashe only work with the original version of BF3 I will buy soon.

[2014-12-11 21:30] OrfeasZ commented on #28
We do not support cracked or otherwise modified versions of the game.
Venice Unleashed only works with licensed vanilla builds of the game.

[2014-12-11 21:30] #28 closed, assigned to nobody

[2014-12-12 13:43] Timse93 opened #29 "Console button not functioning properly in menu using Swedish kayboard layout"
The console is normally supposed to be opened using the tilde button (The one under escape and next to 1). On the Swedish keyboard layout however, tilde is in a completely different place.
The game itself handles the the Swedish keyboard layout perfectly and allows one to use the same button, even though it's a different layout.
The custom coded menu does not compensate for it and for some reason

[2014-12-13 10:45] #27 closed, assigned to OrfeasZ

[2014-12-15 22:51] OrfeasZ opened #30 "Client crashes when joining a server with Sun Flare disabled"

[2014-12-16 01:41] OrfeasZ commented on #30
Fixed in build 6950.

[2014-12-16 01:41] #30 closed, assigned to OrfeasZ

[2014-12-17 13:46] derrod opened #31 "Server crashes when capturing a point in second round"
I noticed a bug that causes the server to crash.

How to reproduce:
1. Load a map (I tested this on XP5_003 and MP_Subway)
2. Get into the capture zone of a flag, it doesn't matter whether it is completely captured or not, it just needs to be triggered
3. Restart round or skip to next round if the map has two or more (via Rcon)
4. Enter capturing zone of a flag
5. Server will crash

[2014-12-17 16:02] OrfeasZ opened #32 "Quoted strings in the startup file are not being read as complete 'words'"

[2014-12-18 20:32] derrod commented on #29
Can also confirm it when using a german layout.

[2014-12-23 23:31] OrfeasZ commented on #31
Fixed in build 6975.

[2014-12-23 23:31] #31 closed, assigned to OrfeasZ

[2014-12-23 23:31] OrfeasZ commented on #32
Fixed in build 6975.

[2014-12-23 23:31] #32 closed, assigned to OrfeasZ

[2014-12-25 17:21] OrfeasZ opened #33 "Current connection sequence doesn't punch through NAT"
This prevents hybrid servers from being properly joinable in NAT environments without proper configuration.

[2014-12-25 23:48] kiwidoggie commented on #33
You can resolve the issue by port forwarding UDP Inbound Port 7948 in the meantime.

[2014-12-25 23:50] OrfeasZ commented on #33
However, that's not guaranteed to work with all routers.

[2014-12-26 23:08] derrod opened #34 "Server crash when some rcon commands are sent with invalid parameters"
i.e. "vars.roundrestartPlayerCount asd" will crash the server.
i.e. "vars.3dSpotting asd" doesn't.

Incomplete list of commands that cause crashing:
- vars.roundrestartPlayerCount
- vars.roundStartPlayerCount
- vars.roundWarmupTimeout
- vars.roundLockdownCountdown

[2014-12-26 23:24] OrfeasZ commented on #34
The inputs of some of these commands is not being validated.
Will be fixed in an upcoming build.

[2014-12-26 23:45] derrod opened #35 "Rcon event gibberish"
I really couldn't come up with a better title...

This is pretty self-explanatory, some rcon events have values that don't make sense:

[code]

`‹ø…Ût‹ƒ` should be the weapon or event (i.e. suicide). This happens when people are killed when a vehicle crashes, but now always and I haven't figured out how to reliably reproduce this bug.

There is another rcon event that has a similar issue (just

[2014-12-27 01:04] OrfeasZ commented on #35
As per Server R38 docs:

Suicide indication is unknown at this moment.
If the server kills the player (through admin.killPlayer), the result is unknown.

So I would assume this is perfectly normal behavior.
If not, I can definitely add additional checks to prevent invalid characters.

[2014-12-27 01:24] derrod commented on #35
Suicide (using the menu):
`player.onKill Rodney Rodney Suicide false`
Suicide (using a nade):
`player.onKill Rodney Rodney M67 false`
Suicide using fall damage:
`player.onKill Rodney Rodney ‹ø…Ût‹ƒ false`

Some testing showed that this can be reliably achieved by killing oneself using falling damage.
Interestingly dying while crashing a vehicle doesn't trigger the onKill event. It seems the ori

[2014-12-27 02:17] OrfeasZ commented on #34
Fixed in build 7054.

[2014-12-27 02:17] #34 closed, assigned to OrfeasZ

[2014-12-27 02:19] OrfeasZ commented on #33
Since build 7054 the server will attempt automatic port-mapping with UPnP enabled devices.
Some additional heuristics have also been applied to allow same-network connections under NAT.

[2014-12-27 02:19] #33 closed, assigned to OrfeasZ

[2014-12-27 09:56] derrod opened #36 "Player statistics are not reset on map change via rcon"
Title says it all.
When changing the map via rcon command player scores are not reset.

Not sure if it only happens when changeing the map or also restarting the round.
Ending the round properly (i.e. one team wins) seems to properly reset the player stats.

[2014-12-27 17:38] OrfeasZ commented on #36
The next map and round restart commands are both calling built-in functions, so I assumed this is normal behavior.
If someone can confirm that scores indeed reset on map change I'd be happy to implement such a feature.

[2014-12-27 23:46] derrod commented on #35
I was able to verify that a similar message is sent when dying through falling damage on a vanilla bf3 server.

`player.onKill Rodney Rodney ‰D$…Ût‹ƒ false`

Even though it seems weird the server behaves correctly. The only one to blame for this weirdness is therefore DICE.

[2014-12-27 23:47] OrfeasZ commented on #35
We could of course correct this in order to display a proper cause of death (like 'World').
@kiwidoggie What do you think?

[2014-12-27 23:57] derrod commented on #36
Testing on a vanilla bf3 has shown that this is indeed intended behaviour. It seemed werid to me as no other game I know of does this, including BFBC2.

[2014-12-27 23:57] #36 closed, assigned to nobody

[2014-12-28 05:28] derrod opened #37 "serverInfo mapname format incorrect"
Currently `serverInfo` returns this:
`OK Test Server #003 0 68 ConquestLarge0 Levels/MP_001/MP_001 0 1 2 0 0 400 AcceptingPlayers true false false 0 0 IP:Port  false EU  NL false`
The mapname has to be just `MP_001` instead of `Levels/MP_001/MP_001` (like on the onLevelLoaded event).

[2014-12-28 10:50] delukz opened #38 "after login - text disappears"
text just seems to disappear here after I log in.
It shows me the make new soldier, after that nothing.
I have managed to make a soldier by typing it in blindly, so after making a soldier I see a menu pop up to the top left for about 1 second before it disappears.

Machine: GF970, i7 3930, 8 GB, Win 8.1, 1x 1440p + 1x 1080p

[2014-12-28 13:09] OrfeasZ commented on #38
@delukz Does the login screen work properly, or does it also have response issues?
Can you provide a screenshot or video of your problem?

[2014-12-28 13:12] delukz commented on #38
Here you go: https://www.youtube.com/watch?v=LirbTTiviOA

[2014-12-28 13:18] OrfeasZ commented on #37
This was already fixed in build 7074, it just hasn't been pushed live yet.

[2014-12-28 13:18] #37 closed, assigned to nobody

[2014-12-28 13:25] kiwidoggie commented on #35
@OrfeasZ We should correct it.

[2014-12-28 13:26] OrfeasZ commented on #38
This is a very odd issue indeed.
What's even more odd is that the loading indicator is rendering over the UI.

I will look into a few things and let you know if I need any additional information @delukz.

[2014-12-28 13:28] OrfeasZ commented on #38
Scrap that last thought, it just looks like the backdrop image isn't being loaded.
Still odd though.

[2014-12-28 16:32] OrfeasZ commented on #38
@delukz I have pushed a new update (build 7089) which includes several changes to the WebUI.
The update should be live within the next 15 minutes.

Let me know if you're still experiencing this issue with the new build, and if so, please attach to this issue the WebUI_debug.log file which will be generated in your BF3 installation directory.

[2014-12-28 16:35] ghost commented on #38
@OrfeasZ This update might fix issue #11, however, I can't reproduce the issue as I am rebuilding my PC.

[2014-12-28 16:37] OrfeasZ commented on #38
@win32re It looks like issue #11 might be related to outdated AMD GPU drivers for old-gen GPU hardware. I'll post more info on that issue.

[2014-12-28 16:39] OrfeasZ commented on #11
This issue appears to occur on old AMD GPU/driver configurations.
I am experiencing the same issue on my HD4XXX laptop and I've had reports that updated drivers fixed the issue.

However, since HD4XXX cards are now considered legacy, there are no new drivers being released.
I will have to look into it in more detail when I'm back from my holidays (~15 days from now).

[2014-12-28 16:43] ghost commented on #11
Thanks for looking into this issue!

[2014-12-28 16:54] delukz commented on #38
@OrfeasZ Got the update but did not solve the issue.

log file:

The key "target-densitydpi" is not supported.
    at / (line 4)

Warning: No route matches path "". Make sure you have <Route path=""> somewhere in your routes
    at /app/bundle.js (line 6)

[2014-12-28 17:04] tarikz-h opened #39 "game keep crash when launch !"
game keep crash when launch !! "battlefield 3 not responding"
i cant play at all
but i can play normaly in battlelog
how can i fix it ?! :|

[2014-12-28 17:09] OrfeasZ commented on #39
What kind of crashes are you getting?
Are you receiving some kind of error message or is just the game halting with the "x has stopped working" massage?.
Also, make sure you have the Visual C++ 2012 Redistributable package installed on your computer.
You can find it via google.

[2014-12-28 17:18] tarikz-h commented on #39
http://im63.gulfup.com/lsQ588.png
this error i get it means  "battlefield 3 not responding"
and i have the Visual C++ 2012 Redistributable package installed

[2014-12-28 17:23] OrfeasZ commented on #39
I'll be introducing crash reporting capabilities in a future build.
Until then I'm afraid there's not much I can do to help you.

[2014-12-28 17:48] delukz commented on #38
Managed to get a menu somehow after it started in a window mode, disappeared again once I left a game though.

[2014-12-28 18:05] OrfeasZ commented on #38
Try the following:
Run the game in windowed mode and after logging into your soldier try resizing the window and see if the main menu appears.

[2014-12-28 18:49] delukz commented on #38
Resizing works.

[2014-12-28 18:51] OrfeasZ commented on #38
So after resizing it the menu appears?

[2014-12-28 19:07] delukz commented on #38
Yes.

[2014-12-28 19:08] OrfeasZ commented on #38
Okay, so this might be related to #11 after all.
Unfortunatelly I can't look into it right now because I'm lacking some of my resources, so you will have to settle to this workaround for the time being.

[2014-12-28 19:13] faddn opened #40 "Specmode - fail to enter firstperson mode"
Hey!
When you go into firstperson mode and start pressing "z" and "x" I think (this switches between players), if you then enter free-cam you will not be able to enter firstperson mode again.

[2014-12-28 23:45] OrfeasZ commented on #39
@6arek212 The latest build (7106) includes crash reporting.
Update and launch your client, let it crash, and the send the produced report using the reporting dialog that will be presented to you.

[2014-12-29 01:02] derrod opened #41 "player.onChat Event ignores chat channel (team/squad)"
The `player.onChat` Event does not differentiate between all, squad and team chat atm.

That means this:
![screenshot](http://puu.sh/dNaTZ/3f3b877a18.png)
Is currently this on rcon:

[code]

[2014-12-29 01:03] derrod opened #42 "admin.say doesn't trigger onChat Event"
Admin chat, i.e. everything said via rcon, doesn't trigger an onChat event therefore it's not visible to other people connected via rcon.

[2014-12-29 01:03] derrod opened #43 "Yell not implemented"
admin.yell etc. aren't implemented in the current version.

[2014-12-29 01:04] derrod opened #44 "admin.listPlayers doesn't list spectators"
admin.listPlayers doesn't list players connected as spectators.

[2014-12-29 09:46] Dendari92 opened #45 "Chat resetting when player dies"
**This issue is also in vanilla BF3**. If you die while writing then the chat will be reset, everything you were writing will be lost. Video: http://youtu.be/bPEHmiZ5RYA

[2014-12-29 10:58] tarikz-h commented on #39
i updated my client but i dont see the send produced report

[2014-12-29 11:50] Interforce opened #46 "hanging flag-indicator during taking a flag"
As i already reported yesterday via gamechat, here is the bugreport on git:
Sometimes (doesn't really matter what gamemode as long as it features flags) the flag indicator which gets filled up/down randomly hangs even if the flag is still beeing taken.

Happens in about 1/5 games i would say.
Video: http://a.pomf.se/iufwqt.webm

[2014-12-29 11:51] Interforce commented on #45
Chat will also flush when you get revived. Really annoying.

[2014-12-29 13:33] kiwidoggie commented on #46
This issue occurs in Vanilla BF3 as well.

[2014-12-29 16:31] OrfeasZ commented on #46
Does this occur for all players capturing the given flag?

[2014-12-29 16:50] Interforce commented on #46
I don't know, it will stay the whole match like this though (for all flags).

[2014-12-29 19:08] xerxes-at opened #47 "Visual glitches when Spectating"
Video: http://youtu.be/3fj3OXrjwh8
GFX: OC AMD HD 6670
Driver: Omega (14.12)
Can provide More Infos if necessary.

[2014-12-29 19:18] xerxes-at opened #48 "Scoreboard doesn't list all Spectators"
![vlcsnap-2014-12-29-20h10m47s94](https://cloud.githubusercontent.com/assets/5236639/5571845/dc82112e-8f96-11e4-9804-2abb4f65df1f.png)
The Scoreboard didn't show my name as a Spectator but it had shown the placeholder between the Spectatornames.

[2014-12-29 19:40] OrfeasZ commented on #47
The 'fov glitch' is a known issue caused by the server not properly replicating roll angles when spectating a player in first person.

As for the missing HUD, we believe it's caused by the server not replicating UI state.

Finally, the floating hands issue was also present in the BF4 Beta, and we haven't really looked into it, so we're not really sure as to what's causing it.

[2014-12-29 21:16] derrod opened #49 "Roundtime not implemented"
`serverInfo` will always return 0 for uptime and roundtime.

[2014-12-29 21:44] Dendari92 opened #50 "HUD doesn't replicate in Spectator Mode"
The red dot in the American RDS isn't visible. Haven't tested other scopes.

[2014-12-29 21:48] OrfeasZ commented on #50
As explained in #47 we believe this is caused by the server not replicating the client's UI state.
I've updated the issue title to more directly reflect that.

[2014-12-29 21:53] Dendari92 opened #51 "Laggy movements in spectator mode"
Lowering the **Network Smoothing Factor** (Options -> Gameplay) will make players movement _"laggy"_ while spectating. The issue is especially evident with fast moving targets, such as jets. I would suggest forcing the **NSF** to be higher while spectating so the experience is smoother (I don't think a more precise vision is needed when spectating).

[2014-12-29 22:04] miloshthemedic opened #52 "Unable to connect to server"
I just hopped on to see what everything is about when Venice stayed for 5-7mins loading the server and trying to connect to it (Multiple times) with nothing happening

[2014-12-29 22:08] OrfeasZ commented on #52
Make sure your firewall isn't blocking outgoing UDP traffic.
The test servers use the following ports:
7948, 7958, 25200, 25300

[2014-12-29 22:17] miloshthemedic commented on #52
working perfectly now thank you :D

[2014-12-29 22:17] #52 closed, assigned to nobody

[2014-12-29 22:24] OrfeasZ commented on #51
A smoothing factor will be enforced sometime in the near future, since the choppyness is caused because of the slow network tickrate (something we can't easily change).

[2014-12-29 23:17] MizuDG opened #53 "Mouse doesn't work/show sometimes in Main Menu"
The mouse doesn't work sometimes or at least not the in-game mouse. The desktop mouse is behind the window and there's no way to fix this other than restarting the game and hoping it works.

[2014-12-29 23:18] OrfeasZ commented on #53
Does your keyboard work?

[2014-12-29 23:20] MizuDG commented on #53
Yes

[2014-12-29 23:21] derrod commented on #53
Click on the window border, your mouse should be captured by the game again.

[2014-12-29 23:22] MizuDG commented on #53
Doesn't work. I've tried alt tabbing and clicking on it, but the mouse is in the bg and sometimes I even open something else from the desktop. It just happened again and this time it was fullscreen. Still no mouse to be found, but I got into the main menu by Tabbing to the login and pressing Enter. Still no Mouse though.

[2014-12-30 13:38] kiwidoggie commented on #49
Fixed in build 7113.

[2014-12-30 15:14] kiwidoggie commented on #35
If you check the damageType it is extremely out of bounds, invalid from the client. If it IS out of bounds (sometimes?) the weaponName will be correct, otherwise?

[2014-12-30 15:15] kiwidoggie commented on #43
Fixed in build 7118.

[2014-12-30 15:15] #43 closed, assigned to kiwidoggie

[2014-12-30 19:00] Xulunix opened #54 "Lagging progress-circle while capturing points"
While capturing points in Conquest, sometimes the progress-indicator is lagging.
I couldn't replicate this on the next map. A player in the other team had the same issue.
Video: https://nocloud.xulunix.de/public.php?service=files&t=ffd409c85a52714cb9b26aa6d72cf906

[2014-12-30 19:42] derrod commented on #54
This is a duplicate of #46

[2014-12-30 19:42] #54 closed, assigned to nobody

[2014-12-31 01:10] Dendari92 opened #55 "Can't switch to another player when in Spectator Mode"
It seems to happen mostly when the player you're spectating dies.

[2014-12-31 01:11] OrfeasZ commented on #55
Duplicate of #40

[2014-12-31 01:11] #55 closed, assigned to nobody

[2014-12-31 17:57] summetje opened #56 "console breaks open chat window."
When you open and close the console menu while you have a chat window open, then that chat window won't work anymore.
You can't type or control your character anymore until you close the broken chat window by pressing Esc.

[2014-12-31 18:04] OrfeasZ commented on #56
That's also present in the retail version.

[2015-01-03 12:49] derrod opened #57 "Empty lines in startup file cause crash"
A bug I noticed while creating a Startup.txt file that had a part like this:

[code]

This doesn't apply if there is only one empty line at the end of the file, however if there are more than one like this it will crash:

[code]

[2015-01-03 18:49] kiwidoggie commented on #41
Fixed in build #7120.

[2015-01-03 18:49] #41 closed, assigned to kiwidoggie

[2015-01-03 20:30] yemreck opened #58 ""APPCRASH" at launch "nvwgf2um.dll""
i could play on my dirty windows 8 installation. i formatted my pc and installed windows 7. I tried to start venice unleashed game came. around 3-5 i could access console but after crashed and gave me "APPCRASH" and "nvwgf2um.dll". I got windows 10 preview for recovery etc.. I tried to play on windows 10 preview it crashed again but didnt give anything only "program stopped working" message
Edit:

[2015-01-04 05:25] kiwidoggie commented on #42
Fixed in build #7120.

[2015-01-04 05:25] #42 closed, assigned to kiwidoggie

[2015-01-04 11:51] OrfeasZ commented on #57
Fixed in build 7324.

[2015-01-04 11:51] #57 closed, assigned to OrfeasZ

[2015-01-04 15:06] OrfeasZ commented on #53
Fixed in build 7325.

[2015-01-04 15:06] #53 closed, assigned to OrfeasZ

[2015-01-04 16:05] rierei opened #59 "Delay to display the cursor on the first start"
Video: https://vid.me/JypH. After the first initialization the cursor is displayed without delay.

[2015-01-04 16:09] OrfeasZ commented on #59
Duplicate of #53

[2015-01-04 16:09] #59 closed, assigned to nobody

[2015-01-06 16:40] MizuDG opened #60 "Black Screen Flickering on certain occasions"
At first, it seemed like an issue that happened only while my TV was on as a second monitor, but since recently, I rolled back an Nvidia Driver and it's happening without the TV being on. It occurs when:

I open or close the map (M)
Change the map size (N)
Get killed (which I don't see how it's connected)
and I'm currently trying to find out more.

https://www.youtube.com/watch?v=PJfaF_XNZdM&featu

[2015-01-06 19:12] Xulunix commented on #60
can confirm this, happens in vanilla too

[2015-01-06 19:54] MizuDG commented on #60
Doesn't happen in vanilla for me.

[2015-01-06 21:26] ghost commented on #60
Install the latest driver. Are you using the same monitor and settings when playing vanilla BF3 and Venice Unleashed?

[2015-01-07 07:38] OrfeasZ commented on #60
@MizuDG If you keep pressing N or M down do you get a consistent black screen?

[2015-01-07 20:29] MizuDG commented on #60
No

[2015-01-08 20:50] MizuDG commented on #60
Note: When I see the black screen, the FPS counter from Shadowplay disappears.

[2015-01-09 13:28] somebody873425 commented on #51
I hope with "enforcing it" you mean only in spectator mode.
Playing without NSF gets rid of some lag and makes for a more precise player position.

[2015-01-09 13:30] OrfeasZ commented on #51
The smoothing factor will only be enforced in spectator mode.
Joining as a player you will still be able to configure it via your options menu.

[2015-01-12 06:49] kiwidoggie commented on #35
player.onSpawn also needs to be sanitized.

[2015-01-18 08:30] blackhawkfalled opened #61 "I dont have permission but I can play EA BF3"
I used to play _**. Because the EA BF3 is too hard for me in Asia zone.
Yesterday, I changed the folder of the *_\* from "Battlefield 3" into "Battlefield 3 cracked"/

Then redownload one from origin.
"It is freshed downloaded and installed directly from Origin"
Play EA Bf3 at once to make sure it works.
Next download the veniceunleashed.msi

After the Installation, it still warns me
"Failure"
"Fa

[2015-01-18 08:31] blackhawkfalled commented on #61
BTW, I have the BETA KEY.

[2015-01-18 12:11] Xulunix commented on #61
don't know what **\* messes up
try to use the Repair function in origin

[2015-01-18 12:55] blackhawkfalled commented on #61
reapired, but still have the same problem

[2015-01-18 13:21] OrfeasZ commented on #61
Make sure that the HKEY_LOCAL_MACHINE\Software\EA Games\Battlefield 3\Install Dir key in your registry points to the correct BF3 installation folder and that the folder contains an unmodified bf3.exe.
After you verify that, if you're still getting the same error, try running vu.exe as an administrator.

Also, please refrain from discussing illegal third-party projects.

[2015-01-18 14:21] blackhawkfalled commented on #61
Im sorry to mention that ..
Can you tell me the detail about the registry points?
becuase I dont have the Battlefield 3 folder under the EA games..

[2015-01-18 14:23] OrfeasZ commented on #61
@blackhawkfalled Take a look at issue #28

[2015-01-18 14:27] blackhawkfalled commented on #61
![image](https://cloud.githubusercontent.com/assets/10581573/5792705/2e7fd13a-9f61-11e4-8998-6852fa3d822b.png)
should it be like this?

[2015-01-18 14:29] OrfeasZ commented on #61
@blackhawkfalled
The **GDFBinary** and **Install Dir** keys should point to wherever your vanilla BF3 copy is installed.
So if your installation folder is anything different than **D:\Games\FPS\Battlefield 3** you need to change it.

[2015-01-18 14:30] blackhawkfalled commented on #61
thx . It works after I set vu.exe with administrator . Thx for your help and sorry for my noob..

[2015-01-18 14:30] #61 closed, assigned to nobody

[2015-01-25 13:23] tarikz-h commented on #39
help ! I still can't play the game !!

[2015-01-25 16:32] ghost commented on #58
@keepdying
This is probably a driver problem:
https://forums.geforce.com/default/topic/528454/geforce-drivers/dx10-11-games-crashing-nvwgf2um-dll/

[2015-01-26 07:16] OrfeasZ commented on #60
@MizuDG Take a look at https://forums.geforce.com/default/topic/516972/bf3-screen-goes-black-when-i-die-bf3-bug/

[2015-01-26 07:22] OrfeasZ commented on #39
There appears to be an issue with our crash reporting code where not all threads are being 'watched' for exceptions.
The upcoming update should fix that.

[2015-01-26 14:17] #60 closed, assigned to nobody

[2015-01-26 18:40] tarikz-h commented on #39
when is the next update will be ?!

[2015-01-26 18:44] OrfeasZ commented on #39
When it's done.

[2015-02-02 20:36] MAGICCC opened #62 "Suggestion: Parse IPs to client/rcon without having PB enabled"
It would be nice that the servers can parse the IPs from connected users so we - the serveradmins - can use certain plugins to ban IP(ranges). Had the idea, because I tried to enable the default B3 banlist plugin, which can be found on the official B3 site/github:
http://forum.bigbrotherbot.net/plugins-by-courgette/banlist-plugin/
https://github.com/thomasleveil/b3-plugin-banlist

That suggestion

[2015-02-06 17:15] tarikz-h commented on #39
when launch the game it makes a note folder named " WebUI_debug "
in this folder :
The key "target-densitydpi" is not supported.
    at / (line 4)

Warning: No route matches path "". Make sure you have <Route path=""> somewhere in your routes
    at /app/bundle.js (line 6)

after it crash the folder disappear
is this normal ?!

[2015-02-06 17:18] OrfeasZ commented on #39
Yes, that's completely normal.

[2015-02-16 15:42] asdasd2133 opened #63 "BFBC2 multiplayer login error help me"
snip

[2015-02-16 15:43] asdasd2133 opened #64 "BFBC2 multiplayer login error help me"
snip

[2015-02-16 15:45] #63 closed, assigned to nobody

[2015-02-16 15:46] #64 closed, assigned to nobody

[2015-02-16 15:51] asdasd2133 opened #65 "BFBC2 can't login multiplayer"
snip

[2015-02-16 15:53] #65 closed, assigned to nobody

[2015-04-01 21:45] derrod opened #66 "Selecting a player in spectator mode crashes the client"
This was observed on Build 7962 on server #001.
Free camera works.

[2015-04-01 23:39] Dendari92 opened #67 "Game crashes/doesn't start if missing settings file"
If you launch BF3 using the Venice Unleashed shortcut it won't launch (stuck on loading screen") or just crash to desktop (the usual "application stopped working").

[2015-04-02 06:44] Powback commented on #67
Confirmed. Don't know about the settings file though. Stuck at 10-12 % CPU usage while the memory stays the same.

[2015-04-02 07:09] OrfeasZ commented on #67
This is a known issue which we're currently working on.

[2015-04-02 08:00] kremos opened #68 "I run vu.exe I always black screen and a constant inscription loading"
Hi,I made all the updates 9 \ 9 and now when I run vu.exe I always black screen and a constant inscription loading. Nothing happens. What did I do wrong? :oops:  :(
WebUI_debug.log
Created new handler 1 - 1

Serving: vu://main/

Requested full assets: /webui/main/index.html

Failed to verify signature of vuic container.2

File does not exist in container.

Failed to locate /webui/main/index.htmlin

[2015-04-02 08:20] OrfeasZ commented on #68
Duplicate of #67

[2015-04-02 08:20] #68 closed, assigned to nobody

[2015-04-02 08:39] OrfeasZ commented on #67
Latest build (7986) should have fixed this.
Can someone confirm? @powback @Dendari92

[2015-04-02 09:59] kremos opened #69 "I can not log in after the last update"
I enter the data from the forum, I have played and I have the key
![default](https://cloud.githubusercontent.com/assets/11767892/6961902/09389b08-d938-11e4-9d18-849cf3eaf1eb.jpg)

[2015-04-02 11:37] Dendari92 commented on #67
No more issues here.

[2015-04-02 11:39] Powback commented on #67
No more issues here either, nice new background!

[2015-04-02 16:02] tarikz-h commented on #39
here's the new update and still crashing !!?!

[2015-04-03 00:02] #67 closed, assigned to OrfeasZ

[2015-04-03 00:03] OrfeasZ commented on #69
What's your forum username?

[2015-04-03 04:50] kremos commented on #69
kremos

[2015-04-03 05:00] OrfeasZ commented on #69
You beta key has been manually de-activated by a staff member.
Due to policy, we cannot disclose the exact reason during the Closed Beta.

[2015-04-03 05:00] #69 closed, assigned to nobody

[2015-04-03 18:36] lrabe opened #70 ""webui.exe has stopped working" after closing VU"
When closing the game after having joined a server (and only then) I get the "webui.exe has stopped working" popup.

Behaviour can be reproduced by joining server 001 (with night mod enabled), leaving and _instantly_ quitting VU (i.e. before the blue background has completely faded in)

Behaviour could **not** be reproduced when waiting a few seconds before quitting VU.

Full dump of webui.exe aft

[2015-04-05 04:51] derrod commented on #49
Roundtime still not implemented in Build 7963.

[2015-04-06 11:13] kiwidoggie commented on #49
RoundTime implemented, but class returns 0 always. Looked into it, we will have to figure out how to re-implement it, as the structure containing RoundTime is not being updated by the client.

[2015-04-06 18:58] FreshyYT opened #71 "Crash in Main Menu when connecting to the Backend"
When I launch bf3 everything seems to be fine, but then that guy in the background comes out and says "WOW" and it just crashes.

[2015-04-06 19:38] tarikz-h commented on #71
i have the same problem

[2015-04-07 10:01] OrfeasZ commented on #71
This appears to be an issue with our networking library which only happens in some configurations.
We're working on resolving it as soon as possible.

I will post any updates in this issue.

[2015-04-08 15:38] OrfeasZ commented on #71
This has been fixed in build 8054.

[2015-04-08 15:38] #71 closed, assigned to OrfeasZ

[2015-04-11 15:48] 6arek212 commented on #71
its not fixed

[2015-04-11 17:18] Frankity commented on #71
i agree, i'm getting the same issue

2015-04-11 10:48 GMT-05:00 6arek212 notifications@github.com:

[2015-04-13 13:51] OrfeasZ commented on #56
This has been implemented in the Advanced Chat mod.
Read [this](http://forums.veniceunleashed.net/viewtopic.php?t=7646) for more information.

[2015-04-13 13:51] #56 closed, assigned to nobody

[2015-04-13 13:51] OrfeasZ commented on #45
This has been implemented in the Advanced Chat mod.
Read [this](http://forums.veniceunleashed.net/viewtopic.php?t=7646) for more information.

[2015-04-13 13:51] #45 closed, assigned to nobody

[2015-04-13 16:19] MAGICCC opened #72 "Suggestion: Static Server IDs in the API"
Everytime a server is restarting a new ID will be created. Would be better, if every new server gets added to some database.
Had the idea some months ago, I just write it here again as reminder

[2015-04-13 16:20] OrfeasZ commented on #72
In Venice Unleashed all servers have a static and unique ID.

[2015-04-13 16:20] #72 closed, assigned to nobody

[2015-04-13 21:41] Powback commented on #66
Confirmed crash on server #3 & #1. Free camera worked slightly on server #1, not in server #3. Both resulted in a crash.

[2015-04-14 12:35] OrfeasZ commented on #66
This has been confirmed as an issue in build 8116.
Working on resolving it.

[2015-04-14 15:26] derrod opened #73 "Round with minimum player count restarts when spectator leaves."
If you have the minimum player count set to 2 and two players join the round will start as intended. However if one spectator joins and leaves again the "too few players" message will appear and the round will be restarted only to be started again when the >= 2 players condition is still met in the pre-round.

Apparently the check if enough players are present counts spectators as players and migh

[2015-04-14 16:42] OrfeasZ commented on #40
This has been resolved in build 8154.

[2015-04-14 16:42] #40 closed, assigned to OrfeasZ

[2015-04-14 16:42] OrfeasZ commented on #66
This has been resolved in build 8154.

[2015-04-14 16:42] #66 closed, assigned to OrfeasZ

[2015-04-17 21:57] Powback commented on #73
I can confirm this.

[2015-04-22 01:04] derrod opened #74 "Server Instance path can not contain spaces"
If your server instance paths contains spaces everything after the first space will not be included in the path the server tries to load the instance settings from.

[2015-04-24 09:27] OrfeasZ commented on #19
This has been fixed in build 8210.

[2015-04-24 09:27] #19 closed, assigned to nobody

[2015-04-24 09:35] OrfeasZ commented on #50
Starting with build 8210, most of the HUD is being replicated to spectating clients.
This includes the Vehicle HUD, the health bar, damage indicators, control point indicators, and more.

There are still a couple of things that don't properly replicate, but they are mostly minor.

Reticles are still not visible, since they are not actually a part of the HUD.
I will be creating a new issue specific

[2015-04-24 09:35] #50 closed, assigned to nobody

[2015-04-24 09:37] OrfeasZ commented on #47
Starting with build 8210, first person vehicle entry models are now being properly replicated and displayed while spectating a player.

The roll angles issue is still not resolved, and neither is the floating hands, but I will be creating separate issues for them.

[2015-04-24 09:37] #47 closed, assigned to OrfeasZ

[2015-04-24 09:38] OrfeasZ opened #75 "First person view roll angles don't replicate in Spectator Mode"
When spectating a client in first person mode, his roll angles don't properly replicate to the spectating client view.
This causes a variety of visual glitches, like increased FOV and shadow misplacement.

[2015-04-24 09:40] OrfeasZ opened #76 "First person hands are visible in Spectator Mode when flying"
When spectating a player in first person, and that player is in a chopper or a plane, his hands view model is still being rendered, and is floating mid-air.

[2015-04-24 09:42] OrfeasZ opened #77 "First person reticle meshes don't render in Spectator Mode"
In Battlefield 3, reticles are implemented in the form of mesh variations for each attachment, which get displayed when a player zooms in.

While spectating a player in first person mode, the first person zoom mesh doesn't get displayed, resulting in the gun appearing like it has no reticle.

[2015-04-24 14:29] kiwidoggie opened #78 "Flag indicators stay on screen."
This was introduced in one of the more recent builds.
https://youtu.be/wKtfVwgUGQg

[2015-04-24 18:52] OrfeasZ commented on #78
This has been resolved in build 8212.

[2015-04-24 18:52] #78 closed, assigned to nobody

[2015-04-27 05:21] OrfeasZ commented on #75
This has been resolved in build 8268.

[2015-04-27 05:21] #75 closed, assigned to OrfeasZ

[2015-04-28 11:02] OrfeasZ commented on #35
@kiwidoggie What's the progress on this?

[2015-04-28 13:46] kiwidoggie commented on #35
Fixed in build 8313.

[2015-04-28 13:46] #35 closed, assigned to kiwidoggie

[2015-04-29 15:05] Xulunix opened #79 "Timing issues on HighFreq-Servers"
High Frequency mode causes some issues with time-related events.
- Tickets in domination gamemode drain way too fast.
- You get killed within ~3 seconds if you are outside of the battlezone

[2015-04-29 15:25] kiwidoggie commented on #79
Confirmed bugs in build 8312.

[2015-04-29 15:51] derrod commented on #79
I've also noticed that using the mouse wheel to scroll through weapons skips over every 2nd weapon i.e. you go directly from your SMG to your RPG if you are engineer.

[2015-05-04 18:28] OrfeasZ commented on #79
These issues have been resolved in build 8332.

[2015-05-04 18:28] #79 closed, assigned to OrfeasZ

[2015-05-04 18:29] OrfeasZ commented on #70
@lrabe
Does this still occur in the latest build?

[2015-05-05 13:31] OrfeasZ commented on #73
This has been resolved in build 8337.

[2015-05-05 13:31] #73 closed, assigned to nobody

[2015-05-05 13:38] lrabe commented on #70
@OrfeasZ
Yep.

[2015-05-05 13:42] ghost commented on #11
@OrfeasZ I still have the same GPU. However, when I launch VU, there is only a white window. Vanilla BF3 works fine.

[2015-05-06 16:38] lybxlpsv commented on #39
happened too on my Intel HD Graphics 4000 at random. mostly happened when you change from windowed to fullscreen or fullscreen to windowed before bf3 finished loading menus (or probably this is different issue(?) or because of me playing at very low resolution 800x450(?))

[2015-05-07 12:45] Dendari92 opened #80 "Kick messages missing"
Possible missing messages:
- Kick for idle
- Kick for server being shut down

I've never been manually kicked so I can't tell if other kick/ban messages are missing.

[2015-05-07 21:12] nXsEagle opened #81 "Spread doesn't reset after ADS"
https://www.youtube.com/watch?v=P_XXwMAYfhQ

Would be a good idea to fix this for competitive at the very least.

[2015-05-08 14:06] OrfeasZ opened #82 "WebUI causes a crash on older GPUs"
On older GPUs, where DirectX11 is not fully supported (and the game is running in DirectX10.1 mode), the WebUI rendering code causes the client to crash on startup.

Might be related to #39

[2015-05-08 15:40] OrfeasZ commented on #82
Build 8350 was just published with several changes that could help in resolving this issue.
I'll keep this open until someone verifies it has been fixed.

[2015-05-08 15:44] ghost commented on #82
UI now shows up (was plain white before) but I can't click on anything :(
The background animation also works.

On Fri, May 8, 2015 at 5:40 PM, Orfeas Zafeiris notifications@github.com
wrote:

[2015-05-08 15:45] OrfeasZ commented on #82
@win32re What you're mentioning is related to issue #11.

[2015-05-08 15:46] ghost commented on #82
Sorry, my bad!

I guess you can close this issue now or wait for others to confirm the fix.

On Fri, May 8, 2015 at 5:45 PM, Orfeas Zafeiris notifications@github.com
wrote:

[2015-05-08 16:18] Curious-Nikhil commented on #82
@OrfeasZ  Nope, It just goes till the loading screen and crashes.(It's updated.)

[2015-05-08 16:29] Curious-Nikhil commented on #82
Oh..! Thnx !! It works.. now.! :D Thnx for looking into it !

[2015-05-08 16:29] #82 closed, assigned to OrfeasZ

[2015-05-08 16:31] Curious-Nikhil commented on #82
Oh.. come on ! not again! it crashed again..! :(

[2015-05-08 16:53] Curious-Nikhil commented on #82
And it works now..am i lucky or is my PC playing with me..?
But i am not able to enter Full Screen in there..

[2015-05-09 11:51] OrfeasZ opened #83 "Vaulting over objects can kill you in High Frequency Mode"
Sometimes, vaulting over specific objects can kill you when playing in a High Frequency server.
The exact reason for that is still unknown, but we assume it has something to do with physics calculations.

[2015-05-09 12:26] jk53bg opened #84 "Chat disappears randomly while typing"
The new in game-chat disappears randomly, even while typing. The chat-window fades out and the main menu cursor shows. Sometimes waiting a few seconds helps and is displays again.

[2015-05-09 12:40] Curious-Nikhil opened #85 "Odd Scaling"
The chat box covers the whole screen(almost) while playing at 640*480 resolution at full screen.

[2015-05-09 12:42] Curious-Nikhil commented on #84
Same here.

[2015-05-09 13:08] ghost opened #86 "Cpu Spikes"
Im  getting huge cpu spikes almost all the time while playing it doesnt happend that often in retail bf3.

[2015-05-09 13:09] Dendari92 commented on #83
Stairs also cause random _K.I.A._ deaths. http://youtu.be/g1t4H4N0x2w

[2015-05-09 13:10] jk53bg opened #87 "Cursor disappears at loadout screen when used the chat once"
The cursor disappears at the loadout screen when opening the chat and confirm with enter. Just closing it (J,K,L) does not cause this issue.

[2015-05-09 13:12] jk53bg commented on #86
What CPU you're using? Also, did you played on a highfreq server? Because that causes a slightly increased cpu load.

[2015-05-09 13:17] ghost commented on #86
Intel core 2 duo e8500 and yes i was playing on highfreq server.

[2015-05-09 13:19] ghost commented on #87
Yea happend to me too

[2015-05-09 13:45] ghost opened #88 "Some bugs"
First person body: https://youtu.be/Fovfzr2knBs
Recoil: https://youtu.be/6ezGT2ljoTI
Revive: https://youtu.be/7HAURIwqGG0

[2015-05-09 13:55] jk53bg commented on #86
That might be it, since its not the strongest cpu anymore.

[2015-05-09 14:07] Dendari92 opened #89 "Vehicle Sensitivity issues"
Both mouse sensitivities (soldier and vehicles) are way slower than the retail version (naturally same values), it's especially evident with the vehicles.

NOTE: doesn't seem to be a HFU issue.

[2015-05-09 14:24] kiwidoggie commented on #87
Confirmed bug, will investigate.

[2015-05-09 15:12] Xulunix commented on #79
tickets still drain too fast

[2015-05-09 15:22] Dendari92 opened #90 "Impossible to join/create squad"
I was able to do that only the first try after that I couldn't get back into it, and once I left the squad I was in (only member) I couldn't create a new squad too.

http://youtu.be/Ijn5Adrm7Bw

[2015-05-09 15:40] neverhangover opened #91 "Game crashing at the deploy screen (High Freq.)"
Beta Build 8352

I was able to join a high frequency server ONCE, around 14:00 GMT+1, now, whenever I join a high frequency server , it loads the map, for a second or two the deploy menu pops up (or it doesn't even pop up) and it crashes back to the main menu.

(Yes it did restart the client when asked)

It does not seem to have any problems with regular servers.

Specs:

i3-2120
Radeon HD6850
8 G

[2015-05-09 15:57] derrod commented on #91
This is not a crash, you're kicked from the server because it's full. Unfortunately there is no message box stating the kick reason atm. and server slots are not yet configurable.

This is a measure to avoid the issues experienced when more than 20/24 players. The regular server is currently empty so that might be the reason you didn't have any issues with it.

[2015-05-09 16:06] neverhangover commented on #91
Strange, it did have some 20-24 people on that server.
IT DID CONNECT NOW, but the lag from high freq. (with 150) was practically unbearable.

[2015-05-09 16:08] Gumby8888 opened #92 "Can not join any servers"
Build #8352
Can not join any servers as client or spec, it tries but then brings me back to the main screen.
If I select spectator, it tries to connect as well but then returns to the main scree, but then I also loose my mouse, and have to alt-tab and kill the program.
MY specs:
    Motherboard: Asrock Z77 Extreme 6 Bios 2.80

[code]

   Operating System: Windows 8.1 64 bit

[2015-05-09 16:22] Curious-Nikhil opened #93 "Crashes due to Low Resolution"
VE launches in Box mode, then you go join a server and then while in game, go full screen with a res of 640*480, then it works fine with some minor scaling issues.Now if you restart the game, then it will crash as it will go into full screen with 640 res.So one has to try repeatedly - ALT + Enter to come back to box mode.
So basically it crashes on low resolution on restarting.
I guess i got that

[2015-05-09 16:24] Romern opened #94 "Instant death after reviving"
After one gets revived, he sometimes instantly dies and has to be revived again.

[2015-05-09 16:37] Curious-Nikhil opened #95 "Full screen Mode Bug"
Can't go into full screen mode.
![screenshot 10224 png](https://cloud.githubusercontent.com/assets/12347532/7551050/b84b96dc-f697-11e4-8688-ea862b238ce0.jpg)

[2015-05-09 17:06] #91 closed, assigned to nobody

[2015-05-09 17:08] SolidAapie commented on #89
Same happened to me, on foot its fine but in vehicles its really slow. Also it didn't happen in the gunner position only from the driver position.

[2015-05-09 17:36] NotDanny opened #96 "Investigate High Frequency Recoil Issues"
It doesn't feel like the vanilla game at all. Some people says that it feels like early BF3 days.
I don't know if it has anything to do with the updated rate, but it does feel weird for me.

EDIT: I've noticed that it only happens on high frequency servers

[2015-05-09 17:42] Siilwyn commented on #94
Can confirm this, it seems to happen randomly.

[2015-05-09 18:21] ghost commented on #11
White screen is gone; issue is now the same as described in the first comment.

[2015-05-09 20:49] SkippTekk commented on #94
this happened to me about 3 times in a row. i almost raged quit xD

[2015-05-09 20:53] Xulunix commented on #94
You have about 1 sec time to accept the revive.
If you'd not standing up within 1 sec, you die again as the time is not
correct.

[2015-05-09 22:05] SUTempest commented on #87
Was able to make the cursor reappear on the loadout screen by hitting Esc to bring up the menu, then quitting it. The cursor returns at that point.

[2015-05-09 22:54] derrod opened #97 "Rcon Max Playercount/Current Playcount incorrect"
- Max player count is not updated when setting it via rcon
- Max player count is spectators + players but spectators are not included in current player count

[2015-05-09 22:55] derrod opened #98 "Server crashes when editing maplist"
This is kinda new. Blame kiwi. Or something.

[2015-05-09 22:56] derrod opened #99 "Rush teams only have 16 players"
This casuses the server to crash when a 33rd player joins.

[2015-05-09 22:57] #99 closed, assigned to nobody

[2015-05-09 22:57] derrod commented on #99
Apparently fixed in the lastest build.

[2015-05-09 23:51] SkippTekk commented on #94
does it not take about 2 seconds to stand up? bump it to maybe 3 seconds to bring the rage down :p

[2015-05-10 00:02] Keksmonster31 opened #100 "WebUI menu not rendering at >=4K resolutions"
I played the game today and set my resolution to 2560x1440 and downscaled it with Nvidia DSR.
Logging in and selecting my soldier still works but the rest of the menus are invisible. I tried screenshotting it but the menu is visible on screenshots.

[2015-05-10 00:12] narkotix781 opened #101 "120hz, losing mouse and >30 players"
when playing on the 120hz server yesterday anything over 30 players was unplayable, however when it was less even on my 300+ms ping it was quite playable.

also a soldier appeared red in a death screen and i lost my in game mouse (for menu naviation and deplloyment screen) until i restarted.

[2015-05-10 02:22] 3ti65 commented on #90
I can confirm this bug.

[2015-05-10 02:27] 3ti65 commented on #100
I can confirm this bug. Same resolution in my case.

It's very likely that it's caused by DSR since enabling / disabling SLI does not affect the behaviour of the bug in any way. (In my case as tested)

Quick workaround to keep testing in 2560x1440:

Go to windowed mode by hitting Alt + Enter. Downscale window size until the menu magically reappears at a certain point.

[2015-05-10 04:28] Dendari92 opened #102 "Trying to spectate a different freq server won't restart the client"
**[Build 8389]**

After clicking _Spectate_ on a server with a different frequency than your client, it'll prompt you to restart the client. Once you click on _Yes_ BF3 will be blocked on an infinite loading screen, which prevent the client from successfully restarting.

[2015-05-10 06:16] #86 closed, assigned to nobody

[2015-05-10 06:48] PrufessorOak opened #103 "Mouse becomes useless when chat is closed"
If you open the chat on any of the option menus or deploy screen and close it by pressing Enter, the mouse becomes useless. Press escape to fix the issue.

[2015-05-10 09:28] Gumby8888 commented on #92
Same issue with #Build 8389
https://youtu.be/0hdF15D9S7U

[2015-05-10 10:47] klappflapp commented on #89
Can confirm this, especially in driver position.

[2015-05-10 10:53] klappflapp commented on #94
Afaik in vanilla BF3 one could crawl around quite a long time after being revived, without standing up (i.e. accepting the revive).

[2015-05-10 10:59] klappflapp opened #104 "Start VU in HFM"
Is it possible to launch VU in a particular High Frequency Mode at the first start?

[2015-05-10 11:31] jk53bg commented on #104
Yes, use the commandline option -highfreq with vu.exe

[2015-05-10 12:13] OrfeasZ commented on #104
You can use the startup options **-high60** and **-high120** to launch VU in 60Hz and 120Hz high frequency mode respectively.

[2015-05-10 12:13] #104 closed, assigned to nobody

[2015-05-10 12:14] OrfeasZ commented on #103
Duplicate of #87.

[2015-05-10 12:14] #103 closed, assigned to nobody

[2015-05-10 12:14] OrfeasZ commented on #98
Fixed in latest build.

[2015-05-10 12:14] #98 closed, assigned to nobody

[2015-05-10 12:17] OrfeasZ commented on #101
The first issue is related to the servers CPU not being to handle simulation for that many players.
The second issue is a duplicate of #87.

[2015-05-10 12:17] #101 closed, assigned to nobody

[2015-05-10 12:18] OrfeasZ commented on #97
This has been resolved in the latest build.

[2015-05-10 12:18] #97 closed, assigned to nobody

[2015-05-10 12:21] OrfeasZ commented on #94
This happens because of some physics simulation issues in High Frequency mode and is related to #83.
We are currently looking into a fix.

[2015-05-10 12:23] OrfeasZ commented on #88
First person body: Side-effect of the high frequency mode.
Recoil: #96
Revive: #94

[2015-05-10 12:24] #88 closed, assigned to nobody

[2015-05-10 12:25] OrfeasZ commented on #58
This is probably a duplicate of #82 so I'll assume it's fixed and I'll close it.

[2015-05-10 12:25] #58 closed, assigned to nobody

[2015-05-10 12:25] #70 closed, assigned to nobody

[2015-05-10 12:26] OrfeasZ commented on #44
This has been resolved in the latest build.

[2015-05-10 12:26] #44 closed, assigned to OrfeasZ

[2015-05-10 12:29] kiwidoggie commented on #89
I have personally had this issue myself, correcting title.

[2015-05-10 12:34] OrfeasZ commented on #102
This has been resolved in the latest build.

[2015-05-10 12:34] #102 closed, assigned to nobody

[2015-05-10 12:44] OrfeasZ commented on #92
Try opening UDP ports 25200, 25300, 7948, and 7958 on your firewall and try again.

[2015-05-10 12:46] kiwidoggie commented on #92
Here's a few things you can try first, Add Battlefield 3 (bf3.exe) to your Windows Firewall exception list, try to make sure that there are no firewall's blocking ports 25200, 25300, 7948, and 7958.

[2015-05-10 12:48] ghost opened #105 "Implement 'Could not join server: X.' error message"

[2015-05-10 12:51] OrfeasZ commented on #84
This should be fixed in the latest build. Please verify.

[2015-05-10 13:05] derrod commented on #49
Changed title to be accurate.

[2015-05-10 13:06] derrod opened #106 "Team scores not properly returned in RCON"
![image](http://i.imgur.com/m10YZ1f.png)
Kills in TDM are probably missing too, couldn't verify because no servers I have access to are currently running TDM and have players on them.

[2015-05-10 13:21] bigworld12 opened #107 "Mouse loses focus when pressing ESC"
hi , this problem occurred to me while i was in-game then pressed ESC  and after like 1 min the mouse focus is gone (you can't see mouse cursor or move it)

[2015-05-10 13:23] OrfeasZ commented on #107
Duplicate of #87

[2015-05-10 13:23] #107 closed, assigned to nobody

[2015-05-10 14:02] bigworld12 opened #108 "Bugs in vehicle and while parachuting"
is there a problem with the vehicles atm ?
because i can't move well in Heli , parachute

[2015-05-10 15:56] derrod opened #109 "3rd person camera bug when turned off"
if vars.3pCam is set to false you can still switch to 3rd person camera for a few frames, it will then throw you back into first person.

This was on 60 Hz, it is unkown if this bug occurs on regular frequency as well.

[2015-05-10 17:59] Xulunix commented on #90
It is not possible to leave the squad if you are the leader and only one player is left in the squad.
Kicking the last player in the squad is not possible too

[2015-05-10 18:34] Dendari92 opened #110 "Spectator not receiving/showing chat messages"
**[BUILD 8389]**

You can open the chat and write into it but no message will appear (both yours or others). Not sure if others see the message.

http://youtu.be/i2KjsYsSyNQ

Don't know if it matters but during the test there was at least another spectator.

[2015-05-10 19:25] Bubucho commented on #110
I was on this server as a spectator and I saw your messages, a bunch of players also respond.

I had no problem interacting with players and spectators

[2015-05-10 19:29] Bubucho opened #111 "Kills aren't shown when spectating a player"
When spectating a player, there is no visual confirmation that the player you're watching.

There is no centered-bottom kill confirmation and also in the kill-feed on the top-right. The kill-feed is fine for others players

[2015-05-10 19:55] kiwidoggie commented on #110
I personally have come across this issue as well, rarely but it does happen.

[2015-05-10 19:57] kiwidoggie commented on #110
Try switching to a player before chatting, see if that resolves the issue?

[2015-05-10 20:11] OrfeasZ commented on #108
Can you be a bit more precise?
What kind of issues are you experiencing in detail?

[2015-05-10 20:38] Bubucho commented on #110
Also, make sure your chat box is not disabled with H

@Dendari92, you also appears in this video https://youtu.be/4DQqUPHy180?t=51s

[2015-05-10 20:43] Dendari92 commented on #110
I tried to switching players but no luck. Yes, the chat isn't hidden, you can see when I'm writing a message there isn't anything in the chat feed.

[2015-05-10 21:09] Dendari92 commented on #110
Done some quick tests and I can see the chat feed only on the 30Hz server, 60Hz and 120Hz servers aren't working correctly for me.

[2015-05-10 21:20] OrfeasZ commented on #110
This appears to occur when you join a game directly as a spectator.
If you first join as a player and then re-join as a spectator, then chat works.

[2015-05-10 21:30] mirh opened #112 "Player should be notified when he has not the current map"
At the moment, you just get a black screen with "loading" at the bottom right

[2015-05-10 22:12] CaptainGrunge opened #113 "Suddenly spectating somebody"
Had an interisting bug I couldnt reproduce one time when I was playing Noshar TDM and camped in
the container. A squadmember spawned at me and I couldnt move anymore - my crosshair and hud were still displayed and I could change my weapons but the camera followed the guy that spawned on me. it was like I was spectating the guy in 3rd person.
After few seconds I got killed by somebody (so I think m

[2015-05-10 22:35] Bubucho commented on #111
Strangely, when spectating a player in third person, the kills are shown in the kill-feed but appears as teamkills

[2015-05-11 00:50] Leon200115 opened #114 "Weird framrate."
It's locked on my 860m to around 22 - 28. Check NVIDIA settings, not the issue. Just a lot of lag.

[2015-05-11 00:53] VicVRS opened #115 "Battlebugs - Some bugs"
Bug 001 - A SPAS-12 bug that the bullet somehow pass my head, it can happen with a sniper.

LINK: http://youtu.be/11Wva-S_jlI

Bug 002 - My VU menu and in game chat it's freezing, even when I play in windowed mode.

LINK: http://youtu.be/WiBGbmZpifM

Bug 003 - While changing vehicles on spectator mode, the vehicles HUD still on screen.

Bug 004 - Revive bug because it's driving me crazy!

---

NOT

[2015-05-11 01:14] kiwidoggie commented on #10
Issue has been resolved, was due to invalid roll angles.

[2015-05-11 01:14] #10 closed, assigned to nobody

[2015-05-11 01:19] #114 closed, assigned to nobody

[2015-05-11 01:35] kiwidoggie commented on #49
Fixed in build 8397.

[2015-05-11 01:35] #49 closed, assigned to kiwidoggie

[2015-05-11 01:49] Gumby8888 commented on #92
nope no luck doing this on my end opened ports and even disabled firewalls still a no go here

[2015-05-11 02:27] OrfeasZ opened #116 "Overlays aren't removed when switching between players in spectator"

[2015-05-11 03:23] ReckerMeetsDima opened #117 "Error full screen and directx and color"
when open venice unleshed its not going to fullscreen and some directx error

[2015-05-11 03:23] ReckerMeetsDima commented on #117
plz help as with this bug

[2015-05-11 03:24] ReckerMeetsDima commented on #117
and when venice unleshed open ??

[2015-05-11 03:24] #117 closed, assigned to nobody

[2015-05-11 03:26] kiwidoggie commented on #92
We will take a closer look upon introduction of error messages very soon.

[2015-05-11 03:50] Timse93 commented on #117
What's the error?

[2015-05-11 03:57] Timse93 commented on #95
ALT+Enter doesn't work?

[2015-05-11 11:26] Dendari92 commented on #111
In retail the kill log on the upper right corner doesn't show your kills/deaths (only showed in your killfeed at the bottom center), so I assume when you're spectating a player in first person it acts the same way.

[2015-05-11 11:43] Bubucho commented on #111
Yeah I know about that, so simply adding the "normal" bottom-center message would be enough (for kill and getting killed)

[2015-05-11 13:00] Dendari92 opened #118 "Can't access options menu while on kill cam"
Retail version bug. Pressing ESC won't open the options menu while you're on the kill cam.

[2015-05-11 13:56] OrfeasZ opened #119 "Too long soldier names get replaced by "PlayerX""
We should add an error message to prevent people from creating ridiculously long names.
Not sure exactly what the max length is, need to investigate.

[2015-05-11 14:33] JASTER1 commented on #113
I had the exact same instance.  I can't remember if I was spawned on, but it was on Armored Kill, Deathmatch.  I was walking and all of a sudden in 3rd person watching a teammate. Had my HUD and crosshairs and wound up getting killed, spawn and back to normal.  Went back to the spot and nothing happened.

[2015-05-11 14:36] JASTER1 commented on #108
It seems that the sensitivity is out of wack.  I can barely turn a tank turret, cannot circle in a parachute.  Turned sensitivity all the way up and it was still slow.

[2015-05-11 14:38] jk53bg commented on #84
Seems fixed. Didn't happen to me again.

[2015-05-11 14:39] #84 closed, assigned to nobody

[2015-05-11 14:39] Bubucho commented on #110
Confirmed, I've joined a server directly as a spectator, say hello to everybody but nobody respond.

[2015-05-11 14:48] JASTER1 opened #120 "Investigate high frequency prop physics issues."
While sprinting, both on foot and in a vehicle, I would hit objects and they flew away at an incredible rate.  Didn't happen to everything.  First instance, in a tank, Strike at Karkand Rush.  Ran into every telephone pole and boxes and they all went flying.  Also kicking concrete rubble or boxes on foot made them shoot off.

Another movement problem was with a certain type of building.  The ones

[2015-05-11 14:50] derrod commented on #119
The maximum length for an origin ID seems to be 16 characters. It is sensible to assume that that is the limit the engine is also enforcing.

Small Addition: The game client also crashes when using a soldier with a name with 17 characters (excluding the null terminator).

[2015-05-11 14:51] OrfeasZ commented on #119
That seems to be correct.
It looks like the maximum allowed characters for a name are 17 (including the null terminator).

[2015-05-11 15:00] Xulunix commented on #119
Creating a soldier with a name longer than 16 chars (without null) causes the game to crash in the vu.dll

[2015-05-11 15:05] Bubucho commented on #108
Duplicate of #89 i think

[2015-05-11 15:18] OrfeasZ commented on #110
This has already been fixed in our development branch and will be pushed to production soon.

[2015-05-11 15:55] Bubucho opened #121 "Permanent death animation when spectating"
I've spectated a friend playing, and he was like always dead in First person camera (with the hand in the middle of the screen) and had like a stopped death animation

Video here: http://youtu.be/581rEvlE_kE

[2015-05-11 15:57] Dendari92 opened #122 "Player nametags not being properly displayed when spectating"

[2015-05-11 16:20] Dendari92 opened #123 "Extra motion blur while looking up/down in spec mode"
Disabling or reducing the motion blur resolve this issue.

https://youtu.be/apTn5j2XCuI
https://youtu.be/1aj_uIRB7io

[2015-05-11 16:29] kiwidoggie commented on #108
Duplicate of #89 Vehicle Sensitivity Issues. Closing.

[2015-05-11 16:29] #108 closed, assigned to nobody

[2015-05-11 16:39] kiwidoggie commented on #85
Duplicate of #6.

[2015-05-11 16:39] #85 closed, assigned to nobody

[2015-05-11 16:46] ExtReMLapin commented on #100
Same at 5760x1080

But maybe Y/X pos problem.

[2015-05-11 17:09] Bubucho commented on #123
Who plays with motion blur ? :D

[2015-05-11 17:51] Xulunix opened #124 "Thermal overlay from MAV not removed when switching player"
Spectating an player using the MAV and switching to an other player doesn't remove the thermal overlay for other players. Switching to other players causes the view to appear with the termal overlay.
http://yolarrydabomb.net/img/2015/05/11133547-26Mj6-1.png

Spectating the MAV until the player exits it removes the thermal overlay

[2015-05-11 18:03] OrfeasZ commented on #124
Duplicate of #116

[2015-05-11 18:03] #124 closed, assigned to nobody

[2015-05-11 19:45] OrfeasZ commented on #96
https://www.youtube.com/watch?v=1DA7KVCbakA&feature=youtu.be

[2015-05-11 21:13] bigworld12 opened #125 "Latency issue in Chat"
in the new chat on high frequency servers typing in chat has some latency
(try pressing J then typing fast) > it doesn't catch the first letters

[2015-05-11 21:23] bigworld12 opened #126 "C4 detonating Issue"
this problem is in the Vanilla bf3 too, but i was thinking you could do some enhancement to it
Issue :
put c4 > detonate them and quickly change weapons (like detonate > press 1 to change to main weapon)

c4 won't detonate but you can still hear the detonation sound

[2015-05-11 21:26] bigworld12 opened #127 "Privacy button for squad isn't well-placed"
check this
http://i.gyazo.com/f5599961782ecc421924f7904c2f5b4b.png

[2015-05-11 21:58] Bubucho commented on #125
I had this issue on a previous build but not anymore

[2015-05-11 22:30] Bubucho opened #128 "Third person camera with vehicles is too close"
When spectating a player in a vehicle, third person camera is way too close

Screenshots:
Plane:
![bf3 12-05-2015 00-27-12-681](https://cloud.githubusercontent.com/assets/12384520/7576457/f1010eba-f83d-11e4-8074-c762029e626e.png)

LAV/BTR :
![bf3 12-05-2015 00-27-38-856](https://cloud.githubusercontent.com/assets/12384520/7576461/07775672-f83e-11e4-9749-f5eb92d12e69.png)

[2015-05-11 23:18] OrfeasZ commented on #111
Since build 8456 all kill messages appear in the feed and use fixed colors (blue for team1, orange for team2).
Personal kill messages (the bottom-center ones) will be added in a later build.

[2015-05-11 23:18] #111 closed, assigned to OrfeasZ

[2015-05-11 23:19] OrfeasZ commented on #96
This issue has been resolved in build 8456.

[2015-05-11 23:19] OrfeasZ commented on #128
This has been resolved in build 8456.

[2015-05-11 23:19] #128 closed, assigned to OrfeasZ

[2015-05-11 23:22] OrfeasZ commented on #119
In the latest build you can only create character names with up to 16 characters.

[2015-05-11 23:22] #119 closed, assigned to nobody

[2015-05-11 23:22] OrfeasZ commented on #110
This has been resolved in build 8456.

[2015-05-11 23:22] #110 closed, assigned to OrfeasZ

[2015-05-11 23:47] JASTER1 commented on #120
Thanks for putting in the right words!

[2015-05-12 04:45] OrfeasZ commented on #94
We have pushed a hotfix for this issue in build 8461, which should greatly reduce the occurrences of this bug. However, this is only a temporary fix, and we'll be looking more deeply into the root cause of the issue soon.

[2015-05-12 04:45] #94 closed, assigned to nobody

[2015-05-12 04:45] OrfeasZ commented on #83
We have pushed a hotfix for this issue in build 8461, which should greatly reduce the occurrences of this bug. However, this is only a temporary fix, and we'll be looking more deeply into the root cause of the issue soon.

[2015-05-12 04:45] #83 closed, assigned to nobody

[2015-05-12 04:47] OrfeasZ opened #129 "Fully investigate physics collision issues in high freq"
When running a server/client in high frequency mode, there are some cases where collision will be applied with great force to the client, which can either damage him, or completely kill him.

[2015-05-12 05:52] Dendari92 opened #130 "Projectiles speed on high freq server"
The overall projectiles speed seems to be increased on the high frequency servers. It's especially evident on jets, helicopters and maa.

[2015-05-12 06:37] PrufessorOak opened #131 "First person model flickers when running in high frequency"
https://www.youtube.com/watch?v=6BwysZ-SRxA&feature=youtu.be

The videos in order are: Retail, 60hz, 120hz

At 120hz the mesh is flickering and almost transparent. Can't see because the video was recorded at 60fps.

At 60hz, the mesh is messed up but not flickering.

[2015-05-12 14:22] MizuDG opened #132 "Opening Chat causes slight fps drops"
https://www.youtube.com/watch?v=J8hUcGEhIVQ&feature=youtu.be

[2015-05-13 01:17] rierei opened #133 "Invisible Weapon in Spectator"
By changing the player to another that was handling ammunition packages and c4, the weapons were hidden in his hand. Change the pesperctiva or player observed did not return to normal. When doing any animation as running or change weapon the weapons of player remained invisible.

![](http://i.imgur.com/P9gWXyA.jpg)

[2015-05-13 02:10] OrfeasZ opened #134 "Teams are scrambled instead of swapped on round restart."

[2015-05-13 06:33] Dendari92 opened #135 "MCOM explodes too quickly on high freq"
Similar to what happened to the ticket bleed on Conquest (see #79), the MCOM bombs seem to explode much faster compared to normal frequency server.

[2015-05-13 07:53] bigworld12 commented on #132
this also causes the first letters to not catch if you type fast check this
#125

[2015-05-13 13:38] derrod commented on #135
I tested this and can deny this claim.

A short Video: https://vid.me/1AiS

[2015-05-13 14:15] #135 closed, assigned to nobody

[2015-05-13 16:41] kiwidoggie commented on #106
Fixed in build 8488.

[2015-05-13 16:41] #106 closed, assigned to kiwidoggie

[2015-05-14 12:49] bigworld12 commented on #120
happened to me too . all props seem to have this problem

[2015-05-14 21:00] #134 closed, assigned to OrfeasZ

[2015-05-14 21:36] OrfeasZ commented on #130
Projectile speeds appear to be the same, but travel distances might appear shorter because the projectile gets spawned "faster" due to high frequency updates.

Until someone can prove that they're actually different, I'll mark this issue as invalid and close it.

[2015-05-14 21:36] #130 closed, assigned to nobody

[2015-05-15 22:54] OrfeasZ opened #136 "Implement the ability to disable revive spawn protection"

[2015-05-16 04:24] bigworld12 commented on #136
i thought it was a bug

[2015-05-16 05:07] OrfeasZ commented on #136
It isn't a bug, it's also present in the retail version.

[2015-05-16 08:40] Dendari92 commented on #136
I don't think it's an intended feature even in retail, because it mainly happens when instantly accepting the revive (probably hitboxes are kinda messed up).

[2015-05-16 11:32] Dendari92 opened #137 "Fall damage higher when vaulting"
Bug present also in the retail version.

[2015-05-16 16:24] Powback opened #138 "-connect parameter & Auto connect after changing frequency"
Currently you'll have to manually reconnect after changing frequency to join a server. This process should be automatic. It can easily be solved by having a -server parameter available.

[2015-05-16 17:35] derrod commented on #138
I think you mean something like a -connect flag? (-server starts the client in server mode).

I think it would be an improvement if you didn't need to login again too.

[2015-05-16 23:42] Powback commented on #138
Yes, a -connect parameter would probably be more correct. An auto-login option would also be nice.

[2015-05-17 19:00] MAGICCC commented on #138
Reminds me for a protocol for websites (vujoin://_ip_:_port_)

[2015-05-19 01:06] derrod opened #139 "Bullets (visually) spawn behind the player on highfreq"
This ia a thing I noticed while playing on Vanilla today.

30 Hz/Vanilla: ![30hz](http://i.imgur.com/votedao.jpg)
120 Hz: ![120hz](http://i.imgur.com/7zzdrSu.jpg)

[2015-05-22 10:22] Powback commented on #139
I'm going to assume that the bullet trail is initiated too soon because of the tickrate change. Normally the trail would start after x time, but the tickrate change causes it to be initiated 12 times earlier.

[2015-05-30 10:59] OrfeasZ opened #140 "Third-person spectator camera doesn't follow launched TV missiles"

[2015-06-06 00:55] OrfeasZ commented on #7
This issue has been resolved in build 8620.
If anyone who's been having this issue can also verify that'd be great.
@XuluniX @powback

[2015-06-06 00:55] #7 closed, assigned to nobody

[2015-06-07 22:42] OrfeasZ commented on #132
Since build 8633 WebUI should be much more performant, and should no longer cause major FPS drops. Any fluctuation in FPS should be in the scale of 1-5.

[2015-06-07 22:42] #132 closed, assigned to nobody

[2015-06-07 22:43] OrfeasZ commented on #125
Typing latency has been greatly reduced since build 8633.

A slight (<200ms) latency can be still experienced under some configurations, but it shouldn't be significant.

[2015-06-07 22:43] #125 closed, assigned to nobody

[2015-06-07 22:47] OrfeasZ commented on #139
This is only a visual bug and doesn't actually affect gunplay.

The reason behind this, like @powback correctly suggested, is that due to the high update rate, you get the bullet spawn event much earlier than you normally would. Since bullets are spawned slightly behind the player (possibly to account for instances where collision with another object would prevent the bullet from hitting), you can

[2015-06-07 22:49] OrfeasZ commented on #38
Duplicate of #11.

[2015-06-07 22:49] #38 closed, assigned to OrfeasZ

[2015-06-07 22:50] #95 closed, assigned to nobody

[2015-06-07 22:52] OrfeasZ commented on #115
001 -> #139
002 -> #11
003 ->  #116
004 -> #94

[2015-06-07 22:52] #115 closed, assigned to nobody

[2015-06-07 22:54] OrfeasZ commented on #113
This is a bug that also occurs in vanilla BF3, so I'm going to close this as invalid.
If it keeps occurring at a level that makes the game unplayable we will be looking into it in more detail.

[2015-06-07 22:54] #113 closed, assigned to nobody

[2015-06-07 22:56] OrfeasZ commented on #109
This is caused because of client-side simulation, and until the server informs you that you can't actually switch to 3p.

[2015-06-07 22:56] #109 closed, assigned to nobody

[2015-06-07 22:57] #122 closed, assigned to OrfeasZ

[2015-06-08 14:54] Frankity opened #141 "After the last update i'm getting this infinte loop"
in WebUI_debug.log:

The key "target-densitydpi" is not supported.
    at / (line 4)

and the game keep doing this:
youtube video ->
<a href="http://www.youtube.com/watch?feature=player_embedded&v=kEsREOwkgaQ
" target="_blank"><img src="http://img.youtube.com/vi/kEsREOwkgaQ/0.jpg" /></a>

[2015-06-12 09:41] OrfeasZ commented on #77
This issue has been resolved in build 8651.

[2015-06-12 09:41] #77 closed, assigned to OrfeasZ

[2015-06-14 07:50] OrfeasZ opened #142 "Zoom state for turrets doesn't replicate for first-person spectators"

[2015-06-14 09:41] OrfeasZ commented on #140
This also appears to happen for EOD bots and MAVs.

[2015-06-14 10:11] OrfeasZ commented on #116
This issue has been resolved in build 8708.

[2015-06-14 10:11] #116 closed, assigned to OrfeasZ

[2015-06-14 13:16] OrfeasZ commented on #142
This has been resolved in build 8726.

[2015-06-14 13:16] #142 closed, assigned to OrfeasZ

[2015-06-14 18:20] derrod commented on #140
In that case it's probably not working correctly for all vehicles spawned using the VehicleProjectile.

But it should be irrelevant for all the others, you can't enter the TUGS or Radio Beacon. Only the M224 (Mortar) should be affected by this, but it doesn't really matter since the soldier remains close to the "Vehicle" and the difference is probably minimal.

That said, maybe you can force the c

[2015-06-15 15:18] OrfeasZ commented on #89
This is a confirmed issue which appears to occur on all turrets (both stationary, and in vehicles), and is only present when running in higher frequency modes (Fun fact: This is also present in BF4 CTE https://www.reddit.com/r/Battlefield_4_CTE/comments/39caxq/cte_prototypes_patch_54/cs26n01).

This has been resolved in build 8746.

If you're still experiencing issues, or you think that turrets fe

[2015-06-15 15:18] #89 closed, assigned to kiwidoggie

[2015-06-19 09:38] OrfeasZ commented on #87
This has been resolved in build 8756.

[2015-06-19 09:38] #87 closed, assigned to OrfeasZ

[2015-06-19 12:33] OrfeasZ commented on #29
This has been resolved in build 8764.

[2015-06-19 12:33] #29 closed, assigned to OrfeasZ

[2015-06-19 12:33] #6 closed, assigned to nobody

[2015-06-19 12:34] OrfeasZ commented on #93
We currently don't support resolutions lower than 720p, and probably never will.

[2015-06-19 12:34] #93 closed, assigned to nobody

[2015-07-06 16:50] mirh commented on #120
Just had this in Wake island DMF server.
You only need to walk near them to see takeoff

[2015-07-25 14:06] OfficialKreek opened #143 "Connection To The Gameserver has been lost."
So im Trying to play on a server, but it loads 3 minutes then it says Connection has been lost to the gameserver please check your intnerte connection and try again. Help pls

[2015-07-26 16:21] kiwidoggie commented on #143
Try opening UDP ports 25200, 25300, 7948, and 7958 on your firewall and try again.

[2015-08-25 01:16] TheMaxXHD opened #144 "WebUI stuttering at 4K resolution"
https://www.youtube.com/watch?v=iKjYEYLbx9o

Not sure if this is an issue but it think it's noteworthy to point out that the entire menu background tends to stutter quite a bit, especially at 4K. A workaround I guess you would call it would be to cap the menu at 60 fps using gametime.maxvariablefps 60 which gets rid of the stutter. And the invisible menu, which has already been identified previous

[2015-08-25 01:28] TheMaxXHD opened #145 "Rocket bug on a 60hz server?"
https://www.youtube.com/watch?v=clBj5v6xKQU

Don't know if this is an actual bug or was intentional via modifying it.

[2015-08-25 02:58] kiwidoggie commented on #145
This was caused due to a in-dev testing modification. I forgot to take down the server haha.

[2015-08-25 02:58] #145 closed, assigned to nobody

[2015-09-22 10:26] lawyer911 opened #146 "Can't add topic or messages on Nexus forum"
I've registered on http://forums.veniceunleashed.net/
When I log out I can owerview all topics and messages on forum, but when I sign up I can't even read topics (You are not authorised to read this forum)

[2015-09-22 12:04] OrfeasZ commented on #146
Thanks for the report @lawyer911. This issue should now be resolved.
I've marked this as "invalid" since it's not directly related to Venice Unleashed.
Please let me know if you experience any more issues.

[2015-09-22 12:04] #146 closed, assigned to nobody

[2015-09-22 13:20] OrfeasZ commented on #143
This tracker is only for issues related to Venice Unleashed.
For issues related to Project Rome please use our community forums.

[2015-09-22 13:20] #143 closed, assigned to nobody

[2015-09-25 18:26] OrfeasZ commented on #144
This has been fixed in build 9843 (not live yet).

[2015-09-25 18:26] #144 closed, assigned to nobody

[2015-09-25 18:26] OrfeasZ commented on #100
This has been fixed in build 9843 (not live yet).

[2015-09-25 18:26] #100 closed, assigned to OrfeasZ

[2015-09-25 18:27] OrfeasZ commented on #11
This has been fixed in build 9843 (not live yet).

[2015-09-25 18:27] #11 closed, assigned to nobody

[2015-12-12 02:13] kiwidoggie commented on #141
@Frankity Please see if this issue still happens after the latest 10293 update.

[2015-12-12 02:15] OrfeasZ commented on #51
With the introduction of High Frequency modes we decided it's not necessary to enforce a smoothing factor while spectating. We rather leave that choice up to the spectators themselves.

[2015-12-12 02:15] #51 closed, assigned to OrfeasZ

[2015-12-12 02:16] #39 closed, assigned to nobody

[2015-12-12 02:16] #9 closed, assigned to nobody

[2015-12-12 02:17] OrfeasZ opened #147 "In-game ping indicators are not being updated"

[2015-12-12 02:18] OrfeasZ opened #148 "Cursor is not visible in main menu after abrupt server disconnection"
Temporary workaround is to open the console (using the tilde ~ key) and close it again.

[2015-12-12 02:20] OrfeasZ opened #149 "Update bootstrapper sometimes generates "Access Error" errors"
This is most likely caused by the bootstrapper not properly detecting the various child processes spawned by the VU client.

[2015-12-12 11:13] ghost opened #150 "Problem with account."
I have forgotten my nickname in battelfield Bed Company 2. I have 13 nicknames, of which, perhaps, is mine. Can you define the IP address or nickname of the account, so I can restore it?

[2015-12-12 13:27] OrfeasZ commented on #150
This is not the place to ask for support regarding your Emulator Nexus account, or Project Rome.
For that please visit our forums at http://forums.veniceunleashed.net/viewforum.php?f=19.

[2015-12-12 13:27] #150 closed, assigned to nobody

[2015-12-12 15:31] OrfeasZ opened #151 "Dirtbike physics are broken in High Frequency"
More like derpbike, HA!

[2015-12-13 01:33] faddn opened #152 "VU menu randomly popping up while playing in a server"
I couldnt see anything to start with, the whole black menu was blocking everything. But after some clicking this happend:

oi66.tinypic.com/2hzttee.jpg

[2015-12-13 02:46] Frankity commented on #141
@kiwidoggie i think the issue is fixed now, the game is working normally, thanks

[2015-12-13 02:50] #141 closed, assigned to nobody

[2015-12-13 09:44] ghost commented on #150
![5435](https://cloud.githubusercontent.com/assets/16266403/11766414/41e7ba38-a197-11e5-99f4-27d776b0d329.png)

[2015-12-13 12:09] kiwidoggie commented on #151
What is an example that we need. If you were on the "Mods Testing" server, the dirtbike was tweaked.

[2015-12-13 23:13] derrod opened #153 "Wrong IP-Address in server browser and conncetion failing when server is bound to secondary network interface"
The server was started with the following parameters:

[code]

I noticed the following issues
- The IP-Address shown in the server browser is still the primary one of the server (X.X.X.250)
- Clients are unable to connect
- RCON is still bound to 0.0.0.0

I guess the reason is that the server uses the primary network interface and thus its IP to connect to the master server. It seems that this is

[2015-12-14 15:16] ghost commented on #150
So what?

[2015-12-14 18:45] faddn opened #154 "Server not loading new map after all objectives destroyed in rush OP. metro"
I was running alone in a 120 hz server destroying all objectives in rush OP. metro.

After all objectives were destroyed the server would not end the round and load a new map.
I was able to keep running around and shooting for a while until the server crashed I think.

[2015-12-15 08:39] Siilwyn commented on #150
The answer was already given. Create a new topic in the '[Help and Support](http://forums.veniceunleashed.net/viewforum.php?f=19)' section of 'Project Rome' and explain your problem there. This repository is only for tracking bugs in-game.

[2015-12-15 09:43] derrod commented on #154
Maybe the server does not actually end a round if it was not live. I'll see later.

Depending on what server you were on at the time the reason for the "crash" could be windows update.

[2015-12-15 13:34] OrfeasZ commented on #148
Fixed in build 10355.

[2015-12-15 13:34] #148 closed, assigned to OrfeasZ

[2015-12-15 14:10] OrfeasZ commented on #152
This can be reproduced by opening the chat and pressing the backspace button.

[2015-12-15 14:59] OrfeasZ commented on #147
Fixed in build 10360.

[2015-12-15 14:59] #147 closed, assigned to OrfeasZ

[2015-12-15 15:18] OrfeasZ commented on #152
Fixed in build 10360.

[2015-12-15 15:18] #152 closed, assigned to nobody

[2015-12-15 15:20] OrfeasZ commented on #149
Hotfixed in build 10361.
A proper fix will follow shortly.

[2015-12-15 15:20] #149 closed, assigned to OrfeasZ

[2015-12-15 15:32] OrfeasZ commented on #154
This happens when the game is still in warmup, since scoring is disabled.

[2015-12-15 15:32] #154 closed, assigned to nobody

[2015-12-16 13:16] derrod opened #155 "Missing RCON commands"
This is low priority but should be included for a fully compatible rcon layer.
- `unlockList.*`
- `vars.ranked`
- `vars.unlockMode`

This list was compiled by comparing the output of the `admin.help` command from a VU and retail server.

Done or rejected (as of 23.12.2015)
- ~~`admin.effectiveMaxPlayers`~~
- ~~`admin.teamSwitchPlayer`~~
- ~~`banList.*`~~
- ~~`currentLevel`~~
- ~~`squad.*`~~
- ~~`v

[2015-12-16 18:37] ghost commented on #150
good joke, jude

[2015-12-16 18:44] OrfeasZ commented on #150
Enough of this. Like I said before, if you need help ask on the forums. This is not the place for it.

[2015-12-20 19:32] kiwidoggie commented on #155
admin.effectiveMaxPlayers has been implemented.
admin.teamSwitchPlayer has been replaced by admin.MovePlayer.
banList.\* has been implemented (will need testing, but initial results work.)
squad.\* has been implemented with the exception of squad.listActive (This will be fixed very soon)
vars.autoBalance has been implemented.
vars.roundsPermap has been implemented.

All above has been implemented

[2015-12-20 19:33] kiwidoggie commented on #155
admin.teamSwitchPlayer, currentLevel, vars.bannerURL, gameAdmin. \* , are undocumented and will not be implemented.
reservedSlotList.\* have been implemented.
player.idleDuration, isAlive, and ping have all been implemented as of 10645 (not live yet)

[2015-12-23 15:15] kiwidoggie commented on #155
vars.bannerURL as of the documentation is ignored, so it will not be implemented.

[2015-12-23 15:15] kiwidoggie commented on #155
reservedSlotList.* have been implemented.

[2015-12-23 15:37] derrod commented on #155
vars.bannerUrl is documented as "Not used", same for vars.roundsPerMap. Presumably because banners are not shown on Battlelog. However I'd like to see the possibility to use banners in VU's server browser.

gameAdmin.\* is documented in earlier versions but it is unclear what it actually does.

[2015-12-23 16:47] kiwidoggie commented on #76
A hotfix has been implemented: Will need extensive testing to ensure no side effects. This has already been pushed live.

[2015-12-24 08:39] faddn opened #156 "Mouse cursors pops up when closing the ingame console."
It pops up and you have to go into the game menu to and then back to the game to get it away so you are able to move around again. I don't know how to reproduce it, it happend when I just had joined a game.

[2015-12-24 14:55] 1337REKI opened #157 "It does not work"
I cant log in it is saying "You are not authorized to access this product"

[2015-12-24 15:25] Siilwyn commented on #157
That's because the open beta hasn't started yet. Please read the messages on the VU forum, there are already tons of people asking the same thing. Also you can read [Twitter](https://twitter.com/VeniceUnleashed) for the latest news.

[2015-12-24 16:11] lambhassador commented on #157
Was'nt it supposed to start today?

[2015-12-24 16:12] ExtReMLapin opened #158 "First person body is fully visible (Instead of only legs)"
Video showing it :

https://www.youtube.com/watch?v=Wbj3L59pJEo

[2015-12-24 16:12] ExtReMLapin commented on #157
In few mins

[2015-12-24 16:14] lambhassador commented on #157
timezone?

[2015-12-24 16:14] ExtReMLapin commented on #157
It has nothing to do with timezone, it's in few mins.

https://twitter.com/VeniceUnleashed

See there.

[2015-12-24 16:15] lambhassador commented on #157
thanks. Merry Christmas

[2015-12-24 16:15] ExtReMLapin commented on #157
Np, you too ;)

[2015-12-24 17:19] #157 closed, assigned to nobody

[2015-12-24 17:20] OrfeasZ commented on #158
Duplicate of #131.

[2015-12-24 17:20] #158 closed, assigned to nobody

[2015-12-24 17:31] ExtReMLapin commented on #131
Maybe the title should also say "+ somes bones not hidden" or something.

[2015-12-24 21:20] VRsingthegamez opened #159 "An error has occurred updating Code 1x2"
Cant get into any servers at all and this message appears and It restarts my client.

[2015-12-25 08:54] AlexEe77 opened #160 "Server Details"
Right-click a server in the server list to get detailed information about it.
For instance:
- Detailed gamemode stuff like how much points each team has, tickets, etc.
- **Server frequency**
- Location (Countrycode)
  ...

[2015-12-25 09:14] Noobasoar opened #161 "Black loading screen"
Vu doesn't open, goes to a black loading screen and never proceeds

[2015-12-25 12:41] MizuDG opened #162 "Pressing Tab closes the Chat Window"

[2015-12-25 14:19] kiwidoggie commented on #159
Have you tried downloading the .zip file and extracting it and running it from there, or using the new installer?

[2015-12-25 14:21] kiwidoggie commented on #153
As a workaround, you may need to disable all other network adapters first, then launch the servers. In my case I had to disable the VMWare Virtual Network Adapters. Otherwise this will still be looked into.

[2015-12-25 14:21] kiwidoggie commented on #161
Do you have Intel Integrated graphics installed?

[2015-12-25 14:32] Lashazior commented on #161
http://i.imgur.com/3Jspf4O.png same issue myself, gets to about 61k and crashes.

I have a phenom x6, 5770 graphics with up to date drivers, sufficient ram. Does this program utilize SSE4.1 instruction set at all?

[2015-12-25 14:34] kiwidoggie commented on #161
If you are on Windows 7, please ensure that you have the Windows 7 Platform Update installed found https://www.microsoft.com/en-US/download/details.aspx?id=36805

Also, ensure that if you do have integrated graphics that it is disabled, or vu.exe is set to use the discrete graphics.

[2015-12-25 14:35] Lashazior commented on #161
That update is already installed, still having issues

[2015-12-25 14:57] Noobasoar commented on #161
Does not seem like it...
On 25 Dec 2015 4:21 PM, "kiwipuppeh" notifications@github.com wrote:

[2015-12-25 14:58] kiwidoggie commented on #161
I do not believe so, try running with -vudebug as a launch parameter, also the crash server has been up for awhile now so you not being able to contact it seems like it's a local issue. But I will try to help you out, do you have any Anti-Virus/Anti-Malware installed or any Firewalls?

[2015-12-25 15:22] Noobasoar commented on #161
Vudebug paramater gives the following...
[1225/171819:ERROR:webgraphicscontext3D_command_buffer_impl.cc(227)]Failed
to initialize command buffer.   Also [208]... Does this make sense?
On 25 Dec 2015 4:58 PM, "kiwipuppeh" notifications@github.com wrote:

[2015-12-25 19:22] TheBasty opened #163 "Score / progress screen: Chat window freezes / does not accept input for 5-10 seconds"
Happened on the Caspian border server. While score screen is loading and a good few seconds during the score screen the chat window didn't accept any input, although it was displaying chat activity.

[2015-12-25 23:55] MAGICCC commented on #159
Happens to me when I use the .zip and startin vu.exe w/o admin

[2015-12-25 23:56] MAGICCC opened #164 "UTF-8 in Servername"
Serverlist doesn't parse special characters as in é in Operation Métro

[2015-12-25 23:59] MAGICCC opened #165 "Restart client with -ip:port parameters after changing to 60/120Hz"
After selecting a 60/120Hz the client could connect to the server directly after login to the account, so you won't have to reselect the same server.
Also the parameter could be used for a protocol for instant joining servers via a browser-based serverlist

[2015-12-26 00:03] OrfeasZ commented on #165
Duplicate of #138

[2015-12-26 00:03] #165 closed, assigned to nobody

[2015-12-26 05:08] krazr opened #166 "Triple Monitor HUD stretched instead of centered on center monitor!"
Hey guys I may be one of the few but I have a triple 5760x1080 (Samsung 120hz 27"x3) monitor setup and it works great with the stock BF3 interface.  The way the triple monitor interfaces should work is that all of the HUD information (chat, ammo count, life meters, etc.) should work is just like a standard single monitor setup. *In the main startup menu/interface, All three of my monitors are on a

[2015-12-26 12:26] IbrahimSystem opened #167 "Game Disconnect every 5-10 mins"
i play normaly but after 5 mins or 10 mins the game disconnects it say's that the connection to zeus backend has been lost after i click reconnect the client close it self and i will be forced to rerun it.

[2015-12-26 13:10] AlexEe77 opened #168 "Auto-Connect after freq change"
Automatically join to the desired server with the right frequency. Maybe also add a `-connect IP`  parameter

[2015-12-26 13:16] AlexEe77 opened #169 "Venice Unleashed Startup Issues with Integrated Graphics (Intel, AMD, NV)"
Though there being an entry in the [Official FAQ](http://forums.veniceunleashed.net/viewtopic.php?f=40&t=8246#p48894) still a lot of people seem to have problems with it.

Example Threads:
- http://forums.veniceunleashed.net/viewtopic.php?f=40&t=8258
- http://forums.veniceunleashed.net/viewtopic.php?f=40&t=8251

[2015-12-26 14:23] lambhassador opened #170 "Venice Unleashed Updater Updating Client fail"
Updater gets stuck at 1/6 and crashes to desktop. If restarted, updating begins again at 1/6 and never gets past.

[2015-12-26 15:45] MAGICCC commented on #168
Duplicate of https://github.com/EmulatorNexus/VeniceUnleashed/issues/165 and https://github.com/EmulatorNexus/VeniceUnleashed/issues/138

[2015-12-26 16:12] derrod commented on #164
The server list supports UTF-8 just fine (even emoji is working).
![emoji](http://i.imgur.com/2JFYrWb.png)
![metro](http://i.imgur.com/bzxq1cL.png)

[2015-12-26 16:12] #168 closed, assigned to nobody

[2015-12-26 20:33] #164 closed, assigned to nobody

[2015-12-26 20:34] kiwidoggie commented on #159
Ensure that the directory that VeniceUnleashed is extracted to has User's modify priv's.

[2015-12-26 21:40] kiwidoggie commented on #96
https://www.youtube.com/watch?v=rXIKyCDjUXg

Confirmed myself.
Many other weapons as the M60 also have issues with recoil. Will need to re-investigate.

[2015-12-26 21:42] kiwidoggie commented on #76
The hotfix did not work as expected, reverting changes and will investigate further.

[2015-12-27 07:19] zhm86 opened #171 "Climb down ladders above water, the water surface will pump player up for a distance."
Tested in 60&120Hz servers.
Did not test in normal servers.

[2015-12-27 07:27] zhm86 opened #172 "Jump in place, before you fall to the ground, press SPRINT+FORWARD, you could move in the air."
Tested in 120Hz servers.

[2015-12-27 11:54] zhm86 opened #173 "M1 Abrams, after firing coaxial machine gun, switch to cannon immediately, there will be a short reload action, even there is already 1 ammo."
This short reload action makes screen jitter.
Tested in 60Hz server.

[2015-12-27 14:01] kiwidoggie commented on #171
For all Frequency Related issues, record a video in 30hz and 120hz or 60hz where there is clearly a difference.

[2015-12-27 14:01] #171 closed, assigned to nobody

[2015-12-27 14:18] kiwidoggie commented on #173
Please confirm with a side-by-side video of the effects in 60hz and 30hz to see if there are any differences. Just reply to this issue to re-open it.

[2015-12-27 14:18] #173 closed, assigned to nobody

[2015-12-27 14:19] kiwidoggie commented on #166
Screenshots or video please :) I believe I understand what you are saying, but we don't want to make assumptions here.

[2015-12-27 16:22] AlexEe77 commented on #170
I guess the devs are aware of that issue. try the official [.zip](http://veniceunleashed.net/VeniceUnleashed.zip) and extract the files to your game dir just as workaround

[2015-12-27 18:21] MizuDG commented on #156
https://youtu.be/hF2XxpytpPU
Can confirm.

[2015-12-28 11:57] kiwidoggie commented on #170
See http://forums.veniceunleashed.net/viewtopic.php?f=40&t=8246 on updating issues, if you need further support post on the forums.

[2015-12-28 11:57] #170 closed, assigned to nobody

[2015-12-28 12:14] NicoCelliers opened #174 "Procon commands make server crash"
When you type a message in procon as admin. The moment you send the message, the server crashes and has to be restarted.

[2015-12-28 12:19] Noobasoar commented on #161
Updated direct and resolved issue
On 25 Dec 2015 5:22 PM, "Poedil 88" poedil101@gmail.com wrote:

[2015-12-28 12:49] kiwidoggie commented on #174
Investigating currently.

[2015-12-28 12:50] MizuDG opened #175 "Suggestion: Display Server name on the scoreboard"
It'd be useful to let your friend(s) join in on you if you've played on the server for a while and forgot its name.

[2015-12-28 13:41] BionicRabbit3 opened #176 "Virus Detection"
I know that it's a known issue, but at what priority is fixing it?

Also, how can I be sure that it's a false positive?

[2015-12-28 18:13] ghost opened #177 "Inconsistent Damage (M1911)"
The Video speaks for itself. Since it isn't damage collecting because we were on Ts and they really shot/hitted only one bullet. https://youtu.be/bpk5498t3JQ

[2015-12-28 18:46] kiwidoggie commented on #176
We have submitted the modules to many different anti-virus companies to take a look and remove the false-positives. If you have the know-how disassembling and looking at the assemblies for malicious code is fairly straightforward. Alas if you do not know how to reverse engineer binaries, you will not be able to check yourself for malicious code but I can assure you there is not one line of malicio

[2015-12-28 18:47] #176 closed, assigned to nobody

[2015-12-28 22:09] derrod opened #178 "Race condition for players joining"
A server with n-1 players and n slots will allow at least two more players to join at the same time.

[2015-12-29 03:09] rierei opened #179 "Invisible Soldier Model in High Frequency with High Ping"
Playing tdm in ziba tower 120 hz server, which is very frantic, I noticed that at times the player models are invisible.

When make quick encounters with enemies, as I run around the map, find invisible enemy only viewing the shots and weapon flashs.

When spawn in squad ally there are cases where:
- The ally is invisible.
- Near enemy is invisible.

In all cases the invisibility lasted up to abou

[2015-12-29 11:24] IbrahimSystem opened #180 "Bulid 10791 Game Disconnect Issue *Update*"
My Spces are
CPU : Intel Core2Duo E8400
GPU : Nvidia GTX 680
Ram : 8GB DDR3 1333Mhz
OS : Windows 10 Pro X64
Before Build 10791
the game disconnect after 10-15 min's
but now game disconnect after 1-5 mins of the game running time
it say's Connection Lost To Zeus Backend when i click reconnect log in windows pop's up when i hit login
VU Has stoped working
Close Program
and i think that this happen l

[2015-12-29 15:39] Noobasoar opened #181 "Application deletes after launching..."
Good day

Today I have tried to start Venice Unleashed, but then it pops up with a windows error and the application deletes itself... Any suggestions?

The error reads... Windows cannot access the specified device, path, or file.  You may not have the appropriate permissions to access them.

What is weird is that it has worked fine the previous couple of days and now it deletes itself from my sys

[2015-12-29 16:10] Xulunix commented on #181
VU is currently detected as false positive by many anti-virus solutions.
Try to whitelist the folder of VU in your AV and reinstall Venice.

[2015-12-29 23:50] DumbBoot opened #182 "Downloading and installing."
I dont see any intructions on how to download and install the product.

I downloaded the zip file and i dont know what to do from there. Every time i open any of the files they just come up as a error message.

[2015-12-29 23:52] MAGICCC commented on #182
1.) Extract it somewhere
2.) Link your Originaccount to you EN one: http://sso.emulatornexus.com/link
3.) Start org. BF3 once
4.) Start VU
5.) Profit?!

[2015-12-30 04:37] DumbBoot commented on #182
Im confused. how do i link orign with that website. i logged in and then hit link account and nothing happens. i turned my add blocker off.

also do i log in with the website or the app origin

[2015-12-30 04:41] DumbBoot commented on #182
Im very confused on this installation process. Maybe a video tutorial would be useful.

[2015-12-30 04:55] DumbBoot opened #183 "Launching problem"
I launch the VU program

It says " Failed to connect to the zues backend [error code: 4]

Quit or Retry

[2015-12-30 05:17] DumbBoot commented on #183
Heres a screenshot.

https://gyazo.com/7b1b25256e2fc156c334839012b29225

[2015-12-30 20:44] Zighome24 opened #184 "Suggestion: Editable numeric sensitivity in-game to replace slider"
A simple number, could be a percentage like bf4, or an actual number, to replace the stupid console slider.

[2015-12-30 20:45] Zighome24 opened #185 "Crash Report: VU crashes when you get run over while jumping"
I was on Gulf of Oman, jumped and moved to avoid getting hit by a car and as soon as I died the game crashed.

[2015-12-30 20:53] Zighome24 opened #186 "Unable to join 120hZ server as spectator"
https://gyazo.com/9d27229c6682a6836b71d06d9880b411

[2015-12-30 21:55] jasonkesler opened #187 "Norton blocks installation and files"
Please submit your program to Norton so it will not be blocked in the future.

[2015-12-30 22:11] ghost opened #188 "Game Crash when Shoot on to Specator Camera"
When you Shoot on to the Spectator Camera, the Specator his Game Crash.
Sorry for Bad English.

[2015-12-30 22:16] ghost commented on #182
When you Click on "Link your Account" a popup will be Open. So maybe your Browser block Popups.

[2015-12-31 10:23] MizuDG commented on #187
The devs said they're already working on submitting samples. http://veniceunleashed.net/downloads

 In the meantime, add it to your exception list.

[2015-12-31 10:55] OrfeasZ commented on #187
As detailed in our downloads page:
The nature of the Venice Unleashed launcher can (and will) cause it to be falsely identified as a virus by various different Anti-Virus solutions. We are currently in the process of submitting samples to Anti-Virus vendors in order to eliminate this issue, but until then you might have to add Venice Unleashed to the exception list of your Anti-Virus.

[2015-12-31 10:55] #187 closed, assigned to nobody

[2015-12-31 10:58] OrfeasZ commented on #188
Can you provide an associated crash ID for that crash?

[2015-12-31 11:00] #161 closed, assigned to nobody

[2015-12-31 11:00] OrfeasZ commented on #180
Duplicate of #167

[2015-12-31 11:00] #180 closed, assigned to nobody

[2015-12-31 11:02] OrfeasZ commented on #181
As detailed in our downloads page:
The nature of the Venice Unleashed launcher can (and will) cause it to be falsely identified as a virus by various different Anti-Virus solutions. We are currently in the process of submitting samples to Anti-Virus vendors in order to eliminate this issue, but until then you might have to add Venice Unleashed to the exception list of your Anti-Virus.

[2015-12-31 11:02] #181 closed, assigned to nobody

[2015-12-31 12:08] ghost commented on #188
No, i dont get any Crash ID. Just a Screen from Windows with "Venice Unleashed funktioniert nicht mehr" (Venice Unleashed dont Work anymore.) and get te Following Options.
- Wait for Venice Unleashed
- Close Venice Unleashed
- Debug Venice Unleashed (This is because i have Visual Studio 2015 Installed)

[2015-12-31 12:27] ghost commented on #188
I can give you this. I translate it from German to Englisch. Got it from the Windows Event viewer.

Name of the Crashed programm: vu.exe, Version: 1.0.0.0, Timestamp: 0x511c9356
Name of the Crashed module: vu.dll, Version: 0.9.0.0, Timestamp: 0x5681a75d
Exceptioncode: 0xc0000409
Failureoffset: 0x0044c881
ID from the Crashed Process: 0x594
Starttime of the Failure Programm: 0x01d1434dc928c9d9
Path

[2015-12-31 18:37] TheMaxXHD opened #189 "Advanced chat crash"
Upon hitting enter after typing a message, the client (happens once and awhile) crashes. Also, nothing has to be typed, just hitting enter can cause the client to crash. No ability to make a bug id, just windows error reporting, which does nothing. I have a few video captures of it happening if needed.

[2016-01-01 08:08] ghost opened #190 "BFBC2"
I have forgotten my nickname in battelfield Bed Company 2. I have 13 nicknames, of which, perhaps, is mine. Can you define the IP address or nickname of the account, so I can restore it?

[2016-01-01 13:22] tkoschka commented on #169
Had same Problem, but could fix it by using this workaround:
- Rightclick the venice shortcut for the freq you want to play
- there is an option like "execute with gfx card"
- select the nvidia card there and everything works (atleast for me)

[2016-01-01 13:39] tkoschka commented on #169
okay, the workaround doesnt help to much, game still crashes when server gets closed and when map changes

[2016-01-01 14:04] rierei commented on #166
http://forums.veniceunleashed.net/forums/viewtopic.php?f=40&t=8402

[2016-01-01 14:33] OrfeasZ commented on #166
Does this only happen in fullscreen mode, or does it also happen while running windowed?

[2016-01-01 14:33] #190 closed, assigned to nobody

[2016-01-01 15:44] rierei opened #191 "Spectator: Map and enemies names are not displayed in hardcore preset"
![2016-01-01_13-39-47](https://cloud.githubusercontent.com/assets/10390711/12071334/b190d752-b08d-11e5-902a-9bd7a5f027b3.jpg)

[2016-01-01 18:30] MizuDG opened #192 "Suggestion: Allow opening the menu during killcam"
This has been present only in BF3 and to this day, it's annoying as hell that you can't do anything while you watch the killcam.

[2016-01-01 18:56] Frankity opened #193 "In-Use from another location"
i just got this after pressing login button!
![Image of issue](http://i.axton.ml/01-01-16/BUm)

[2016-01-02 06:38] senposage opened #194 "driver profles not loading do to unknown binary name"
vu.exe needs to be `renamed` to bf3.exe or gpu driver profiling doesn't work
tested on two machines a amd and a nvidia one(should affect intel as well)
you can confirm by running nvidia inspector and copypasta ing the profile name from bf3.exe to vu.exe
this is likely a fair chunk of  the reason that people are having performance issues

[2016-01-02 06:56] derrod opened #195 "Teams are not reinitialized after map switch"
This can lead to issues when switching between maps with different sized teams.
Rush (2x16) -> Conquest Large (2x32) => Only 32 slots (2x16) available/Server limited to 32 slots
Conquest Large (2x32) -> Rush (2x16) => 64 Slots stay available, works.

Squad Deathmatch (probably other modes that don't use a 2 Team setup too) still works correctly (4x6). Switching from Rush to SQDM to CQL will correc

[2016-01-02 06:57] derrod opened #196 "Sending chat messages from rcon crashes server when player count >= 2"

[2016-01-02 07:12] senposage commented on #194
from the looks of it you may need to create a copy of the actual bf3.exe and rename it so something like bf3vu.exe so your injection will work ...

[2016-01-02 07:18] derrod opened #197 "Feature Request: Disabling updating and crash reporting"
Two feature requests that might be useful for people running headless machines or server providers who do not want to have to RDP into a machine.

Disabling updating
- Allows to run multiple instances off of one installation without not being able to restart them when an update is available
  - A workaround to this issue is to have one folder with a VU installation per instance
- Allows patching i

[2016-01-02 07:20] derrod opened #198 "Crash reporting window not working on headless servers"
On a headless linux machine the crash reporing will try to open a window which of course doesn't work on a headless box.

I suggest outputting the content of the message box (crash guid, etc.) to the console instead.

[2016-01-02 10:06] derrod commented on #196
Duplicate of  #174

[2016-01-02 10:06] #196 closed, assigned to nobody

[2016-01-02 11:02] derrod commented on #174
This requires at least one player to be on the server.

[2016-01-02 15:04] Chronos121 opened #199 "[Master Ticket] Spectator Mode Crashes"
![unbenannt](https://cloud.githubusercontent.com/assets/16517719/12074829/7a99df86-b16a-11e5-863a-ea2946a8d862.png)

[2016-01-02 15:21] VladMcCaffrey opened #200 "[Bug]Spectator Mode"
When clicking you mouse left or right click. The game turns off, with a crash.

[2016-01-02 15:50] kiwidoggie commented on #194
We are not going to change the executable, OP has posted a workaround with the profiles. I personally just created a new one and used the same settings (SLI Enabled).

[2016-01-02 15:50] #194 closed, assigned to nobody

[2016-01-02 15:52] kiwidoggie commented on #193
Is this still an issue? Sometimes it may take a few moments to timeout.

[2016-01-02 15:53] kiwidoggie commented on #200
Duplicate of https://github.com/EmulatorNexus/VeniceUnleashed/issues/199

[2016-01-02 15:53] #200 closed, assigned to nobody

[2016-01-02 15:55] kiwidoggie commented on #186
Tracking this in https://github.com/EmulatorNexus/VeniceUnleashed/issues/199

[2016-01-02 15:55] #186 closed, assigned to nobody

[2016-01-02 15:57] senposage commented on #194
- the work around doesn't exist for AMD users the only way to fix the profiles is to hex edit the atiapfxx.blb which is a pain in the ass and will break every driver update also the CFX profile won't work either because thats defined in the driver .dll 's which you can't tamper with due to driver signature enforcement

[2016-01-02 15:57] kiwidoggie commented on #197
+1 for the server disabling auto-update. I rather it be configurable or just leave it offline and display a log.

[2016-01-02 15:58] kiwidoggie commented on #188
Currently tracking progress https://github.com/EmulatorNexus/VeniceUnleashed/issues/199 there.

[2016-01-02 15:58] #188 closed, assigned to nobody

[2016-01-02 18:06] ghost opened #201 "BFBC 2"
I have forgotten my nickname in battelfield Bed Company 2. I have 13 nicknames, of which, perhaps, is mine. Can you define the IP address or nickname of the account, so I can restore it?

[2016-01-02 18:10] OrfeasZ commented on #201
This is not the place to ask for help regarding Project Rome, that's what the forums are for.
If you open another issue I'll have to block you.

[2016-01-02 18:10] #201 closed, assigned to nobody

[2016-01-02 18:11] OrfeasZ commented on #193
This probably means you're still running an instance of the game, or that you crashed and your previous connection hasn't timed out yet.

[2016-01-02 18:11] #193 closed, assigned to nobody

[2016-01-02 18:57] xerxes-at opened #202 "Chat window stays after being kicked"
Chat window stays if it was visible while being kicked.

![vu_2016_01_02_19_46_19_779](https://cloud.githubusercontent.com/assets/5236639/12075717/de55f7e8-b189-11e5-987b-9ae8694c54e1.jpg)

[2016-01-02 19:20] MAGICCC opened #203 "Killfeed is delayed in spectator mode"
Noticed it today, after doing some spectatortests.
Recorded on a 60Hz server
https://www.youtube.com/watch?v=Jm4EFWsqjrs

[2016-01-02 19:43] OrfeasZ commented on #189
This should be fixed in build 10820.

[2016-01-02 19:43] #189 closed, assigned to nobody

[2016-01-02 19:52] senposage commented on #194
open atiapfxx.blb (located in c:\windows\syswow64) and have a look round 0000FC00 thats what defines the aa/shader optimisation profile
maby you can patch it via the launcher

[2016-01-02 19:52] OrfeasZ commented on #199
Most spectator crashes should be resolved in build 10820.

[2016-01-02 19:52] #199 closed, assigned to OrfeasZ

[2016-01-02 20:24] #183 closed, assigned to nobody

[2016-01-02 20:25] OrfeasZ commented on #174
This should be fixed in build 10822.

[2016-01-02 20:25] #174 closed, assigned to kiwidoggie

[2016-01-02 20:25] #159 closed, assigned to nobody

[2016-01-03 02:34] MAGICCC commented on #174
Connected via B3 on my server and after loading the plugin_adv.xml the server crashes when `admin.say` got called

[code]

When the server is running a while and using `!say text` the server wont crash

[code]

[2016-01-03 04:51] krazr commented on #166
Guys it won't let me take proper screenshots in fullscreen mode and I don't have enough bandwidth to upload a video with 5760x1080 resolution of almost any size.  My realtime upload speed is 80 kbps and it's not letting me taking proper screenshots with the print screen button.  I just get a black screen with print screen that shows the frames counter in the top right corner...  If there's a bette

[2016-01-03 05:15] krazr commented on #166
![2016-01-02_00001](https://cloud.githubusercontent.com/assets/451595/12077370/dc882df2-b1a5-11e5-8e95-bb28740af6bd.jpg)
![2016-01-02_00002](https://cloud.githubusercontent.com/assets/451595/12077372/dc8eb71c-b1a5-11e5-9ad2-2d6b427de23c.jpg)
![2016-01-02_00003](https://cloud.githubusercontent.com/assets/451595/12077371/dc8adf16-b1a5-11e5-9605-ceb2433d303b.jpg)
Okay so I realized this guy in the fo

[2016-01-03 08:54] OrfeasZ commented on #174
Are you sure you updated your server to build 10822?

[2016-01-03 12:24] OrfeasZ commented on #198
Fixed in build 10827.

[2016-01-03 12:24] #198 closed, assigned to OrfeasZ

[2016-01-03 12:24] #185 closed, assigned to nobody

[2016-01-03 12:25] OrfeasZ commented on #182
This issue tracker is not for direct support.
If you want support visit our forums.

[2016-01-03 12:25] #182 closed, assigned to nobody

[2016-01-03 12:39] OrfeasZ commented on #197
This has been implemented in build 10827. Servers can now disable startup updates using the **-noUpdate** switch (note, this feature is only available for server instances).
Crash reporting will **not** be toggle-able, but it has now been updated in order to properly work in headless environments.

[2016-01-03 12:39] #197 closed, assigned to nobody

[2016-01-03 12:41] OrfeasZ commented on #167
Disconnections can be caused by a bad internet connection or routing to our backend services, so there's nothing we can currently do about that until we expand our global server availability.
As for the crash, it was fixed in build 10827.

[2016-01-03 12:41] #167 closed, assigned to nobody

[2016-01-03 12:42] OrfeasZ commented on #162
That's expected behavior, since the chat closes after losing focus.

[2016-01-03 12:42] #162 closed, assigned to nobody

[2016-01-03 13:01] MAGICCC commented on #174
Yes it was at build 10822, now it got updated to 10827. I will try it again

[2016-01-03 13:36] derrod commented on #197
What about simply sending the crash report but not waiting for user confirmation before restarting?

[2016-01-03 13:37] derrod commented on #174
No issues with 32 players on 10822 so far. Granted I don't have B3 and can't test if something it does different than the rcon tools I use that crashes the server.

[2016-01-03 13:54] OrfeasZ commented on #197
You can run your server using -headless on windows, which should alleviate this issue, while allowing you to output the log to a file of your choice.

[2016-01-03 23:48] rierei opened #204 "Unknown error message when master is down"
I open the client takes longer than usual to connect to Zeus and when i try to log returns the message: An unknown error as ocurred.
![2016-01-03_21-06-09](https://cloud.githubusercontent.com/assets/10390711/12081422/6f04474c-b25f-11e5-86d4-d8e616839172.jpg)
When you restart the game, shows me the failure error when trying to connect to Zeus.
![2016-01-03_21-14-10](https://cloud.githubusercontent.

[2016-01-04 00:13] VladMcCaffrey opened #205 "[Bug] In spectator mode player legs rotate around (Jet)"
Spectator mode, Going on a player that is flying a jet. The legs off the players character rotate around and just do funny stuff.

Video: https://www.youtube.com/watch?v=neQ6BmKMP1U

Here's a few screenshots

![Image1](http://i.imgur.com/4Q7nBrt.jpg)
![Image2](http://i.imgur.com/c90cy0e.jpg)
![Image3](http://i.imgur.com/6cVkJUL.jpg)

[2016-01-04 00:23] VladMcCaffrey opened #206 "[Bug] Spectator Mode invisible players"
When switching between players. Sometimes players are totally invisible. but then appear after sometime.

Video: https://www.youtube.com/watch?v=ZgCrsENlmfs

[2016-01-04 17:17] jk53bg opened #207 "CPU and Network spikes on high freq."
Since a few updates there are somehow extreme CPU/Network spikes (simultaneous). Maybe this is connected to the servers not keeping up?

Screenshots (120Hz): http://imgur.com/a/Tfon1
DxDiag: http://puu.sh/mjqkx/dde4dd1df5.txt

Edit: Issue can be closed. Seems like some Windows services going nuts caused heavy CPU load.

[2016-01-05 09:58] AlexEe77 commented on #203
video is private

[2016-01-05 16:18] MAGICCC commented on #203
ugh, changed it to Unlisted

[2016-01-06 05:56] DamonNight opened #208 "stuck on the loading screen"
i need help guys i'm stuck on the loading screen before you login to your account in the vu.exe

Have you ran Battlefield 3 successfully via origin: YES
Do you have an Intel Integrated graphics card: NO
Operating System: [Windows 7]
Anti-Virus Solution: avast
Have you linked your account for verification: YES
Have you tried above troubleshooting steps: YES
Does VU quit without a crash: YES
Crash R

[2016-01-06 10:22] DamonNight commented on #208
solved, all i had to do is download the update for windows 7 [Platform Update for Windows 7]

this is the download link for anyone that's having this problem as well

https://www.microsoft.com/en-us/download/details.aspx?id=36805

Note: make sure you choose 64/32 bit, it depends on what is your system

=]

[2016-01-07 21:46] rierei commented on #204
Ticket unnecessary, developers already know that there are many things to be implemented on the client.

[2016-01-07 21:46] #204 closed, assigned to nobody

[2016-01-08 16:35] #208 closed, assigned to nobody

[2016-01-08 16:36] #207 closed, assigned to nobody

[2016-01-08 16:37] OrfeasZ commented on #205
Duplicate of #76

[2016-01-08 16:37] #205 closed, assigned to kiwidoggie

[2016-01-08 16:40] OrfeasZ commented on #203
This is an inherent problem with the way Frostbite handles the kill-feed.
I'm marking this as invalid since we'll be completely replacing that functionality for spectators soon.

[2016-01-08 16:40] #203 closed, assigned to nobody

[2016-01-08 16:40] OrfeasZ commented on #195
This should be fixed in one of the latest builds.
Please let me know if that's not the case.

[2016-01-08 16:40] #195 closed, assigned to nobody

[2016-01-08 16:41] OrfeasZ commented on #90
This should be resolved in one of the latest builds.

[2016-01-08 16:41] #90 closed, assigned to OrfeasZ

[2016-01-13 18:50] 1942FOOFIGHTER opened #209 "Failing to update client files"
Have you ran Battlefield 3 successfully via origin: YES
Do you have ANY integrated graphics (AMD APU, Intel Integrated, NV Optimus): NO
Operating System: Windows 10
Anti-Virus Solution: SuperAntiSpyware Pro/Windows Defender
Have you linked your account for verification: YES
Have you tried above troubleshooting steps: YES
Does VU quit without a crash: NO
Crash Record: An Error Has Occurred While Up

[2016-01-14 13:44] kiwidoggie commented on #209
Download the latest files from http://veniceunleashed.net/downloads and let me know if you still have this issue. There have been many user's with this issue recently, adding NF to take a look to ensure all services are still up.

[2016-01-14 13:47] kiwidoggie commented on #206
Duplicate of  https://github.com/EmulatorNexus/VeniceUnleashed/issues/133

[2016-01-14 13:47] #206 closed, assigned to nobody

[2016-01-14 14:34] 1942FOOFIGHTER commented on #209
I did everything is working thanks

[code]

 Download the latest files from http://veniceunleashed.net/downloads and let me know if you still have this issue. There have been many user's with this issue recently, adding NF to take a look to ensure all services are still up.—
Reply to this email directly or view it on GitHub.

[2016-01-14 20:33] #209 closed, assigned to OrfeasZ

[2016-01-16 17:30] rierei commented on #206
This bug has been solved in a build that has not been available?

This issue occurs after observing a player within a jet or helicopter making the first person draw to be invisible at others.

In the case of #133 i believe it has already been solved some time ago.

[2016-01-16 18:34] OrfeasZ commented on #191
Will be fixed with the upcoming spectator UI overhaul.

[2016-01-16 18:34] #191 closed, assigned to nobody

[2016-01-16 22:38] rierei commented on #206
Video: [VU_invisibleplayer](https://vid.me/3NK7)

[2016-01-17 01:08] kiwidoggie commented on #206
The issue was never resolved, we were made aware of it, but haven't had time to look into it yet. We will be looking in to it as soon as we can.

[2016-01-17 01:10] kiwidoggie commented on #166
Someone via reddit also posted about the same/similar issue. See: https://www.reddit.com/r/VeniceUnleashed/comments/41a37b/5760x1080_needs_optimization/

[2016-01-17 02:51] rierei commented on #179
Video: [VU_invisiblesoldier](https://vid.me/l87s)

[2016-01-18 10:43] kiwidoggie commented on #76
An update on this, it appears that when a corpse is created that some of the internal first person view states are not reset in spectator. "Just resetting" them does not provide the fix that is needed, and is still being investigated. Just wanted to keep everyone up to date.

[2016-01-22 02:40] ThatBritishGamerChap opened #210 "New Premium Purchased, and Installed. No DLC servers show up!"
Hello There

So I got the Premium DLC for Battlefield 3 Via Origin. Unfortunately, I cannot seem to get any DLC mapped servers to appear in the server list. How can I rectify this?

Thanks
-TBGC

[2016-01-23 18:19] bigworld12 commented on #192
also i suggest keeping the chat stay open because it's annoying to re-type what i was typing coz i got killed

[2016-01-24 14:09] kiwidoggie commented on #210
That means that there are no servers running the DLC maps currently. As we are still in testing and many people only have the base game, admins tend to stick with the older maps. There is nothing wrong on your end.

[2016-01-24 14:09] #210 closed, assigned to nobody

[2016-01-25 19:37] InvalidHandle opened #211 "Crashing on startup"
During startup, the following message is displayed, and the game crashes shortly after. (No possibility to login yet)
This ID has been given to provide here: 49243C0A-3E4A-48F4-8705-B45E5BD2237D (not a fixed code, changes every time)

[2016-01-28 16:07] kiwidoggie commented on #211
This is caused by MSI's Nahimic audio software. Uninstall, restart your pc and try again. This is a non-issue due to VU but to personal configuration. If you would like further troubleshooting send me a PM on the forums.

[2016-01-28 16:07] #211 closed, assigned to nobody

[2016-02-01 14:27] kiwidoggie commented on #169
There was an update pushed a few days ago that should have resolved these issues. @tomgrassmann @AlexEe77 can you confirm?

[2016-02-01 17:06] tkoschka commented on #169
tested it, now the error only occurs sometimes when writing in the chat

[2016-02-02 12:43] kiwidoggie commented on #169
Which server were you using, if you don't mind me asking? Or is it a persistent issue throughout all servers?

[2016-02-02 12:45] kiwidoggie commented on #202
This is caused by VEXT not unloading plugins after being dropped or kicked from the server. Not sure what the implementation for this is supposed to be, adding NF to take a look.

[2016-02-02 12:46] kiwidoggie commented on #192
I think this is intentionally by DICE to fix https://www.youtube.com/watch?v=DaprSQsy81A. I will look into it.

[2016-02-04 07:53] tkoschka commented on #169
EU #1 but now i'm getting the error on startup. I see the loading screen for  some seconds, than the animation stops and i see in the background the directx message

[2016-02-08 21:32] ghost commented on #138
Maybe save the credentials locally to an encrypted file? And then use those when logging in?

[2016-03-11 14:56] kemocono opened #212 "Can't Reset My Password!!!"
i havent been playing for a while and i forgot my my password! so when i click "I forgot my password"
this message in showing [Unable to load the Are You a Human PlayThru™. Please contact the site owner to report the problem.]
so please solve it! thanks
![capture](https://cloud.githubusercontent.com/assets/17785197/13705607/3941aa70-e7aa-11e5-8ad7-9cc427f95d3b.PNG)

[2016-03-14 16:33] OrfeasZ commented on #212
Thanks for bringing this to our attention. It should now be fixed.

[2016-03-14 16:33] #212 closed, assigned to nobody

[2016-04-04 11:55] Shivam0911 opened #213 "got kicked out of server falsely accusing of using aimbot"

[2016-04-04 15:41] kiwidoggie commented on #213
You will have to contact the administrators of the server, as most of the servers are hosted by community members.

[2016-04-04 15:41] #213 closed, assigned to nobody

[2016-04-19 13:24] Powback opened #214 "Frostbite variable "end" confused with lua end"
Frostbite variables called end will cause a syntax error and prevent it from compiling.

In the Fog class, we have a variable called end.
If we include that variable, the script won't compile since the function will end early.

This can be solved by remapping fog.end to fog.endDistance.
fog.start should also be remapped to fog.startDistance for likeness sake.

[2016-04-19 13:26] OrfeasZ commented on #214
As a workaround you can try accessing them using the brackets operator for now (ie. `fog['end']`).

[2016-05-08 17:43] Powback opened #215 "No error when unactivated game"
There should be a message that says if the client or server isn't activated.

It's currently just exiting. A little message should prevent that annoyance.

[2016-05-31 13:20] judemvm opened #216 "How do i start create custom mods in Venice Unleashed?"
How do i start create custom mods in Venice Unleashed? Rime not supported FB2 in Battlefield 3.
[http://blog.nofate.me/?p=153](http://blog.nofate.me/?p=153)
 [http://blog.nofate.me/?p=166](http://blog.nofate.me/?p=166)
[http://forums.veniceunleashed.net/viewtopic.php?f=39&t=5979](http://forums.veniceunleashed.net/viewtopic.php?f=39&t=5979)
[http://forums.veniceunleashed.net/viewtopic.php?f=39&t=63

[2016-05-31 22:45] kiwidoggie commented on #216
I have uploaded a small notes dump on the basics of VeniceEXT. As VeniceEXT is still under development, this is due to change at any point and is only for the current build of Venice Unleashed at the time of this writing. As for Rime, it is still in heavy development and is around 80% complete (without plugin development)

https://github.com/EmulatorNexus/VeniceEXT-tutorial

This is all for now un

[2016-05-31 22:45] #216 closed, assigned to kiwidoggie

[2016-08-11 13:34] kiwidoggie opened #217 "Shared Mods Fail to Compile and Send if Client/Server script does not exist"
There's a new bug where things in shared do not get executed, built or sent. Yet if the same script is copied to /Client and /Server it works fine.

[2016-08-11 19:56] OrfeasZ commented on #217
This has been fixed in ██████. Will be pushed to VU soon.

[2016-08-12 04:10] #217 closed, assigned to nobody

[2016-11-19 09:18] kinggx2000 opened #218 "Battlefield Bad Company 2 online problem"
when i login and inter server i have problem connection to the game server has been lost please check your network
please help me
![hqdefault](https://cloud.githubusercontent.com/assets/23569768/20454453/e80ee638-ae49-11e6-8932-e61f5842dffb.jpg)

[2016-11-19 18:43] #218 closed

[2017-01-03 12:22] crystillgirl opened #219 "Cant create soldier"
everytime i put name it mean name taken or other error i tryed random words it sill

[2017-01-03 12:26] MAGICCC commented on #219
The linking service is down. You mught check the VU Discord server which is linked in the forum

[2017-01-03 12:38] crystillgirl commented on #219
im on discord see no links

[2017-01-04 01:10] kiwidoggie commented on #219
http://forums.veniceunleashed.net/viewtopic.php?f=40&t=8876

[2017-02-10 21:19] FrozenBow opened #220 "Can't see community topics"
Hello folks! I just created an account and when I log in and go to community tab to see the topics or create a new one it just doesn't appear, "This board has no forums.". But when I'm logged off I can see them, but can't create a topic, of course. Any idea? Thanks in advance.

[2017-02-11 03:25] kiwidoggie commented on #220
Fixed, you should be able to log in now.

[2017-02-11 03:25] #220 closed, assigned to nobody

[2017-02-28 12:46] Powback opened #221 "NetEvents yields a crash."
Trying to invoke NetEvents will result in a server-side crash.
Tested with NetEvents:SendLocal()

[2017-03-17 11:36] Powback opened #222 "[REQ] Mod name in debug console"
It would be nice to have the mod name automatically added to prints. Perhaps as a bool in the mod config?

Example:
VEXT TestPlugin:
print("Test Print")

Console:
[TestPlugin] Test Print

[2017-03-18 23:59] #172 closed, assigned to nobody

[2017-03-19 00:14] OrfeasZ commented on #221
This will be fixed in the upcoming update. If it happens again please create a reproducible case and re-open this issue.

[2017-03-19 00:14] #221 closed, assigned to nobody

[2017-03-19 00:15] OrfeasZ commented on #215
Users running VU without an installed game license should get the Origin license verification dialog starting from the next update.

[2017-03-19 00:15] #215 closed, assigned to OrfeasZ

[2017-03-19 00:18] OrfeasZ commented on #214
Starting with the next update, all game data members that are reserved lua keywords will have `Value` appended to them. For instance, `end` will become `endValue`.

Here is a full list of members this applies to:
[code]

[2017-03-19 00:18] #214 closed, assigned to OrfeasZ

[2017-03-19 00:18] OrfeasZ commented on #202
This should be fixed in the upcoming update.

[2017-03-19 00:18] #202 closed, assigned to OrfeasZ

[2017-03-19 00:22] OrfeasZ commented on #177
Further research suggests that this is caused by a hit registering more than once while the bullet is travelling through a player's body, due to the increased update rate.

[2017-03-19 00:25] OrfeasZ commented on #118
Will focus on #192 as the main issue for this enhancement.

[2017-03-19 00:25] #118 closed, assigned to nobody

[2017-03-19 05:43] OrfeasZ commented on #222
After the next update prints and events related to a specific VeniceEXT module will contain its name as seen below:
![](http://i.nofate.me/S2FLz1nTS4.png)
![](http://i.nofate.me/S4YkTlcCNF.png)

[2017-03-19 05:43] #222 closed, assigned to nobody

[2017-03-20 13:55] kiwidoggie commented on #177
See: http://www.youtube.com/watch?v=3vDOC1V6GM8
Looks similar.

[2017-03-22 14:03] kiwidoggie commented on #166
This seems to have been fixed and will roll out with the new update. If this issue occurs after the new update (which hasn't come out yet) please re-open this ticket.

http://i.imgur.com/TmzsbaO.jpg

[2017-04-18 18:37] Powback commented on #214
Also applies to out, as seen in
BandPassFir64NodeData
CompressorNodeData
CrossfaderNodeData
DataGetNode
etc.

Also for repeat as seen in AwardData.

[2017-04-26 00:30] OrfeasZ commented on #214
@Powback apparently I didn't type in the whole list. Here's what it looks like right now:

[code]

[2017-06-01 16:36] Powback opened #223 "[REQ] Cloning instances."
Usage (ish):
[code]

The idea is that you can duplicate an instance and modify it without modifying the original instance.

[2017-06-05 20:28] Powback opened #224 "[REQ] Spawn player at position X with loadout Y"
Should create a SoldierEntity at position X with loadout Y
Position should be a LinearTransform.
Loadout should be an array of CustomizeSoldierData or whatever's used for loadout.
[code]

The goal is to completely remove the spawn UI and spawn the player with a custom UI.
I'm not sure how this would affect the existing spawnpoints, but as long as we're able to select the weapons you deploy with, i

[2017-06-05 20:29] Powback opened #225 "[REQ] Frostbite messages: Get whoever sent the message"
Frostbite uses a message system for pretty much everything.

I would like to know whoever sent said message where applicable on the server.

[2017-06-05 22:31] 3ti65 opened #226 "[REQ] New Events and Commands"
Important
--------------------------------------------

Types of some parameters are not always defined due to lack of my knowledge on how its done in bf3.
the commands are something we discussed before, its basically an invoking of stuff that should happen.
for example:
in our custom UI we press spawn, this triggers a netevent, which then is handled in our server lua. There we then want to invoke

[2017-06-05 22:33] 3ti65 commented on #224
kinda redundant as it's featured as one of multiple 'commands' here:

https://github.com/EmulatorNexus/VeniceUnleashed/issues/226

(Although i didnt specify the parameter types)

[2017-06-10 17:02] 3ti65 opened #227 "Using other (Super-)Bundles causing Crash"
Loading/ Mounting (Super-)Bundles crashes both the VU Client and Server on Mapchange or Disconnect. Client crashes instantly and Server once the game is ready. (Powback)
High priority bug since without this fixed it's not feasible to use any game content on other maps than the ones that already have it contained.

[2017-06-13 16:07] Powback opened #228 "[REQ] Access server data in VEXT"
* ServerName (String)
* Playlist (String/array)
* Current map (String)
   * Levels/MP_001/MP_001 or just MP_001
* Current gamemode (String)
   * Conquest_Large
* Current Round (int)
* Round Count (int)
* PlayerCountNeededForMultiplayer (int)

[2017-06-21 13:16] Powback opened #229 "[REQ] get value type from reflection"
Assuming reflection will make it into the next update, it would be nice to retrieve the type of value that the property requires. float, int, vec2, vec3, vec4, SomeClass, Array:SomeClass etc.

[2017-06-27 21:50] Powback commented on #227
Also crashes when you access the settings menu. Under video/keybinds

[2017-07-07 14:48] Powback opened #230 "[REQ] Global mods/Libraries"
Mods that can be accessed by other mods would enhance the modding experience.

MathLib contains several 3D math functions.
If a mod wants to use MathLib, they would have to copypaste the mod and implement it in their own system.
If MathLib gets updated, everyone would have to manually copypaste the new version of MathLib, instead of just updating the MathLib mod.

You know the deal. We need global

[2017-07-12 07:23] 3ti65 opened #231 "Forward EffectManager to vEXT"
As discussed in discord. The Frostbite EffectManager can spawn and play effects. There should be a vEXT EffectManager which can just forward the function calls to the original one.

[2017-07-15 03:53] Powback commented on #231
SoundManager also perhaps?

[2017-07-18 14:53] 3ti65 opened #232 "Allow server sided DLL hosting / HTTP library"
Having no DLLs distributed to client side makes a lot of sense, but on the server side it would be nice to have the ability to call a webservice or actual DLLs. Useful for Mumble integration, having a global ban list service, custom stats and tons of other useful stuff. Since the server admin actually hosts the files, he has full insight on what gets called.

[2017-07-18 15:00] OrfeasZ commented on #232
Networking support will be added to both the server and the client side, exposed via vEXT. That includes raw TCP/UDP (and other protocols) and possibly helpers for HTTP. On top of that, a local storage implementation on the server side will be implemented, with bindings to SQLite.

With that being said, I still don't feel comfortable with enabling the execution of native (non sandboxed) code, even

[2017-07-20 14:38] 3ti65 commented on #232
The things you mentioned should be sufficient. Otherwise we can make a new issue.

[2017-08-07 13:11] #232 closed, assigned to nobody

[2017-08-08 15:11] 3ti65 commented on #156
Don't think this still happens. FoolHen couldn't reproduce.

[2017-08-08 15:12] Powback commented on #156
Related to WebUI I think

[2017-08-08 21:23] 3ti65 commented on #137
https://gfycat.com/gifs/detail/ThirstyBraveAmericancicada

yep

[2017-08-09 21:54] 3ti65 commented on #231
yup would be nice

[2017-08-11 17:41] Powback opened #233 "Replace instances"
To replace instances now we currently have to find whatever referencing the instance and replace the reference.

Allowing us to replace instances directly would make the process easier.

[2017-08-19 22:21] OrfeasZ commented on #228
@Powback instead of implementing all of these separately, would it be preferable to expose an interface to execute RCON commands and get their responses?

[2017-08-19 22:28] Powback commented on #228
I would like to access those with vext in order to do custom loading screens and in game UI, even if it's read-only. Procon access would be a plus.

[2017-08-19 22:29] OrfeasZ commented on #228
You can get most of these via game Settings, which will be exposed via `SettingsManager`.

[2017-08-19 22:32] Powback commented on #228
The primary information I'm looking for is server name, map name, round count and current round. If the rest could be accessed from procon, it would be nice, but I'm not looking for that possibility.

[2017-08-19 22:33] OrfeasZ commented on #228
Procon is a program.

[2017-08-19 22:33] OrfeasZ commented on #228
Also, I don't believe the server name is available from the client.

[2017-08-19 22:34] Powback commented on #228
I am aware. I mean rcon of course. I blame drinks.

[2017-08-19 22:35] Powback commented on #228
Server name should be accessable from client in order to create custom loading screens and general UI information.

[2017-08-19 22:40] OrfeasZ commented on #228
I will not be implementing this. I'll expose an interface on the server to execute rcon commands and then you can take their result and send it to the client using NetEvents. In combination with accessing Settings objects, you should be able to achieve what you're trying to do.

[2017-08-19 22:40] #228 closed, assigned to nobody

[2017-08-19 22:41] OrfeasZ opened #234 "[REQ] Expose SettingsManager to VEXT"

[2017-08-19 22:41] Powback commented on #228
Fair enough. It seems like the better solution.

[2017-08-19 22:42] OrfeasZ opened #235 "[REQ] Expose an RCON interface to VEXT"
Server-side interface. Should allow executing RCON commands from VEXT and retrieving their result as an array of string values.

[2017-08-19 23:02] OrfeasZ commented on #226
@3ti65 some of these are already supported:

`CreateSquad`, `JoinSquad` and `LeaveSquad` can be handled via `player.squadID = SquadId.SquadX`, where `X` is either `None` or `1` through `32`. If the squad doesn't already exist it will be created. If `SquadId.SquadNone` is used, the player will be removed from their current squad.

`Suicide` can be achieved using `player.soldier:Kill(killedByAdmin)`

[2017-08-19 23:05] OrfeasZ commented on #226
Also, `SpawnObject` can be achieved using `EntityManager:CreateClientEntity` or `EntityManager:CreateServerEntity`. Parameters are `DataContainer entityData, LinearTransform transform`. It should be noted that just because you create an entity on the server, it doesn't mean that it will also be created on the client.

[2017-08-19 23:07] OrfeasZ commented on #226
There's also an experimental `player:Spawn(spawnPointEntity, checkSpawnArea)` function that spawns a player at a specific spawn point (`checkSpawnArea` is a bool when set to false will bypass the "safe spawning" checks, ie. spawn point is not being shot at when it's another soldier).

[2017-08-20 02:35] OrfeasZ commented on #229
This is already possible with the new type information system.

Here's a usage example:
[code]

[2017-08-20 02:35] #229 closed, assigned to nobody

[2017-08-20 02:37] OrfeasZ commented on #225
This is not possible.

[2017-08-20 02:37] #225 closed, assigned to nobody

[2017-08-20 02:40] OrfeasZ commented on #223
This is unsafe and will not be implemented for data types.

[2017-08-20 02:40] #223 closed, assigned to nobody

[2017-08-20 02:57] OrfeasZ commented on #234
Usage example:

[code]

Where `ServerSettings` can be any data class that contains `SystemSettings` in its inheritance tree.

[2017-08-20 02:57] #234 closed, assigned to OrfeasZ

[2017-08-20 02:59] OrfeasZ commented on #233
Not sure how possible this is, need to investigate.

[2017-08-20 03:16] OrfeasZ commented on #231
@Powback it looks like you can spawn sound effects by passing a `SoundAsset` to the EffectManager. You'll have to try it once the initial implementation lands.

[2017-08-20 07:50] OrfeasZ commented on #231
EffectManager has been implemented and provides the following functions (very untested):

- `number EffectManager:PlayEffect(DataContainer asset, LinearTransform transform, EffectParams params, bool firstPersonEffect)`
- `EffectManager:StopEffect(number handle)`
- `EffectManager:ResetEffect(number handle)`
- `EffectManager:SetEffectParameterBool(number handle, string name, bool value)`
- `EffectMa

[2017-08-20 07:50] #231 closed, assigned to nobody

[2017-08-21 06:57] Powback opened #236 "[REQ] Client console command registering."
Allow mods to access the client console by registering variables and functions/callbacks that will be executed on the client. The variable should only be passed if the input matches the type of the variable.

It's basically a replacement for kAdmin's chat command implementation.

Usage:

ConsoleManager:RegisterVar(name, variable, (optional) hint)
ConsoleManager:RegisterCallback(name, callback, (op

[2017-08-21 07:06] Powback opened #237 "[REQ] Server roles accessable by vext server side."
Basically a json file that contains roles and users.

RoleManager:GetUsers('role') // returns an array of users under the selected role.

RoleManager:GetUser('username') // returns the user's roles as an string array. If there's no roles for the selected user, the array is empty or nil.

This is used to allow admins to perform admin stuff without using rcon.

[2017-08-21 08:31] OrfeasZ commented on #237
An SQLite interface will be implemented, backed by local file storage. That should be enough to achieve something like this.

[2017-08-21 08:31] #237 closed, assigned to nobody

[2017-08-21 09:37] 3ti65 commented on #226
The player:Spawn should have an overload or a fixed parameter that lets you define a loadout for that player. (Which class, weapon, etc)

Also, it would be nice to have more knowledge on how the loadout / kit thing is handled upon spawn.

[2017-08-22 15:44] 3ti65 commented on #230
Wouldnt it make more sense to just be using those libraries via 'require' ?
Launching several mods parallel makes source control and dependencies alot harder.
But not sure.

[2017-08-22 16:01] Powback opened #238 "Uppercase letter in modlist.txt or in vu.modlist.add causes NetEvents to not work"
Example:
[code]
NetEvents won't reach the server or client.

[code]
NetEvents works properly.

[2017-08-22 16:34] Powback commented on #238
I suggest that all mod inputs are converted to lowercase. That way you can remove mods without typing the correct case, as well as avoiding issues like this. The print messages should still contain the correct case.

[2017-08-23 14:02] 3ti65 commented on #238
@OrfeasZ  testmod can be downloaded in discord: VU /modders -> pinned message

[2017-08-23 21:28] 3ti65 opened #239 "Add setter to SoldierEntityData.Health"
The property .health on the SoldierEntityData in VU is readonly. Would be nice to have a public setter, e.g. to create a bleed out effect.

[2017-08-25 15:14] Powback commented on #230
Yes, basically lua libraries that can be accessed via require.

[2017-08-28 03:44] kiwidoggie commented on #239
This has been implemented in `SoldierEntity.health` on server in build 12209.

[2017-08-28 07:29] Powback opened #240 "[REQ] Additional raycast features"
Raycast:Ray(Lineartransform start, Lineartransform Direction, float distance, ?RigidBodyCollisionLayer layer, ) // Returns nil or a Hit class

Hit class:
Vector3 point // the hit point transform
LinearTransform normal // the normal of the surface hit + point
Float distance // the distance between start and point, for ease of access
Entity entity // nil or hit entity
Vector3 transform // the transf

[2017-08-28 08:46] 3ti65 commented on #227
https://mega.nz/#!Vgx3ETDJ!LNv2gOLeEfHhSkgR7cC1PRQ5YZ_OcWp_u64PnG92WXs

DL link for the bundlecrash test mod. Same as linked by Powback in Discord before.

[2017-08-28 09:18] OrfeasZ commented on #240
What's `RigidBodyCollisionLayer` supposed to represent?

[2017-08-28 09:36] Powback commented on #240
Not sure if RigidbodyCollisionLayer is the correct term, but there should be certain layers that the raycast can hit.

Like invisible walls that bullets can pass through, but not players. This is not really an important parameter, but it would be nice if it was included.

    enum RigidBodyCollisionLayer {
	RigidBodyCollisionLayer_Invalid = 0,
	RigidBodyCollisionLayer_VehicleLayer = 1,
	RigidBodyC

[2017-08-28 09:39] Powback commented on #227
I should note that only the client crashes in the linked mod iirc.

[2017-08-28 09:51] OrfeasZ commented on #227
Are there documented instances of the server crashing?

[2017-08-28 09:58] Powback commented on #227
I haven't experienced server crashes related to bundlemounting after the update.

[2017-08-29 09:33] #224 closed, assigned to nobody

[2017-08-29 09:33] Powback commented on #224
Duplicate request

[2017-08-30 07:34] 3ti65 commented on #226
@kiwidoggie
Added:
Player:FiremodeChanged(player, enum fireMode)

Renamed:
Player:ChangeWeapon -> Player:WeaponChanged

The FireModeChanged event could be clientside only probably. Just need that for the UI.

[2017-09-05 17:21] FoolHen opened #241 "Accessing name or typeName of UnlockAsset crashes server in some maps"
Working map example: XP2_Skybar TeamDeathMatchC0 2
Not working map example: MP_Subway ConquestLarge0 2

UnlockAsset.name or UnlockAsset.typeName crashes the server on some maps. UnlockAsset.debugUnlockId works, but when printing its value sometimes prints random characters on those maps.
[test.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1406919/test.zip)

[2017-09-11 14:20] FoolHen opened #242 "Input:PreUpdate with readinstance on shared crashes client"
Hooking Input:PreUpdate on client and having Partition:ReadInstance event on shared crashes the client.
Seems to be just this hook. If you remove Partition:ReadInstance it works fine, as it does in bfjumper. This is using new hook system
[hookcrash.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1292829/hookcrash.zip)

[2017-09-18 18:56] Powback opened #243 "soldier:SetPosition(Vec3) resets the vertical rotation of the camera."
The horizontal rotation is kept, but the vertical rotation gets reset.

edit:
The best would be to not touch the rotation, as it causes jitter when it's called rapidly.

[2017-09-19 11:37] Powback commented on #243
Preferably:
SetRotation(LinearTransform) // ignores trans, client and sever
SetPosition(Vec3) // only sets the pos, not touching rotation, server only
SetTransform(LinearTransform) // sets everything, server only

[2017-09-21 13:49] 3ti65 commented on #226
added Hook:

Client:UpdateInput(entryInput)

we might need this parallel to the event but as a hook, e.g. to stop certain players from pressing certain buttons. (to prevent bunnyhopping etc)

[2017-10-14 03:53] OrfeasZ commented on #226
Build 12211 contains the following events:
- Player:SetSquad(player, squad)
- Player:SetSquadLeader(player)
- Player:KickedFromSquad(player, oldSquad)

[2017-10-14 04:51] OrfeasZ commented on #226
Build 12214 adds:
- Server:RoundReset
- Player:KitReplaced(player, oldSoldier, newSoldier)
- CapturePoint:Captured(capturePointEntity)
- CapturePoint:Lost(capturePointEntity)
- Vehicle:Enter(vehicleEntity, player)
- Vehicle:Exit(vehicleEntity, player)
- Vehicle:Damage(vehicleEntity, damageDone)
- Vehicle:Destroyed(vehicleEntity, vehiclePoints, hotTeam)
- Vehicle:Disabled(vehicleEntity)
- Vehicle:S

[2017-10-14 05:28] OrfeasZ commented on #238
This should be fixed in build 12215.

[2017-10-14 05:28] #238 closed, assigned to nobody

[2017-10-16 06:56] Powback opened #244 "InputManager:(WentDown, WentUp, IsDown) only works for a few InputConcepts"
Most of the input concepts does not trigger when using InputManager:WentDown, WentUp, IsDown.
The list below is not 100% accurate in terms of what's working and not, but it should give an approximation of the missing functionality.

Debug mod (Not sure if it still works): http://powback.com/u/59e458040814e.7z

Concepts that does trigger:

[code]

Concepts that doesn't trigger:

[code]

[2017-10-16 07:02] Powback opened #245 "WebUI Flickering"
The issue seems to be triggered when a WebUI redraw is called. This includes CSS transitions/Animations or if something on the webpage is changed. (Adding/Removing text).

This can also be seen in the new console.

Examples:
[Example1](https://gfycat.com/hardtofindlightblesbok)
[Example2](http://powback.com/u/59e0f0db3bc18.webm)

[2017-10-16 07:33] Powback opened #246 "Reimplement WorldToScreen"
WorldToScreen was removed sometime between the public and the development branch.

Additionally, a ScreenToWorld method would be appreciated.(Raycast from cursor into game world)

[2017-10-16 07:49] Powback opened #247 "config.json like system for mod configurations."
Each mod should have access to a config file that's located somewhere in the server directory. With an easily accessable key getter/setter.

Eg. TestMod should have read/write access to Server/Configuration/testmod.json.

[code]
[code]
This is not to be confused with an database-like system as discussed before.

It's intended to be used as a way to store mod configurations without having to modify

[2017-10-16 19:02] OrfeasZ commented on #245
Can you provide a very simple sample that reproduces this?

[2017-10-16 20:26] OrfeasZ commented on #246
This has been re-added in build 12220.

[2017-10-16 20:26] #246 closed, assigned to nobody

[2017-10-17 00:14] FoolHen commented on #245
@OrfeasZ
[flickertest.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1389356/flickertest.zip)
Just a simple button, if you hover over it, you can see that a duplicate flickers at the middle left of the screen.
I couldn't replicate it with more stuff, but it's happening a lot in our custom UI

[2017-10-17 09:33] FoolHen commented on #239
@kiwidoggie it works, but it doesn't update the client. Only when you heal/take damage your health is updated.

[2017-10-17 14:24] 3ti65 commented on #239
Might wanna reopen this, since the client should be up to date at all times. UI, Sound, etc is all influenced by the client health.

[2017-10-19 12:43] 3ti65 commented on #226
removed hook 'Client:UpdateInput(entryInput)' since its already covered by 'Input:PreUpdate'.

[2017-10-19 12:56] FoolHen commented on #242
Also, and most likely related, p_Hook:Pass() crashes the client too even without modifying its arguments. Seems like it only happens with this hook too

[2017-10-22 15:50] OrfeasZ commented on #242
This should be fixed as of build 12229. If it's not let me know and I'll re-open the issue.

[2017-10-22 15:50] #242 closed, assigned to nobody

[2017-10-22 16:01] OrfeasZ commented on #241
Fixed in build 12229

[2017-10-23 06:26] Powback commented on #244
Fool mentioned that all of these works with Input:PreUpdate.

They should still be able work outside that hook though.

[2017-10-23 06:27] Powback commented on #245
To add to this. If you create a dropdown menu, the options will not appear. I'm not sure if this worked prior to the update.

[2017-10-23 11:42] FoolHen commented on #241
Still same problem with MP_Subway ConquestLarge0 2 using that same mod. (Btw, updated test.zip as it had a semicolon at the end of the json file)

[2017-10-23 19:26] FoolHen opened #248 "Memory corruption in VEXT"
These are some issues I found, some are new from 12229 update and some from before:

-  Some client hooks crash the client when calling hook:Pass() (both with modified arguments and original ones)
**Hooks that cause crashes:**
UI:PushScreen
Input:PreUpdate
ClientEntityFactory:Create
**Hooks that work fine:**
UI:EnableCursorMode
UI:CreateChatMessage

- Hooking UI:InputConceptEvent causes crash.

-

[2017-10-24 14:18] 3ti65 commented on #245
In addition to what Powback wrote, the sliders (e.g. from Pow's Cinematic Tools) are no longer usable after the most recent update.

[2017-10-24 17:59] 3ti65 commented on #226
Player:KitReplaced(player, oldSoldier, newSoldier) --doesnt work
    CapturePoint:Captured(capturePointEntity) --doesnt work
    CapturePoint:Lost(capturePointEntity) --doesnt work
    Vehicle:Enter(vehicleEntity, player) --doesnt work
    Vehicle:Exit(vehicleEntity, player) --doesnt work
    Vehicle:Damage(vehicleEntity, damageDone) --doesnt work
    Vehicle:Destroyed(vehicleEntity, vehiclePoints

[2017-10-25 14:27] FoolHen commented on #245
Added a slider:
[flickertest.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1414907/flickertest.zip)

[2017-10-27 15:24] 3ti65 opened #249 "[Feature Request] Better Squadleader Management"
As a creator of client and server vEXT mods, i want to be able to easily distinguish between normal players and players asigned as squadleaders. As of now, theres no simple way of getting the information, whether a player is a squadleader or not.

Therefore, as discussed on the meeting, we want an enhancement on the player object that can be retrieved through the PlayerManager. A simple readonly b

[2017-10-27 15:49] 3ti65 opened #250 "[Feature Request] Ability to spawn any blueprint at linear transform"
As a creator of client and server vEXT mods, i want to be able to spawn any blueprint at a certain linear transform.

Use cases:

- Spawning objects (buildings, objects, ...)
- Spawning vehicles

[2017-10-27 22:31] 3ti65 opened #251 "[Feature Request] Ability to give any player a certain SoldierBlueprint"
As a creator of client and server vEXT mods, i want to be able to equip any given player with a certain loadout.

As discussed in the meeting, the best way is to have a property on the player object; 'SelectedKit', that can be used to get and set the player's SoldierBlueprint.

[2017-10-30 09:54] 3ti65 opened #252 "[Feature Request] Implement player.soldier.data"
Implement a way to get the data of the player.soldier

=> player.soldier.data

[2017-11-08 14:31] OrfeasZ commented on #230
I've been thinking about this. First of all, the way it would work is that a global mod would get loaded individually for every other mod, meaning it will maintain its own state per mod. Now, the problem this introduces is that a global mod will be able to essentially "hijack" any other mod, by registering custom hooks or events, listening to local (net)events, etc, which could pose a small securi

[2017-11-08 14:34] OrfeasZ commented on #248
Fixed in build 12236

[2017-11-08 14:34] OrfeasZ commented on #249
Build 12236 introduces the field `player.isSquadLeader`.

[2017-11-08 14:34] #249 closed, assigned to nobody

[2017-11-08 14:35] OrfeasZ commented on #252
Build 12239 introduces the field `player.soldier.data`.

[2017-11-08 14:35] #252 closed, assigned to nobody

[2017-11-08 14:35] OrfeasZ commented on #239
Should be fixed in build 12239.

[2017-11-08 16:05] OrfeasZ commented on #250
Build 12241 introduces the following methods:
- `EntityManager:CreateClientEntitiesFromBlueprint(blueprint, transform)`
- `EntityManager:CreateServerEntitiesFromBlueprint(blueprint, transform)`

Both these functions return an iterable list of entities.

[2017-11-08 16:05] #250 closed, assigned to nobody

[2017-11-09 12:57] FoolHen commented on #248
@OrfeasZ
All seem to be fixed except calling hook:Pass(p_Cache, p_DeltaTime) on Input:PreUpdate

[2017-11-09 12:57] FoolHen commented on #239
@OrfeasZ
Now it crashes the server when you modify its value

[2017-11-09 17:38] OrfeasZ commented on #248
@Raikem this seems to be an implementation issue with how this specific hook manages argument passing. Will be fixed soon.

[2017-11-09 17:39] OrfeasZ commented on #239
@Raikem does it always crash or does it crash under specific conditions? Can you provide a test mod that causes this crash?

[2017-11-09 17:51] FoolHen commented on #239
Seem to crash always
[healthmod.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1458654/healthmod.zip)
type your new health in chat

[2017-11-09 23:04] OrfeasZ commented on #239
This has been fixed (fully and finally) in build 12248.

This build also includes another addition to the server soldier, allowing the direct application of damage. The usage is:
[code]

Where `damageInfo` is a `ServerDamageInfo` object. The `ServerDamageInfo` class exposes the following properties:
- position (Vec3)
- direction (Vec3)
- origin (Vec3)
- damage (float)
- distributeDamageOverTime (f

[2017-11-10 00:48] OrfeasZ commented on #248
The `Input:PreUpdate` hook issue has been fixed in build 12251. Usage example:

[code]

[2017-11-10 00:48] #248 closed, assigned to nobody

[2017-11-10 17:44] FoolHen commented on #239
@OrfeasZ
Changing soldier.health doesn't work (tho it doesn't crash anymore).
Creating a ServerDamageInfo object, even if its empty, crashes the server most of the time. When it doesn't crash, soldier:ApplyDamage(damageInfo) works fine.
[healthmod.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1462206/healthmod.zip)

[2017-11-10 18:06] OrfeasZ commented on #239
That's odd, I can't reproduce locally.

[2017-11-10 18:07] OrfeasZ commented on #239
@Raikem can you capture one of these crashes and send me a dump?

[2017-11-10 21:51] OrfeasZ commented on #245
Fixed in build 12253.

[2017-11-10 21:51] #245 closed, assigned to nobody

[2017-11-13 15:49] Powback opened #253 "[Urgent] Driver crash - GetDeviceRemovedReason"
After the latest update, I've been getting this crash message frequently, to the point where it's impossible to use VU.
http://powback.com/u/5a09be93c19f3.png

Happens if I open the console, launch the game or sign in, join game, spawn. Seems semi-random.

[2017-11-20 10:27] FoolHen opened #254 "Crash dumps not generated"
Crashes don't create dumps since 2-3 months ago. E.g. [issue 241](https://github.com/EmulatorNexus/VeniceUnleashed/issues/241) and [issue 239.](https://github.com/EmulatorNexus/VeniceUnleashed/issues/239)

[2017-11-30 22:30] 3ti65 commented on #253
same crash here. happens after a couple of seconds ingame, everytime. only started happening after one of the recent updates. effectively cant work on VU anymore until this is fixed. :(

[2017-11-30 22:33] 3ti65 commented on #253
doesnt happen to foolhen. he's got an AMD card. nVidia related then. pls fix

[2017-12-04 12:36] FoolHen commented on #239
@OrfeasZ Newest update created a crash dump, here it is
[90938746-4027-44ba-b220-f8b333fd575b.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1527018/90938746-4027-44ba-b220-f8b333fd575b.zip)

Also you might want to reopen this issue.

[2017-12-04 16:11] OrfeasZ commented on #254
This should be fixed now.

[2017-12-04 16:11] #254 closed, assigned to nobody

[2017-12-08 02:53] kiwidoggie commented on #243
This has been added in Build 12264. `SoldierEntity:SetTransform(transform, updateAiming)`

[2017-12-14 14:17] FoolHen commented on #249
@OrfeasZ can you make it writable on server? I don't think there is a way to change SL right now.

[2017-12-14 15:05] 3ti65 commented on #253
fixed in 12277

[2017-12-14 15:12] #253 closed, assigned to kiwidoggie

[2017-12-14 15:13] OrfeasZ commented on #227
@3ti65 @Powback does this still happen?

[2017-12-14 23:07] FoolHen opened #255 "Passing Vec3 through netevents is not being properly serialized"
Passing Vec3 through netevents it's not consistent, sometimes the vec3 received is (0,0,0)

[2017-12-16 17:35] Powback commented on #227
@OrfeasZ Yes. Changing map after loading bundles causes the client to crash. The server seems fine however.

Replicated by the mod above.
Steps:
Start server
Join server
Change map using procon. -> Client crash

[2017-12-19 16:31] Powback commented on #227
Can also be demonstrated by entering the video settings.

Edit: Unrelated issue.

[2017-12-27 12:08] #251 closed, assigned to nobody

[2017-12-27 12:24] OrfeasZ commented on #240
Here are the different ray casting flags available (they can be combined):
[code]

Are these enough for what you're trying to do?

[2017-12-27 15:59] Powback opened #256 "Manipulate soldier loadout while player is alive"
Soldier loadout should be modifyable while the soldier is alive.

Same thing as when you equip a dropped loadout.

[2017-12-27 17:59] Powback opened #257 "Accessing video settings crashes the client"
OS: Microsoft Windows [Version 10.0.16299.125]
GPU: Nvidia GTX 1080
Processor: Intel i7 8700k @ 4.5GHz

Build: 12316
Map: Any
Mods: None
Crash dump: None

How to reproduce:
Press escape
Options
Video Settings
Crash

Not sure how long this has been happening, but I believe it was working July 16th, when I created a mod that affected some sliders inside the video settings.

Steps taken:
Reinstalled

[2017-12-27 18:03] #255 closed, assigned to nobody

[2017-12-28 11:55] FoolHen opened #258 "[Req] Allow fine-grained control over weapon recoil"
When you fire a weapon, the camera returns to the starting position. For PR we want to eliminate this: the camera should stay where the recoil puts you, so the weapon handling is more skill-based.
We tried setting RecoilAmplitudeDecreaseFactor to 0 in /Weapons/M16A4/M16A4_Gunsway.txt and although it works, the roll rotation isn't reset and the min and max pitch angle of the camera is changed, so e

[2017-12-28 16:48] OrfeasZ commented on #235
This has been implemented in build 12316, along with the ability to register custom RCON commands.

Example mod: https://i.nofate.me/hK0gROlZGdk3MAu5.zip

[2017-12-28 16:48] #235 closed, assigned to OrfeasZ

[2017-12-28 17:01] OrfeasZ commented on #257
@Powback have you tried deleting your save profile (`Documents/Battlefield 3/settings`)?

[2017-12-28 17:02] Powback commented on #257
Yes, that's what I mean by reset settings,

[2017-12-28 17:03] OrfeasZ commented on #257
@Powback does this also happen on the main branch or the vanilla game?

[2017-12-28 17:16] Powback commented on #257
Happens on the main branch too.
Does not happen in the vanilla game.
Modifying the settings in vanilla and then accessing it in VU still replicates the crash.

[2017-12-28 17:17] Powback commented on #257
Settings in case it should be relevant: http://powback.com/u/dfc432b6dde414ccc6f49d04fd5f7ec9.7z

[2017-12-28 17:35] OrfeasZ commented on #257
This smells like a driver issue. Can you enable D3D10/11 debugging, attach a debugger to VU (ie. using Visual Studio) and capture the debug output? You can enable debugging from the DirectX Control Panel. You might have to download the DXSDK to get that.

![](http://i.nofate.me/eVlyfLVa.png)

![](http://i.nofate.me/XphH5KCQ.png)

[2017-12-28 17:48] Powback commented on #257
Crashes with the exception "Exception thrown at 0x00495760 in vu.exe: 0xC0000005: Access violation reading location 0x00000014. occurred"

Not sure if I did it correctly.

[2017-12-28 19:06] 3ti65 opened #259 "Issue with the player:SelectWeapon function"
Setting multiple weapons with the player:SelectWeapon function works fine basically, however there are some issues:

This works: (starting with WeaponSlot_0 and iterate up)

`player:SelectWeapon(WeaponSlot.WeaponSlot_0, pistol, { })
player:SelectWeapon(WeaponSlot.WeaponSlot_1, weapon, { weaponAtt0, weaponAtt1 })`

This only adds the pistol:

`player:SelectWeapon(WeaponSlot.WeaponSlot_1, weapon, {

[2017-12-30 15:39] #259 closed, assigned to nobody

[2017-12-30 15:39] OrfeasZ commented on #259
This is expected behavior. Setting a weapon on slot 0 clears all other slots.

[2017-12-30 15:44] #137 closed, assigned to nobody

[2017-12-30 15:44] OrfeasZ commented on #137
This is an issue with the physics engine and cannot be fixed.

[2017-12-30 15:56] 3ti65 opened #260 "[Bug] Problem with weapon slot selection via number buttons"
By default you can select weapons with the buttons 1-x.

I assigned the following weapons to the slots:

`player:SelectWeapon(WeaponSlot.WeaponSlot_0, weapon, { weaponAtt0, weaponAtt1 })
player:SelectWeapon(WeaponSlot.WeaponSlot_1, pistol, { })
player:SelectWeapon(WeaponSlot.WeaponSlot_2, knife, { })
player:SelectWeapon(WeaponSlot.WeaponSlot_3, grenade, { })`

Now here's the weird bahavior:

Press

[2017-12-30 16:05] OrfeasZ commented on #260
The weapon selection call in VEXT does not make any assumptions about how weapon slots are managed. It maps 1-to-1 to the internal engine implementation.

[2017-12-30 16:08] 3ti65 commented on #260
can u check if its set correctly? or any educated guess on why this happens?

webm:
https://gfycat.com/AcidicAromaticArgali

[2017-12-30 16:12] OrfeasZ commented on #260
I'll take a look.

[2017-12-30 16:28] 3ti65 commented on #260
Spawning a kit 'manually' will not result in the same behavior, instead it will work as one would expect it to work.

Key - Slot mapping is 1:1 when spawned manually.

[2017-12-30 16:42] kiwidoggie commented on #240
This has been implemented in 12320

Client:
`RayCastHit RaycastManager:Racast(Vec3 from, Vec3 to, flags)`
`Entity RaycastManager:GetEntityInRaycast(float distance)`

[2017-12-30 16:45] #240 closed, assigned to nobody

[2017-12-30 17:18] 3ti65 commented on #258
i'd change the title to

"remove the silly recoil reset"

[2017-12-30 17:19] 3ti65 opened #261 "player.soldier:GetWeaponNameByIndex(i) crash"
When using a index that is out of range, this function crashes the server. (when executed on server)

should not crash but instead print an error.

[2017-12-30 17:21] 3ti65 commented on #46
probably could close this because its a vanilla issue and who the fuck cares.

[2017-12-31 11:37] FoolHen opened #262 "TeamSquadManager:GetSquadPlayerCount() crashes server"
Calling  TeamSquadManager:GetSquadPlayerCount( TeamID, SquadID) causes a crash. It was working fine before recent updates.

exception code: 0xC0000005
exception info: The thread tried to read from or write to a virtual address for which it does not have the appropriate access

Crash dump:
[778002a6-7136-41fe-ac8b-554135c6db9e.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1595148/7780

[2017-12-31 11:45] OrfeasZ commented on #261
Please provide a mod and loadout configuration that replicates this issue.

[2017-12-31 11:45] OrfeasZ commented on #262
This should be fixed in build 12324.

[2017-12-31 11:45] #262 closed, assigned to nobody

[2017-12-31 11:46] #46 closed, assigned to nobody

[2017-12-31 15:46] kiwidoggie commented on #261
Should be fixed in build 12321 (pending push).

[2017-12-31 15:46] #261 closed, assigned to kiwidoggie

[2017-12-31 15:55] kiwidoggie commented on #257
I cannot reproduce on my end. Just to ensure we are talking about the same thing; you mean

![image](https://user-images.githubusercontent.com/9152262/34462776-f3f96210-edff-11e7-8aa8-fce2172b429e.png)
This screen?

[2017-12-31 16:09] kiwidoggie commented on #244
This has to be done this way due to engine limitations, we may revisit this at a future date but it is not a priority.

[2017-12-31 16:09] #244 closed, assigned to nobody

[2017-12-31 16:10] 3ti65 commented on #261
Tested, crash no longer appears.

[2017-12-31 16:10] 3ti65 commented on #255
has this been fixed?

[2017-12-31 16:12] Powback commented on #257
That's correct. Happened before and after a complete windows wipe.

I'll check if the same happens after a reinstall when I have time.

[2017-12-31 16:20] 3ti65 commented on #261
Edit:

Still appears to crash under certain circumstances. Trying to narrow it down, but here's the crashdump:

[GetWeaponNameByIndexCrashDump.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1595287/GetWeaponNameByIndexCrashDump.zip)

Reopen for now

[2017-12-31 16:25] 3ti65 commented on #261
https://i.imgur.com/jccbKTl.png

seems to crash (sometimes) after the last existing weaponslot

[2017-12-31 16:35] 3ti65 commented on #261
[GetWeaponNameByIndexCrashTestMod.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1595296/GetWeaponNameByIndexCrashTestMod.zip)

Testmod attached.
Steps to reproduce:
- spawn with writing in chat 'spawn'
- after landing write in chat 'debug'

-> server crashes. check server debug console to see the same as the pic provided in last comment.

[2018-01-01 12:48] FoolHen commented on #239
@kiwidoggie can you try to replicate it? Keep typing "test" in chat until it crashes, sometimes it happens the first try and sometimes the 4th or 5th time.

[2018-01-02 01:33] Powback commented on #139
This issue can be fixed with the following mod:

[code]

Bullets spawn 1:1 with vanilla in high120.

In high60, the bullets spawn a little bit futher ahead, but it's not noticeable. I've also tried values between 0.03 and 0.04, but haven't been able to replicate the vanilla bulletspawn. 0.04 comes the closest, and also fixes the bullets spawning in your face with certain guns.

This can be impleme

[2018-01-02 01:54] Powback commented on #257
Repairing BF3 through Origin solved the issue. Not sure why it persisted in VU and not vanilla.

[2018-01-02 04:37] Powback opened #263 "[REQ] Soldier:GetCameraRotation, Soldier:GetCameraTransform"
We currently have SoldierEntity:GetCameraPosition. Getting the camera rotation and transform would be helpful as well.

[2018-01-03 16:23] #257 closed, assigned to nobody

[2018-01-05 00:53] FoolHen opened #264 "[Req] Way to know if member of an instance is null"
Say we have:
[code]

As `EquipmentType`  is null, accesing it crashes the server.

[code]

AFAIK there is no way to tell if `EquipmentType` is null. A way to know if it is would be useful as automated iterations through instance members causes crashes. I'm trying to copy an instance automatically and this crash makes it impossible.

[2018-01-06 17:54] kiwidoggie commented on #264
`if s_Instance.equipmentType == nil then end`

[2018-01-06 18:27] FoolHen commented on #264
@kiwidoggie Its not nil tho, that's why I posted this issue.
If you do ``print(s_Instance.equipmentType)`` the server closes. If you do ``print(tostring(s_Instance.equipmentType))
`` the output is ``sol.sol::detail::unique_usertype<VeniceEXT::Classes::Shared::AIVehicleBehaviourData>: 0E169580``.
Also if you do ``print(eq.name)`` it closes too.

[2018-01-11 08:38] Powback opened #265 "[REQ] Equals operator for instances."
A way to check if one instance is equal to another instance.

[2018-01-11 08:42] Powback opened #266 "[REQ] ScreenToWorld"
SharedUtils:ScreenToWorld(Vec3( MousePos.X, MousePos.Y, Camera.NearClipplingPlane) // Returns Vec3.

Combining this with RayCast can give us some interesting usage.

[2018-01-11 18:05] 3ti65 opened #267 "[REQ] Implement a Rotation Property on LinearTransform"
In a lot of cases, we're gonna need the rotation of some object. To simplify things and to keep all the modders from having to implement their own rotation calculation, we'd like to have a property on the LinearTransform class, which allows one to read out the current rotation as an euler angles.

As an example you could get a soldiers rotation by using:

player.soldier.transform.rotation

Suggest

[2018-01-11 18:09] 3ti65 opened #268 "[Crash] Crash with corrupted banlist.txt"
VU Server crashes on start up. Crash dump here:

[b0e1cdee-c6d5-49e8-9e7e-c1c44bd5aec7.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1623645/b0e1cdee-c6d5-49e8-9e7e-c1c44bd5aec7.zip)

Server Console Log:

https://media.discordapp.net/attachments/400284286625906698/400813421802815488/2018-01-11_01_49_49-Battlefield_3TM_Server.png

EDIT: This is caused by writing stupid stuff into the

[2018-01-11 18:14] 3ti65 commented on #260
Scrollwheel works as expected, only the buttons mapping is messed up.

[2018-01-11 18:20] 3ti65 opened #269 "[Crash] Different crashes when spawning buildings with vEXT"
When spawning objects with vEXT, there's a felt 30% chance that it will crash.

-snip-

[2018-01-12 07:56] Powback commented on #260
I can verify the issue.
Scrollwheel selects the weapons as intended.

If I remember correctly:

Input:
1,3 = 4
2,3 = 3
1,4 = 3
2,4 = 4

[2018-01-12 16:18] 3ti65 commented on #260
sometimes its also:

1 = 1
2 = 2
3 = 5
4 = 5

I'll include a testmod on the weekend.

[2018-01-12 18:54] 3ti65 opened #270 "[Crash] Crash when starting VU server with a DLC map without having that DLC installed"
Server crashes when checking for client updates.
Doesn't matter if a mod loaded or not.

Crashdump:
[CrashdumpVUServerStartupCrash.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1627135/CrashdumpVUServerStartupCrash.zip)

[2018-01-15 12:00] Powback commented on #214
@OrfeasZ These modified values are not reflected in TypeInfo, so iterating through fog will still return end instead of endValue.

[2018-01-17 10:22] 3ti65 commented on #239
Please reopen this issue as its still not fixed.

[2018-01-17 21:21] 3ti65 opened #271 "[Bug] Frostbite primitives (Guid, Vec3, etc) passed through netevents are not being serialized properly"
Same as the Vec3 recently, Guids are not properly working for some reason.

[2018-01-18 01:19] 3ti65 opened #272 "[Crash] Problem with spawning ObjectBlueprints"
Spawning ObjectBlueprints on client and server crashes the client when the client leaves the server.
No crashdump generated.

[2018-01-18 21:23] Powback commented on #269
Models disappearing is caused be garbage collection.
Adding the spawned objects into a member table solves the disappearing issue.

[2018-01-20 03:00] 3ti65 commented on #270
Cause of this particular crash was starting up a map of a DLC that was missing.
A dedicated error message should be prompted informing the user of him lacking the DLC.

Possibly also implement a way for the mod.json file to list DLCs needed to work with them.

[2018-01-20 15:34] 3ti65 commented on #260
Testmod attached in the original post

[2018-01-20 18:38] OrfeasZ commented on #230
After careful consideration I've decided that I won't be implementing this. If for some reason in the future this becomes highly requested I will reconsider.

[2018-01-20 18:38] #230 closed, assigned to nobody

[2018-01-20 18:38] OrfeasZ commented on #272
Please provide a reproduction case

[2018-01-20 18:46] 3ti65 commented on #271
LinearTransforms also dont get serialized properly, and Vec3 still does not work. There was a seperate bug for Vec3s, it's currently closed but should be reopened. Imma link it.

[2018-01-20 18:47] 3ti65 commented on #255
This is still not working properly, reopen pls.

[2018-01-20 18:48] OrfeasZ commented on #271
I won't be re-opening the other issue. I've renamed this to make it more generic.

[2018-01-20 18:49] 3ti65 commented on #271
Alright makes more sense.

Strings seem to work perfectly though.

[2018-01-20 18:49] OrfeasZ commented on #271
Strings are just strings, not a Frostbite type.

[2018-01-20 19:03] kiwidoggie commented on #268
This has been fixed in build 12332

[2018-01-20 19:03] #268 closed, assigned to kiwidoggie

[2018-01-20 19:17] kiwidoggie commented on #263
`Player:GetCameraTransform()` has been added in build 12333

[2018-01-20 19:40] kiwidoggie commented on #169
This bug should have been fixed with the new WebUI version, if anyone else has issues feel free to message to re-open.

[2018-01-20 19:40] #169 closed, assigned to kiwidoggie

[2018-01-20 22:03] 3ti65 commented on #272
[ObjectSpawnTest.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1649312/ObjectSpawnTest.zip)

Steps to reproduce:

1. Start up map:
XP3_Shield ConquestLarge0 2

2. Spawn in and type in chat:
'spawn1'

This should have spawned a building on top of you. If not, something is wrong with the testmod or its execution.

3. Press ESC and click on Leave or whatever its called in English. The o

[2018-01-20 22:05] OrfeasZ commented on #264
Fixed in build 12337.

[2018-01-20 22:05] #264 closed, assigned to OrfeasZ

[2018-01-20 22:11] 3ti65 commented on #269
EDIT:

Some of the crashes were related to wrong serialization of frostbite types sent over netevents.
Some crashes were probably related to the garbage collector thing if the entity is not saved as member variable or in a table.

However there's still a crash when spawning some objects which crashes both client and server. Here's the testmod replicating the issue:

[ObjectSpawnTest.zip](https://g

[2018-01-20 22:41] OrfeasZ commented on #265
Implemented in build 12337. Keep in mind that you can only compare DataContainer (and derived) types.

[2018-01-20 22:41] #265 closed, assigned to OrfeasZ

[2018-01-21 02:21] OrfeasZ commented on #269
All of these have been fixed in build 12354. The reason spawn3 causes a crash is because it only needs to be spawned on the server as a networked entity:

[code]

Notice the `true` parameter.

[2018-01-21 02:21] #269 closed, assigned to kiwidoggie

[2018-01-21 02:34] OrfeasZ commented on #272
This seems to be related to decals in some way. Can you try spawning a standalone decal entity and see if it still crashes on exit?

[2018-01-21 02:41] 3ti65 opened #273 "[Req] Implement equals operator '==' for different types"
Could be nice to be able to compare the following types with an equals operator '==':

- LinearTransform
- Entity
- AxisAlignedBox
- Player
- SoldierEntity

[2018-01-21 07:28] 3ti65 commented on #271
[NetEventsParamsTest.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1649588/NetEventsParamsTest.zip)

Above is a Unit Test Mod for testing the sending of the following types over NetEvents (Both Client -> Server and Server -> Client):

- Guid
- Vec2
- Vec3
- Vec4
- LinearTransform

How to:

Type in chat 'clientserver' for Client -> Server.
Type in chat 'serverclient' for Server -> Cli

[2018-01-21 13:47] OrfeasZ commented on #241
This is fixed in build 12374. This is a special case of instances where some fields that are references to other instances are very lazy-loaded by the engine, and therefore require a more complex access path. In this case, upon initial load, `unlockAsset` for some of the members of the array will return `nil` as the referenced instance will not have been loaded yet. If you keep the instance refere

[2018-01-21 13:47] #241 closed, assigned to nobody

[2018-01-21 14:13] OrfeasZ commented on #271
Fixed in build 12376.

[2018-01-21 14:13] #271 closed, assigned to OrfeasZ

[2018-01-21 15:20] 3ti65 opened #274 "[Bug] Client disconnect when server really busy?"
Issue:

In my mod i read all ObjectBlueprints and put them in a list. When i then sort the list the client disconnects while the server is busy printing out stuff. Might be related to the print / console output. Or is this due to server overload? No kick message whatsoever.

Testmod:

[xulumod.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1649855/xulumod.zip)

Steps to reproduce:

-

[2018-01-21 15:23] Powback commented on #274
How long does it take to print? I would guess that the client console is busy, the server doesn’t receive a response and kicks the player as a response.

[2018-01-21 15:40] 3ti65 commented on #260
[spawn-soldier.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1649859/spawn-soldier.zip)

Testmod added

Steps to reproduce:

1. Be dead. Type 'spawn'
2. Spawns player with: M416, Glock17, FirstAidKit, Defib, Knife, Grenade (in this order!)
3. Use Mouse Scroll Wheel to select the next / previous weapon -> works just fine / as expected
4. Use Buttons 1-6 to select different items. Does

[2018-01-21 15:41] 3ti65 commented on #274
It's the server console though, shouldn't be related to the player directly.

[2018-01-21 15:43] Powback commented on #274
So if the player doesn’t respond the client disconnects then. Should take a few secs though

[2018-01-21 16:08] 3ti65 commented on #274
It feels like roughly 3-5 seconds. Should be configurable probably. Like picture 100 people losing connection because the server times out for 5 seconds.

[2018-01-21 19:50] OrfeasZ commented on #274
The connection between the client and the server times out after approximately 7 seconds in the worst case (iirc). If a keep-alive isn't sent in that period (ie. because of the server being super busy and unable to process a tick) then the client will get disconnected.

If you want to process a large amount of data you should instead do it incrementally on each tick (ie. `Engine:Update` event).

[2018-01-21 19:50] #274 closed, assigned to nobody

[2018-01-21 20:03] OrfeasZ commented on #260
After some further investigation it looks like indeed this is intended behavior.  They way keys are bound in Frostbite seems to be as follows:

- `1` is bound to `ConceptSelectInventoryItem1`
- `2` is bound to `ConceptSelectInventoryItem2`
- `3` is bound to `ConceptSwitchToStaticGadget`
- `4` is bound to `ConceptSelectInventoryItem5`
- etc...

You can look at `Input/VeniceSoldierInputConcepts` or

[2018-01-26 14:13] OrfeasZ commented on #239
Fixed in build 12396

[2018-01-26 14:13] #239 closed, assigned to kiwidoggie

[2018-01-26 15:36] OrfeasZ commented on #273
Implemented in build 12402.

[2018-01-26 15:36] #273 closed, assigned to nobody

[2018-01-26 17:43] OrfeasZ opened #275 "libZeus sometimes crashes when doing auto-login"
Note to self: fix response structures

[2018-01-27 13:06] Xulunix opened #276 "Spawned vehicles crash the server on map change"
After a vehicle is spawned, the server crashes if a new map is loaded.
Restarting or ending the round is ok as long as the map doesn't change.

To reproduce:
Build: 12402
1. Server configured to load Grand Bazzar (MP_001) with the mod on startup
2. Spawn and type "vehicle lav" in the chat, this spawns a `Vehicles/LAV25/LAV25` (on this map)
3. Change the map to Operation Firestorm (MP_012) using Pr

[2018-01-30 15:43] Powback opened #277 "Reloading mods from ingame rcon causes the server to crash."
Testmod: http://powback.com/u/67c833bc4373c42a245f91954c63826f.7z
Crashdump: http://powback.com/u/7b6a0a5b2841bacb6c6e96fea20ba59a.dmp

To reproduce type "reload" into chat.

[2018-01-30 15:55] Powback opened #278 "Console uses modlist.txt name instead of the name inside mod.json"
This causes the case to be incorrect depending on what you write inside modlist.txt.

Example:
[code]
[code]

[code]

This also applies to mods that were loaded through rcon.

[2018-01-30 17:11] Powback opened #279 "Client script compile errors are not shown."
If the server tries to compile a client script with errors, the errors are not shown. Instead we get a message saying that the script failed to compile.

[2018-01-30 21:58] Powback opened #280 "Creating certain types sometimes results in a crash"
Mod: http://powback.com/u/f25553b69430c98d5b3e92c327796107.7z
Debugger IDA:
`AC02B60: The instruction at 0xAC02B60 referenced memory at 0xFFFFFFFF. The memory could not be read (exc.code c0000005, tid 7976)`
2nd:
`AD798A0: The instruction at 0xAD798A0 referenced memory at 0xFFFFFFFF. The memory could not be read (exc.code c0000005, tid 14620)`

Debugger Visual Studio:
`Exception thrown at 0x0AB398

[2018-02-03 13:40] OrfeasZ commented on #275
Fixed in build 12433.

[2018-02-03 13:40] #275 closed, assigned to OrfeasZ

[2018-02-03 14:19] OrfeasZ commented on #279
This should be fixed in build 12435. If not let me know.

[2018-02-03 14:19] #279 closed, assigned to nobody

[2018-02-03 15:39] OrfeasZ commented on #272
Fixed in build 12441.

[2018-02-03 15:39] #272 closed, assigned to nobody

[2018-02-03 15:53] OrfeasZ commented on #276
Fixed in build 12442.

[2018-02-03 15:53] #276 closed, assigned to nobody

[2018-02-03 18:51] OrfeasZ opened #281 "Server file downloads during connection are not represented in the UI"

[2018-02-04 17:43] Powback opened #282 "Fullscreen Issues"
- [x] Missing alt+enter to get toggle fullscreen
- [x] If the game is started fullscreen you can't click anything certain times
- [ ] If the game settings is fullscreen, the VU main menu is displayed in a window at first launch, then set to fullscreen after you join a game.

[2018-02-04 18:37] kiwidoggie commented on #226
Fixed in build 12460

[2018-02-04 18:56] kiwidoggie commented on #226
Player:Left has been implemented in 12461

[2018-02-04 20:46] 3ti65 opened #283 "[Req] Make Hooks accessible across mods"
Similar to events, make hooks also availabe across all mods.

[2018-02-05 09:43] Powback commented on #257
The issue happened again.

I deleted all my settings and game files, then reinstalled.
The issue still persists.

[2018-02-05 09:50] Powback commented on #273
To be clear, this does not include an equals operator for instances?

[2018-02-06 07:04] 3ti65 commented on #280
Might this be related to the DataContainer issue you were talking about in the meeting?

[2018-02-06 14:05] OrfeasZ commented on #280
Possibly

On Feb 6, 2018, 09:04, at 09:04, 3ti65 <notifications@github.com> wrote:

[2018-02-07 15:59] Powback opened #284 "[REQ] Dependencies in [mod].json"
Some mods requires other mods to work.
Instead of having to manually enter all the mods into modlist.txt, there should be a possibility of loading the mods listed in the dependencies section of [mod].json

Example:
[code]
In addition to that, VEXT should check if said mod exists, and if it doesn't it should print a message saying that [mod] tried to load [OtherMod] which doesn't exist.
(This also

[2018-02-10 14:38] Powback commented on #263
Crashes in build 12461

[2018-02-11 13:52] FoolHen opened #285 "Changing vars in some instances on ReadInstance doesn't work"
Some recent VU update broke it, as some modifications that worked before don't now. I've noticed that happens with weapon vars and falldamage vars. For example, setting AlwaysAutoReload to false does't work anymore.
[instancebug.zip](https://github.com/EmulatorNexus/VeniceUnleashed/files/1714411/instancebug.zip)